<template>
  <div :class="[ 'ob-main-template', containerClass ]">
    <div class="ob-main-template-center-section">
      <div class="ob-main-template-content">
        <slot />
      </div>

      <div class="ob-main-template-footer" />
    </div>

    <div
      v-if="unathorizedPage"
      class="ob-main-template-header-unathorized"
    >
      <ob-logo />
    </div>

    <transition
      v-else
      name="fadeIn"
    >
      <div
        v-if="topLevelMembers.length"
        class="ob-main-template-header"
      >
        <ob-menu
          class="ob-header header"
          :top-level-members="topLevelMembers"
          :data-qa="dataQa"
          :lang-icon="langIcon"
          :contacts="contacts"
          @logout="$emit('logout')"
          @clickToObject="(data)=>{$emit('clickToObject', data)}"
          @profile="$emit('profile')"
          @change-locale="$emit('change-locale', $event)"
          @settings="$emit('settings')"
          @tasks="$emit('tasks')"
          @setCompany="$emit('setCompany')"
          @on-load-user-data="$emit('on-load-user-data', $event)"
        />
      </div>
    </transition>
  </div>
</template>

<script>
import ObMenu from '../obMainMenu/index.vue'
import obLogo from '../obMainMenu/obTemplateMenu/obLogo'

export default {
  name: 'ObMainTemplate',
  components: {
    ObMenu,
    obLogo
  },
  props: {
    topLevelMembers: Array,
    scrollDownSensitive: {
      type: Number,
      default: 100
    },
    scrollUpSensitive: {
      type: Number,
      default: 5
    },
    dataQa: {
      type: String
    },
    langIcon: {
      type: Boolean,
      default: true
    },
    unathorizedPage: {
      type: Boolean,
      default: false
    },
    contacts: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      scrollBase: 0,
      scrollCurrent: 0,
      scrollDirection: -1,
      scrollClass: ''
    }
  },
  computed: {
    containerClass () {
      return [
        {
          '--with-footer': Boolean(this.$slots.footer),
          '--without-menu': !this.unathorizedPage && (!this.topLevelMembers || !this.topLevelMembers.length),
          '--unathorized-page': this.unathorizedPage
        },
        `--header-${this.scrollClass}`
      ]
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll () {
      let yOffset = Math.round(window.pageYOffset)
      let step = yOffset - this.scrollCurrent

      if (step > 0) {
        if (this.scrollDirection < 0) {
          this.scrollBase = this.scrollCurrent
          this.scrollDirection = 1
        }
      } else {
        if (this.scrollDirection > 0) {
          this.scrollBase = this.scrollCurrent
          this.scrollDirection = -1
        }
      }

      this.scrollCurrent = yOffset
      step = this.scrollCurrent - this.scrollBase

      if (step < this.scrollUpSensitive * (-1)) {
        this.scrollClass = 'maximize'
      } else if (step > this.scrollDownSensitive) {
        this.scrollClass = 'minimize'
      }
    }
  }
}
</script>

<style lang="scss">
  @import '../../static/css/main';
  @import '../../static/css/oboz-font.scss';
  @import '../../static/css/fonts.scss';
  @import '../../static/css/colors';
  @import "../../static/css/mixins";
  @import "../../static/css/variables";

  .ob-main-template {
    --header-max-height: 104px;

    &.--header-minimize {
      --header-max-height: 65px;

      .ob-main-template-header {
        transition: .3s;

        .ob-menu-container {
          max-height: 80px;

          .oboz-middle-menu {
            transition: .3s;
            max-height: 0;
            overflow: hidden;
          }
        }
      }
    }

    &.--header-maximize .ob-main-template-header {
      transition: .2s;

      .ob-menu-container .oboz-middle-menu {
        transition: .2s;
        max-height: 80px;
      }
    }
  }

  .ob-main-template-header {
    position: relative;
    z-index: 4000;
    max-height: var(--header-max-height);
    animation-timing-function: linear;

    .el-popup-parent--hidden & {
      z-index: 1;
    }
  }

  .oboz-middle-menu {
    animation-timing-function: linear;
  }
</style>

<style lang="scss" scoped>
  .fadeIn-enter, .fadeIn-leave-to {
    opacity: 0;
  }

  .fadeIn-enter-active, .fadeIn-leave-active {
    transition: all .3s ease-in-out;
  }
</style>
