<template>
  <div :class="[ 'ob-questionnaire-group', { opened: isGroupOpened } ]">
    <div
      class="ob-questionnaire-group__toggler"
      :data-qa="dataQa"
      @click="onTogglerClick(groupData.uuid)"
    >
      <span class="icon chevron-right ob-questionnaire-group__icon" />

      <span>
        {{ groupData.title }}

        <span class="ob-questionnaire-group__questions-count">
          ({{ plural(groupData.questions.length, 'вопрос|вопроса|вопросов') }})
        </span>
      </span>

      <i
        v-if="isEditable"
        title="Удалить раздел"
        class="icon close ob-questionnaire-group__delete-button"
        @click.stop="deleteGroup(groupData.uuid, groupData.isUserQuestionsAvailable)"
      />
    </div>

    <div
      v-if="groupData.questions.length > 0"
      class="ob-questionnaire-group__content"
    >
      <div
        v-for="(question, j) in groupData.questions"
        :key="j"
        :class="[ 'ob-questionnaire-question', { 'without-border': isSimpleLayout } ]"
      >
        <i
          v-if="isEditable"
          title="Удалить вопрос"
          class="icon close ob-questionnaire-question__delete-button"
          @click="deleteQuestion(question.uuid, question.isUserQuestion)"
        />

        <div
          v-if="!groupData.isUserQuestionsAvailable || isSimpleLayout"
          class="ob-questionnaire-question__title"
        >
          <template v-if="!groupData.isUserQuestionsAvailable">
            {{ j + 1 }}.
          </template>

          {{ question.title || '—' }}

          <ObButton
            v-if="typeof question.comment !== 'string' && question.type !== 'TEXT' && !isCarrierFieldsDisabled"
            class="ob-questionnaire-question__add-comment-button"
            label="Добавить комментарий"
            type="flat"
            :mini="true"
            @click="addComment(question)"
          />
        </div>

        <div
          v-if="question.type === 'TEXT' && question.isUserQuestion"
          class="ob-questionnaire-question__textareas"
        >
          <template v-for="(field, i) in question.fields">
            <ObTextarea
              v-if="isShowBuyerInfo"
              :key="`user-question-${i}`"
              v-model="question.title"
              label="Текст вопроса"
              placeholder="Напишите здесь любой вопрос, который хотите задать поставщику"
              :readonly="fieldsDisabled"
              @focus="focusUserQuestion"
              @blur="modifiedUserQuestion(question.uuid, $event)"
            />

            <ObTextarea
              :key="`user-answer-${i}`"
              v-model="field.value"
              :placeholder="isSimpleLayout ? 'Напишите здесь ответ' : ''"
              :readonly="isCarrierFieldsDisabled"
              :label="field.title"
              @blur="onFieldChanged"
            />
          </template>
        </div>

        <div
          v-else-if="question.type === 'TEXT'"
          class="ob-questionnaire-question__text-grid"
        >
          <template v-for="(field, i) in question.fields">
            <ObDatePicker
              v-if="field.type === 'DATE'"
              :key="i"
              v-model="field.value"
              :label="field.title"
              :readonly="isCarrierFieldsDisabled"
              :data-qa="dataQa"
              class="ob-questionnaire-question__text-field"
              @input="onFieldChanged"
            />

            <ObSelect
              v-else-if="field.type === 'TIME'"
              :key="i"
              v-model="field.value"
              :items="timeItems"
              :value="field.value"
              :label="field.title"
              :disabled="isCarrierFieldsDisabled"
              :data-qa="dataQa"
              class="ob-questionnaire-question__text-field"
              @input="onFieldChanged"
            />

            <ObInput
              v-else
              :key="i"
              v-model="field.value"
              :label="field.title"
              :readonly="isCarrierFieldsDisabled"
              :type="field.type === 'NUMBER' ? 'number:strict' : 'text'"
              :data-qa="dataQa"
              class="ob-questionnaire-question__text-field"
              @blur="onFieldChanged"
            />
          </template>
        </div>

        <div
          v-else-if="question.type === 'SELECT' && question.fields.length"
          :class="[ 'ob-questionnaire-question__radios', { 'simple-grid': isPreviewOrFillMode } ]"
        >
          <template v-if="isShowBuyerInfo">
            <div>
              Варианты ответов:
            </div>

            <div>
              Баллы:
            </div>
          </template>

          <template v-for="(radio, k) in question.fields">
            <ObRadio
              v-if="fillMode || previewMode"
              :key="`radio-${k}`"
              v-model="question.selected"
              :label="radio.title"
              :value-input="radio.uuid"
              :disabled="(!radio.weight && !isPreviewOrFillMode) || (fieldsDisabled && !previewMode)"
              :data-qa="dataQa"
              @change="onFieldChanged"
            />

            <span
              v-else
              :key="`radio-label-${k}`"
            >
              {{ radio.title }}
            </span>

            <ObInput
              v-if="isShowBuyerInfo"
              :key="`input-${k}`"
              v-model="radio.weight"
              type="number:strict"
              :placeholder="String(radio.weight)"
              class="ob-questionnaire-question__input"
              :readonly="fieldsDisabled"
              :data-qa="dataQa"
              @input="onWeightChanged(radio.weight, question)"
            />
          </template>
        </div>

        <div
          v-else-if="question.type === 'MULTISELECT' && question.fields.length"
          :class="[ 'ob-questionnaire-question__radios', { 'simple-grid': isPreviewOrFillMode } ]"
        >
          <template v-if="isShowBuyerInfo">
            <div>
              Варианты ответов:
            </div>

            <div>
              Баллы:
            </div>
          </template>

          <template v-for="(radio, k) in question.fields">
            <ObCheckbox
              v-if="fillMode || previewMode"
              :key="`checkbox-${k}`"
              v-model="radio.value"
              :label="radio.title"
              :disabled="(!radio.weight && !isPreviewOrFillMode) || (fieldsDisabled && !previewMode)"
              :data-qa="dataQa"
              @change="onCheckboxChanged(question, radio.weight, ...arguments)"
            />

            <span
              v-else
              :key="`checkbox-label-${k}`"
            >
              {{ radio.title }}
            </span>

            <ObInput
              v-if="isShowBuyerInfo"
              :key="`input-${k}`"
              v-model="radio.weight"
              type="number:strict"
              :placeholder="String(radio.weight)"
              class="ob-questionnaire-question__input"
              :readonly="fieldsDisabled"
              :data-qa="dataQa"
              @input="onWeightChanged(radio.weight, question)"
            />
          </template>
        </div>

        <div
          v-if="typeof question.comment === 'string' && (countersDisabled || previewMode)"
          class="ob-questionnaire-question__comment"
        >
          <ObTextarea
            v-model="question.comment"
            :readonly="isCarrierFieldsDisabled"
            label="Комментарий"
            placeholder="Введите текст комментария"
            @input="onCommentChanged"
          />

          <i
            v-if="!isCarrierFieldsDisabled"
            title="Удалить комментарий"
            class="icon close ob-questionnaire-question__delete-comment-button"
            @click="removeComment(question)"
          />
        </div>

        <div
          v-if="!isSimpleLayout"
          class="ob-questionnaire-question__rank"
        >
          <span v-if="question.isEvaluated">
            Max баллов: {{ maxPointsForQuestion(question, question.type === 'MULTISELECT') }}
          </span>

          <span v-else>Не оценивается</span>
        </div>
      </div>

      <template v-if="isEditable && groupData.isUserQuestionsAvailable">
        <ObButton
          v-if="groupData.questions.length < 15"
          type="flat"
          icon="plus"
          label="Добавить вопрос"
          @click="addUserQuestion"
        />

        <span
          v-else
          class="ob-questionnaire-question__warning"
        >
          Вы добавили максимальное число вопросов.
        </span>
      </template>
    </div>
  </div>
</template>

<script>
import ObInput from '../../obInput'
import ObRadio from '../../obRadio'
import ObCheckbox from '../../obCheckbox'
import ObSelect from '../../obSelect'
import QuestionnaireMixin from './questionnaireMixin'
import ObDatePicker from '../../obDatePickerConstructor'
import ObTextarea from '../../obTextarea'
import ObButton from '../../obButton'

export default {
  name: 'QuestionnaireGroup',
  components: {
    ObDatePicker,
    ObSelect,
    ObRadio,
    ObInput,
    ObCheckbox,
    ObTextarea,
    ObButton
  },
  mixins: [
    QuestionnaireMixin
  ],
  props: {
    groupData: {
      type: Object,
      default: () => {}
    },
    previewMode: {
      type: Boolean,
      default: false
    },
    isGroupOpened: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      isUserQuestionFocus: false,
      currentUserQuestionTitle: '',
      commentTimeout: null
    }
  },
  computed: {
    isSimpleLayout () {
      return this.countersDisabled || this.previewMode
    },
    isPreviewOrFillMode () {
      return this.previewMode || this.fillMode
    },
    isEditable () {
      return !this.isSimpleLayout && !this.fieldsDisabled
    },
    isShowBuyerInfo () {
      return !this.isPreviewOrFillMode
    },
    isCarrierFieldsDisabled () {
      return !this.previewMode && ((!this.fillMode && !this.fieldsDisabled) || this.fieldsDisabled)
    },
    timeItems () {
      let items = []

      const today = new Date()
      today.setUTCHours(0, 0, 0, 0)

      for (let i = 0; i < 24; i++) {
        today.setUTCHours(i, 0, 0, 0)

        items.push({
          uuid: today.toISOString(),
          title: i + ':00'
        })

        today.setUTCHours(i, 30, 0, 0)

        items.push({
          uuid: today.toISOString(),
          title: i + ':30'
        })
      }

      return items
    }
  },
  methods: {
    onTogglerClick (groupUuid) {
      this.$emit('toggle-group', groupUuid)
    },
    maxPointsForQuestion (question, isMultiselect = false) {
      if (isMultiselect) {
        return question.fields.reduce((sum, question) => {
          return sum + Number(question.weight)
        }, 0)
      } else {
        return Math.max.apply(Math, question.fields.map((question) => {
          return Number(question.weight)
        })) || '—'
      }
    },
    onFieldChanged () {
      this.onSomeFieldChanged()
    },
    onCheckboxChanged (question, weight, value) {
      const oldWeight = question.weight || 0

      this.$set(question, 'weight', oldWeight + (value ? weight : -weight))

      this.onSomeFieldChanged()
    },
    onSomeFieldChanged () {
      this.$emit('field-changed')
      this.$emit('check-filled')
    },
    onWeightChanged (weight, question) {
      if (!weight) {
        return
      }

      this.$emit('weight-changed', question)
    },
    plural (value, unit) {
      return `${value} ${this.declOfNum(value, unit)}`
    },
    declOfNum (n, string) {
      const i = n % 10 === 1 && n % 100 !== 11 ? 0 : n % 10 >= 2 && n % 10 <= 4 && (n % 100 < 10 || n % 100 >= 20) ? 1 : 2

      return string.split('|')[i]
    },
    focusUserQuestion (title) {
      this.currentUserQuestionTitle = title
      this.isUserQuestionFocus = true
    },
    addUserQuestion () {
      this.$emit('user-question-added')
    },
    modifiedUserQuestion (uuid, title) {
      this.isUserQuestionFocus = false

      if (this.currentUserQuestionTitle !== title) {
        this.$emit('user-question-modified', uuid, title)
      }

      setTimeout(() => {
        if (!this.isUserQuestionFocus) {
          this.$emit('user-question-blur')
        }
      }, 0)
    },
    deleteGroup (uuid, isUserGroup) {
      this.$emit('delete-group', uuid, isUserGroup)
    },
    deleteQuestion (uuid, isUserQuestion) {
      this.$emit('delete-question', uuid, isUserQuestion)
    },
    addComment (question) {
      this.$set(question, 'comment', '')
    },
    removeComment (question) {
      this.$set(question, 'comment', null)
    },
    onCommentChanged () {
      clearTimeout(this.commentTimeout)

      this.commentTimeout = setTimeout(() => this.$emit('comment-changed'), 500)
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../../static/css/variables';
  @import '../../../static/css/mixins';

  @mixin delete-button ($isFloating: true) {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: $color-grey-span;
    cursor: pointer;
    transition: opacity $button-transition-timing;

    @if $isFloating {
      position: absolute;
      right: 20px;
      opacity: 0;
    }

    &:hover,
    &:focus {
      color: $color-text-base;
    }
  }

  .ob-questionnaire-group {
    $group: &;

    // Opened group
    &.opened {
      #{$group}__icon {
        transform: rotate(90deg);
      }

      #{$group}__content {
        display: block;
      }
    }

    &:last-child:not(.opened) &__toggler::after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $obQuestionnaire-section_toggler_border;
    }

    &__toggler {
      @include font-mixin(14px, 18px, normal, $color-blue-navy-blue);

      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: $blue-150;
      border-top: 1px solid $obQuestionnaire-section_toggler_border;
      padding: 3px 20px 0;
      height: 40px;
      cursor: pointer;
      position: relative;
    }

    &__icon {
      font-size: 24px;
      margin: -2px 10px 0 0;
    }

    &__content {
      padding: 20px 0 30px 54px;
      display: none;
    }

    &__questions-count {
      color: $color-grey-label;
    }

    &__delete-button {
      @include delete-button;

      top: 0;
      bottom: 0;
    }

    &:hover &__delete-button {
      opacity: 1;
    }
  }

  .ob-questionnaire-question {
    border: 1px solid $lavender;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .2px;
    position: relative;

    // Question without counters
    &.without-border {
      border: none;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &:hover {
      border-color: $cobalt;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &__title {
      @include font-mixin(16px, 24px, 700, $style-black, 0.4px);

      margin-bottom: 15px;
      padding-right: 30px; // To prevent layering with the 'delete' button
      display: flex;
    }

    &__comment {
      display: flex;
      align-items: center;
      max-width: 600px;
      margin-top: 15px;
    }

    &__add-comment-button {
      opacity: 0;
      margin: -2px 0 -4px 15px;
    }

    &__delete-comment-button {
      @include delete-button(false);

      margin-left: 10px;
    }

    &__rank {
      position: absolute;
      bottom: 18px;
      right: 25px;
      color: $gray-slate;
    }

    &__radios {
      display: grid;
      grid-template-columns: max-content 76px;
      align-items: center;
      grid-column-gap: 20px;
      grid-row-gap: 10px;

      &.simple-grid {
        grid-template-columns: 1fr;
      }
    }

    &__text-grid {
      display: flex;
      flex-wrap: wrap;
      margin: -5px -10px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &__text-field {
      flex: 1 0 50%;
      padding: 5px 10px;
    }

    /deep/ &__input {
      .ob-input-wrap {
        padding: 0 10px;
        height: 30px;

        .input {
          text-align: right;
        }
      }
    }

    &__textareas {
      display: grid;
      grid-row-gap: 20px;
      max-width: 660px;

      &:hover {
        opacity: 1;
      }
    }

    &__delete-button {
      @include delete-button;

      top: 20px;
    }

    &__warning {
      color: $color-grey-label;
    }

    &:hover &__delete-button {
      opacity: 1;
    }

    &:hover &__add-comment-button {
      opacity: 1;
    }

    .row:not(:last-child) {
      margin-bottom: 20px;
    }
  }
</style>
