<template>
  <div>1</div>
</template>
<script>

export default {
  name: 'ObTableGroup',
  components: {},
  props: {},
  data () {
    return {
    }
  },
  mounted () {},
  methods: {
    getColumnStyle (column) {
      return {
        width: `${column.width}px` || 'auto'
      }
    }
  }
}
</script>
<style scoped lang="scss"/>
