<template>
  <tr
    :class="[
      data.isEdit ? 'isEdit' : '',
      isRowFocus ? 'isRowFocus' : 'isNotFocus',
    ]"
    :data-qa="dataQa"
    @mousedown="onMouseDown"
    @mouseup="onMouseUp(data, $event)"
  >
    <td
      v-for="(column, index) in filteredColumns"
      :key="column.uuid"
      :style="getColumnStyle(column, index)"
      :class="[
        { '--sticky': column.fixed },
        { '--sticky-column-last': isColumnStickyLast(index) },
        { '--disabled': column.isGrayedWhenDisabled && column.isDisabled },
        { '--drag-hovered': column.key && dragHoveredColumn && parentTable.getUniqueColumnKey(column) === parentTable.getUniqueColumnKey(dragHoveredColumn)}
      ]"
      :data-table-cell-action="Boolean(column.action)"
    >
      <div
        :class="{ 'align-right': column.isAlignRight }"
        class="td-container"
      >
        <slot
          v-if="
            column.slotName &&
              ($slots[column.slotName] || $scopedSlots[column.slotName])
          "
          :name="column.slotName"
          :data="data"
        />
        <EditableField
          v-else-if="column.isEditColumn && !data.item.editDisable"
          ref="editableField"
          :data="data"
          :column="column"
          :data-qa="dataQa"
          :is-pending="isPending"
          :is-focus="isRowFocus"
          @save-item="saveItem"
          @change-focus-state="onRowFocusStateChanged"
        />
        <span
          v-else
          :data-qa="dataQa"
          @click="onTableCellClick($event, data.item, column)"
          v-html="getTableCellHtml(data.item, column)"
        />
      </div>
    </td>
  </tr>
</template>
<script>
import axios from 'axios'
import EditableField from './componentsTableRow/editableField'
import getCellHtmlMixin from './componentsTableRow/getCellHtmlMixin'

export default {
  name: 'ObTableRow',
  components: {
    EditableField
  },
  mixins: [getCellHtmlMixin],
  props: {
    filteredColumns: {
      type: Array,
      default: () => []
    },
    data: {
      type: Object,
      default: () => {}
    },
    optionsSaveItem: {
      type: Object,
      default: () => {}
    },
    tableColumnsWidths: {
      type: Array,
      default: () => []
    },
    dataQa: {
      type: String
    },
    dragHoveredColumn: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      isRowFocus: false,
      isPending: false,
      selectTimeout: null,
      isSelecting: false
    }
  },
  computed: {
    parentTable () {
      const getParent = (component) => {
        if (component.$options && component.$options.name && component.$options.name === 'ObTable') {
          return component
        }
        if (!component || !component.$parent) {
          return null
        } else {
          return getParent(component.$parent)
        }
      }
      return getParent(this.$parent)
    }
  },
  methods: {
    async saveItem (lastValue) {
      this.isPending = true

      if (this.optionsSaveItem.onSubmit) {
        await this.optionsSaveItem.onSubmit(this.data.item, lastValue)
      } else {
        let newUrlStart = this.optionsSaveItem.url.split('|')[0]
        let newUrlEnd = this.optionsSaveItem.url.split('|')[2] || ''
        let url = newUrlStart + this.data.item.uuid + newUrlEnd

        if (this.optionsSaveItem.method === 'post') {
          await axios.post(url, this.data.item)
        } else {
          alert('Метод для сохранения не определен')
        }
      }

      this.isPending = false
    },
    onRowFocusStateChanged ({ isFocus, lastValue, sendRowData }) {
      this.isRowFocus = isFocus

      if (!sendRowData) {
        return
      }

      const items = Object.entries(this.$refs.editableField)

      // Send changes only is field was modified
      if (!items.some((field) => field[1].isModified)) {
        return
      }

      // Added zero timeout, because otherwise new
      // focused field will not have 'isFocus' state yet
      setTimeout(() => {
        if (items.every((field) => !field[1].isFocus)) {
          this.saveItem(lastValue)

          // Reset fields 'isModified' flag
          this.$refs.editableField.forEach((field) => field.resetFieldState())
        }
      }, 0)
    },
    getColumnStyle (column, index) {
      let res = {}
      if (column.fixed) {
        res.left = this.getColumnStickyLeft(index) + 'px'
        res.zIndex = 50 - index
      }
      return res
    },
    getColumnStickyLeft (index) {
      let res = 0
      this.tableColumnsWidths.slice(0, index).forEach((i) => {
        res += i
      })
      return res
    },
    isColumnStickyLast (index) {
      let res = -1
      this.filteredColumns.forEach((column, i) => {
        if (column.fixed) {
          res = i
        }
      })
      return res === index
    },
    onMouseDown () {
      clearTimeout(this.selectTimeout)
      this.isSelecting = false
      this.selectTimeout = setTimeout(() => {
        this.isSelecting = true
      }, 300)
    },
    onMouseUp (data, $event) {
      if (this.isSelecting) {
        $event.stopPropagation()
      } else {
        if (!event.target.closest('[data-table-cell-action]')) {
          this.$emit('onSelect', { data, e: $event })
        }
      }
      this.isSelecting = false
    },
    onTableCellClick (e, item, column) {
      if (column.action) {
        e.stopPropagation()
        if (typeof column.action === 'function') {
          column.action(item, e)
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import "../../../static/css/table-style";
</style>
