<template>
  <thead :class="{fixed: fixed}">
    <tr>
      <th
        v-for="(column,index) in filteredColumns"
        :key="column.uuid"
        :style="getColumnStyle(column, index)"
        :class="[
          { '--sort-disable': column.isDisabled || column.sortDisable },
          { '--sticky': fixed || column.fixed },
          { '--sticky-column-last': isColumnStickyLast(index) },
          { '--disabled': column.isGrayedWhenDisabled && column.isDisabled },
          { '--drag-hovered': column.key && dragHoveredColumn && parentTable.getUniqueColumnKey(column) === parentTable.getUniqueColumnKey(dragHoveredColumn)},
        ]"
        :data-qa="dataQa + '_' + column.key"
        @click="onSort(column)"
        @mousedown="parentTable.dragMouseDownHandler($event, column)"
      >
        <div
          :class="{ 'align-right': column.isAlignRight }"
          class="td-container"
        >
          <!--ob_th_el-->
          <span class="column-title">
            <template v-if="column.key === 'checkbox' && showHeaderCheckbox">
              <span>
                <ob-checkbox @change="onCheckAll" />
              </span>
            </template>
            <template v-if="column.headerHtml">
              <span v-html="column.headerHtml(column)" />
            </template>
            <template v-else>
              {{ column.title }}
            </template>
            <template v-if="column.titleInfo">
              <ObTooltip
                :content="column.titleInfo"
              >
                <i class="icon question title-info-icon" />
              </ObTooltip>
            </template>
          </span>
          <span
            v-if="sort.key === column.key"
            class="sort-direction"
            :class="sort.direction ? '' : '--revert'"
          >
            <i
              class="icon sort-single"
            />
          </span>

          <template v-if="column.withFilter">
            <i
              class="icon filter filter-toggle"
              title="Добавить фильтр"
              @click.stop="toggleFilterDropdown(column)"
            />

            <div
              v-if="column._isFilterDropdownVisible"
              v-click-outside="() => column.valueType !== 'DATE' ? toggleFilterDropdown(column) : ''"
              :class="[ 'filter-dropdown', column.valueType ? `type-${column.valueType.toLowerCase()}` : '' ]"
              @click.stop
            >
              <ObSelect
                v-if="column.valueType === 'CHECKLIST'"
                :value="column._filters"
                :items="column.items"
                is-auto-complete
                is-dropdown
                is-only-dropdown
                class="filter-dropdown__checklist"
                @close="toggleFilterDropdown(column)"
                @input="commitFiltersChange(column, $event, true)"
              />
              <ObDatePicker
                v-else-if="column.valueType === 'DATE'"
                v-model="column._filterQuery"
                :label="column.title"
                @input="applyFilter(column)"
              />
              <ObInput
                v-else
                v-model="column._filterQuery"
                :type="column.valueType === 'MONEY' ? 'money:2' : 'text'"
                placeholder="Фильтр по ключевому слову"
                @on-enter="applyFilter(column)"
              />
            </div>
          </template>
        </div>

        <div
          v-if="column._filters && column._filters.length"
          class="filter-list-wrapper"
          @click.stop
        >
          <ul
            :style="filtersHeight"
            class="filter-list"
          >
            <li
              v-for="(filter, i) in column._filters"
              :key="i"
              :class="[
                'filter-list__item',
                { hidden: column._filters.length > 3 && i > 1 && !column._isShowAllFilters }
              ]"
            >
              <span class="filter-list__text">
                <span
                  v-if="column.valueType === 'CHECKLIST'"
                  :title="column.items.find(item => item.uuid === filter).title"
                >
                  {{ column.items.find(item => item.uuid === filter).title }}
                </span>

                <span
                  v-else-if="column.valueType === 'MONEY'"
                  :title="filter/100"
                >
                  {{ filter/100 }}
                </span>

                <span
                  v-else
                  :title="filter"
                >
                  {{ filter }}
                </span>
              </span>

              <i
                title="Убрать фильтр"
                class="icon close filter-list__remove-button"
                @click.stop="removeFilter(column, filter)"
              />
            </li>
            <li
              v-if="column._filters.length > 3"
              class="filter-list__item clickable"
              @click="toggleAllFilters(column)"
            >
              <template v-if="column._isShowAllFilters">
                Скрыть
              </template>

              <template v-else>
                Ещё {{ column._filters.length - 2 }}
              </template>
            </li>
          </ul>
        </div>
      </th>
    </tr>
  </thead>
</template>
<script>
import ClickOutside from 'vue-click-outside'
import ObTooltip from '../../obTooltip'
import ObCheckbox from '../../obCheckbox'
import ObInput from '../../obInput'
import ObSelect from '../../obSelect'
import ObDatePicker from '../../obDatePickerConstructor'
import moment from 'moment'

export default {
  name: 'ObTable',
  directives: {
    ClickOutside
  },
  components: {
    ObTooltip,
    ObCheckbox,
    ObInput,
    ObSelect,
    ObDatePicker
  },
  props: {
    tableColumnsWidths: {
      type: Array,
      default: () => []
    },
    filteredColumns: {
      type: Array,
      default: () => []
    },
    uuidTable: {
      type: String,
      default: null
    },
    fixed: {
      type: Boolean,
      default: false
    },
    sort: {
      type: Object,
      default: () => {
        return {
          key: null,
          type: null,
          direction: false
        }
      }
    },
    dataQa: {
      type: String
    },
    showHeaderCheckbox: {
      type: Boolean,
      default: false
    },
    dragHoveredColumn: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      filtersDebounce: null
    }
  },
  computed: {
    filtersHeight () {
      const ITEM_GAP = 5
      const ITEM_HEIGHT = 12
      const MAX_VISIBLE_ITEMS = 3

      const maxFiltersCount = Math.max(...this.filteredColumns.map((column) => {
        switch (true) {
          case !column._filters:
            return 0

          // When user has removed many filters with enabled '_isShowAllFilters'
          case column._isShowAllFilters && column._filters.length <= MAX_VISIBLE_ITEMS:
            return column._filters.length

          case column._isShowAllFilters:
            return column._filters.length + 1

          case column._filters.length > MAX_VISIBLE_ITEMS:
            return MAX_VISIBLE_ITEMS

          default:
            return column._filters.length
        }
      }))

      return `height: ${maxFiltersCount * ITEM_HEIGHT + (maxFiltersCount - 1) * ITEM_GAP}px`
    },
    parentTable () {
      const getParent = (component) => {
        if (component.$options && component.$options.name && component.$options.name === 'ObTable') {
          return component
        }

        if (!component || !component.$parent) {
          return null
        } else {
          return getParent(component.$parent)
        }
      }

      return getParent(this.$parent)
    }
  },
  mounted () {
    this.checkInitParams()
  },
  methods: {
    onSort (column) {
      if (column.isDisabled || column.sortDisable) return
      if (this.sort.key === column.key) {
        this.sort.direction = !this.sort.direction
      } else {
        this.sort.key = column.key
        this.sort.type = column.sort
        this.sort.direction = false
      }
      this.$emit('onSort', this.sort)
    },
    onCheckAll () {
      this.$emit('onCheckAll')
    },
    checkInitParams () {
      if (this.sortInit) {
        let sortParams = this.sortInit.split(':')
        this.sort = {
          key: sortParams[0],
          direction: sortParams[1] || false,
          type: sortParams[2] || null
        }
      }
    },
    getColumnStyle (column, index) {
      let res = {}
      if (this.fixed) {
        res.top = '-1px'
        res.zIndex = 100 - index
      }
      if (column.fixed) {
        res.left = this.getColumnStickyLeft(index) + 'px'
        res.zIndex = 100 - index
      }
      if (column.exactWidth) {
        res.width = column.exactWidth
      }
      if (column.width) {
        res['min-width'] = column.width + 'px'
      }
      return res
    },
    getColumnStickyLeft (index) {
      let res = 0
      this.tableColumnsWidths.slice(0, index).forEach(i => { res += i })
      return res
    },
    isColumnStickyLast (index) {
      let res = -1
      this.filteredColumns.forEach((column, i) => {
        if (column.fixed) {
          res = i
        }
      })
      return res === index
    },
    toggleFilterDropdown (column) {
      const newState = !column._isFilterDropdownVisible

      this.filteredColumns.forEach((item) => {
        this.$set(item, '_isFilterDropdownVisible', false)
      })

      this.$set(column, '_isFilterDropdownVisible', newState)
    },
    applyFilter (column) {
      // const filters = column._filters || []
      // filters.push(column._filterQuery)
      // TODO: Temporary limitation to 1 active filter per column

      let data = column._filterQuery

      if (!data?.trim()) {
        return
      }

      if (column.valueType === 'DATE') {
        data = moment(data).format('YYYY-MM-DD')
      }

      const filters = [data]

      this.$set(column, '_filters', filters)
      this.$set(column, '_filterQuery', null)

      this.toggleFilterDropdown(column)
      this.commitFiltersChange(column, filters)
    },
    removeFilter (column, filter) {
      const filters = column._filters || []

      filters.splice(filters.findIndex(item => item === filter), 1)

      this.commitFiltersChange(column, filters.length ? filters : null)
    },
    async commitFiltersChange (column, value, withDebounce = false) {
      this.$set(column, '_filters', value)

      if (withDebounce) {
        clearTimeout(this.filtersDebounce)

        await new Promise((resolve) => {
          this.filtersDebounce = setTimeout(resolve, 700)
        })
      }

      this.$emit('on-filter-changed', { column, filters: column._filters })
    },
    toggleAllFilters (column) {
      this.$set(column, '_isShowAllFilters', !column._isShowAllFilters)
    }
  }
}
</script>
<style
    scoped
    lang="scss"
>
@import "../../../static/css/mixins";

.table-panel-inner {
  &::v-deep {
    mark {
      color: $obTable-mark_color;
      background: $obTable-mark_background;
    }
    .missing-property {
      color: red;
      font-size: 12px;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
.ob-table-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  &_isLoading {
    min-height: 120px;
  }
  &__loader {
    &-row {
      position: absolute;
      display: flex;
      background: $obTable-inner_loader_row_background ;
      top: 0;
      left: 0;
      justify-content: center;
      width: 100%;
      height: 100%;
      min-height: 120px;
      padding: 20px 0 20px 0;
    }
    &-column {
      display: flex;
      flex-direction: column;
      margin-top: 120px;
      min-height: 120px;
      height: 100%;
    }
  }
  &.--with-data {
    .table-panel-inner {
      flex-grow: 2;
    }
  }
  &.--with-pagination {
    .table-footer {
      height: 40px;
    }
  }
  &.tb_showMore {
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 30px;
      background: -moz-linear-gradient(0deg, $obTable-showMore_gradient_start 0%, $obTable-showMore_gradient_end 100%); /* ff3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, $obTable-showMore_gradient_start), color-stop(100%, $obTable-showMore_gradient_end)); /* safari4+,chrome */
      background: -webkit-linear-gradient(0deg, $obTable-showMore_gradient_start 0%, $obTable-showMore_gradient_end 100%); /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(0deg, $obTable-showMore_gradient_start 0%, $obTable-showMore_gradient_end 100%); /* opera 11.10+ */
      background: -ms-linear-gradient(0deg, $obTable-showMore_gradient_start 0%, $obTable-showMore_gradient_end 100%); /* ie10+ */
      background: linear-gradient(90deg, $obTable-showMore_gradient_start 0%, $obTable-showMore_gradient_end 100%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$obTable-showMore_ms_gradient_start, endColorstr=$obTable-showMore_ms_gradient_end, GradientType=1); /* ie6-9 */
      z-index: 100;
    }
    &.tb_footer:before {
      bottom: 40px;
    }
    &.th_header:before {
      top: 60px;
    }
    &.tb_footer.th_header:before {
      top: 60px;
      bottom: 40px;
    }
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  min-width: 1100px;
  tbody {
    &.--closed {
      .groups-row {
        display: none;
      }
    }
  }
  .groups-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding: 10px 14px;
    background-color: $light-lavender;
    cursor: pointer;
    & > i {
      margin-right: 15px;
      transform: translateY(-1px);
      font-size: 22px;
      color: $color-blue-navy-blue;
    }
    & > div {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $color-blue-navy-blue;
    }
  }
}
tr {
  border-top: 1px solid $lavender;
  border-bottom: 1px solid $lavender;
  &:not(:first-child):hover {
    background: $light-lavender;
  }
  &.row-selected {
    background: $blue-blue-hoarfrost;
    &:hover {
      background: $blue-blue-hoarfrost;
    }
  }
}
td, th {
  padding: 0;
  > .td-container {
    min-height: 40px;
    padding: 8px 14px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $color-text-base;
  }
  &:first-child > .td-container {
    padding-left: 18px;
  }
  &:last-child > .td-container {
    padding-right: 18px;
  }
  &.--sticky {
    position: sticky;
    background: $background-white;
    &.--sticky-column-last {
      background: linear-gradient(-90deg, $obTable-sticky_column_last_gradient_color_1 0px, $obTable-sticky_column_last_gradient_color_2 4px, $background-white 4px, $background-white 100%);
    }
  }
  &.--disabled {
    background-color: rgba($color-white-lilac, 0.6);
  }
}
th {
  vertical-align: top;
  user-select: none;
  &.--drag-hovered {
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 5000;
      top: 0;
      left: 0;
      background-color: $color-blue-navy-blue;
      opacity: 0.1;
    }
  }
  &:not(.--disabled):hover {
    background: $obTable-obHeaderTable_th_background_hover;
  }
  & > .td-container {
    position: relative;
    font-size: 9.5px;
    line-height: 13px;
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: $shale-gray;
    cursor: pointer;

    &.align-right {
      justify-content: flex-end;
      text-align: right;
    }
  }
  &.--sort-disable {
    & > .td-container {
      cursor: default;
    }
  }
}
thead.fixed {
  tr {
    border-top: none;
    border-bottom: none;
    th {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      box-shadow: inset 0 1px 0 $lavender, inset 0 -1px 0 $lavender;
    }
  }
}
.td-container {
  display: flex;
  align-items: center;
}
.table-panel-inner {
  background: $background-white;
  overflow-x: auto;
  position: relative;
}
.table-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0 15px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .4px;
  border-top: 1px $lavender solid;
  border-bottom: 1px solid transparent;
  color: $shale-gray;
  background: $background-color-light;
  &:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: linear-gradient(180deg, $obTable-footer_gradient_color_1_before 0%, $obTable-footer_gradient_color_2_before 100%);
    opacity: 0.4;
  }
}
.total-count {
  flex-shrink: 0;
  margin-right: 20px;
}
.table-empty {
  flex-grow: 2;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: $obTable-obHeaderTable_table_empty_color;
  font-weight: 900;
}
.column-title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.sort-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  font-size: 14px;
  line-height: 15px;
  color: $obTable-obHeaderTable_sort_direction_color;
  .icon::before {
    color: $color-grey-span;
  }
  &.--revert {
    transform: rotate(180deg) translateY(1px);
  }
}
.title-info-icon {
  cursor: default;
  position: relative;
  top: 1px;
  font-size: 12px;
  font-weight: bold;
  color: $color-blue-navy-blue;
}
.filter-toggle {
  margin: 1px 0 0 6px;
  cursor: pointer;
  font-size: 8px;
  font-weight: bold;
  color: $color-grey-span;
  &:hover {
    color: $color-blue-navy-blue;
  }
}
.filter-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $background-white;
  box-shadow: 0 4px 16px rgba($blue-700, .2);
  border-radius: 3px;
  min-width: 300px;
  z-index: 100;
  cursor: auto;
  &:not(.type-checklist) {
    padding: 20px;
  }
  &__checklist {
    margin-bottom: 12px;
  }
}
.filter-list-wrapper {
  padding: 9px 0 9px 10px;
  margin: 0 0 10px 18px;
  border-left: 1px solid $color-grey-border;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: auto;
    bottom: 0;
    right: auto;
    left: -3px;
    border: solid $color-grey-border;
    border-width: 1px 0 0 1px;
    display: inline-block;
    padding: 2px;
    transform: rotate(-135deg);
  }
}
.filter-list {
  list-style: none;
  text-align: left;
  display: grid;
  align-content: center;
  grid-row-gap: 5px;
  &__item {
    @include font-mixin(10px, 12px, 400, $color-blue-navy-blue, 0.4px);
    display: flex;
    align-items: center;
    &.hidden {
      display: none;
    }
    &.clickable {
      cursor: pointer;
    }
  }
  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }
  &__remove-button {
    cursor: pointer;
    margin-left: 4px;
    font-size: 12px;
    &:not(:hover) {
      color: $color-grey-span;
    }
  }
}
</style>
