<template>
  <div
    class="ob-switcher-radio-container switcher-wrapper"
    :class="{ 'disabled': disabled, 'readonly': readonly, 'dark-theme': dark }"
  >
    <label :class="{ 'selected': modelValue === valueLeft }">
      {{ valueLeft }}
      <input
        data-attr="ob-switcher-radio-container"
        type="radio"
        :checked="modelValue === valueLeft"
        :value="valueLeft"
        :disabled="disabled || readonly"
        :data-qa="dataQa"
        @change="$emit('change', valueLeft)"
      >
    </label>
    <div
      class="switch-box"
      :data-qa="dataQa"
      @click="onClick"
    >
      <div
        class="switch-button"
        :class="{ 'switch-button-left': modelValue === valueLeft, 'switch-button-right': modelValue === valueRight }"
      />
    </div>
    <label :class="{ 'selected': modelValue === valueRight }">
      {{ valueRight }}
      <input
        data-attr="ob-switcher-radio-container"
        type="radio"
        :checked="modelValue === valueRight"
        :value="valueRight"
        :disabled="disabled || readonly"
        :data-qa="dataQa"
        @change="$emit('change', valueRight)"
      >
    </label>
  </div>
</template>
<script>
export default {
  name: 'ObSwitcherCheckbox',
  model: {
    prop: 'modelValue',
    event: 'change'
  },
  props: {
    disabled: {
      type: Boolean,
      default: () => false
    },
    readonly: {
      type: Boolean,
      default: () => false
    },
    dark: {
      type: Boolean,
      default: () => false
    },
    valueLeft: {
      type: [Boolean, String, Number],
      required: true
    },
    valueRight: {
      type: [Boolean, String, Number],
      required: true
    },
    modelValue: {
      type: [Boolean, String, Number],
      default: ''
    },
    dataQa: {
      type: String
    }
  },
  methods: {
    onClick () {
      if (this.disabled || this.readonly) return
      this.$emit('change', this.modelValue === this.valueLeft ? this.valueRight : this.valueLeft)
    }
  }
}
</script>
<style
  lang="scss"
  scoped
>
  $transition-timing: .2s cubic-bezier(.645, .045, .355, 1);

  .ob-switcher-radio-container {
    label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $color-grey-border;
      transition: $transition-timing;

      &.selected {
        color: $color-blue-navy-blue;
      }
    }

    &.switcher-wrapper {
      display: inline-flex;
      align-items: center;

      &.dark-theme {
        .switch-box {
          background: $background-black;
          box-shadow: inset 0px 0px 4px rgba($color-blue-navy-blue, 0.48);
        }
      }

      &.disabled {
        pointer-events: none;

        label {
          color: $color-grey-border;
        }

        .switch-box {
          box-shadow: none;
          background: $color-light-grey;
        }

        .switch-button {
          box-shadow: none;
        }

        input:checked {
          + .switch-box .switch-button {
            box-shadow: none;
          }
        }
      }

      &.readonly {
        label {
          cursor: default;
        }

        .switch-box {
          cursor: default;
          box-shadow: none;
          background: $color-light-grey;
        }
      }
    }

    .switch-box {
      width: 28px;
      height: 14px;
      border-radius: 16px;
      background: $background-color-light;
      margin: 0 8px;
      transition: $transition-timing;
      box-shadow: inset 0px 0px 4px $obSwitcherRadio-switch_box_shadow;
      cursor: pointer;
    }

    .switch-button {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: relative;
      top: -1px;
      transition: $transition-timing;
      background: $color-blue-navy-blue;
      box-shadow: 2px 1px 4px rgba($color-blue-navy-blue, 0.6);

      &.switch-button-left {

      }

      &.switch-button-right {
        transform: translate3d(calc(28px - 100%), 0, 0);
      }
    }

    input {
      margin: 0;
      padding: 0;
      width: 0;
      height: 0;
      opacity: 0;
      background: transparent;
      position: absolute;
    }
  }
</style>
