<template>
  <div />
</template>

<script>
import { generateFormData } from '../../helpers/common'
import cloneDeep from 'clone-deep'

export default {
  name: 'FormValidationMixin',
  props: {
    dataSource: {
      type: [Object],
      default: () => {}
    },
    userAccess: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      formRefName: 'FORM_WRAPPER',
      formData: {},
      formModal: null
    }
  },
  computed: {
    validator () {
      return this.$refs[this.formRefName] && this.$refs[this.formRefName].$v
    },
    parentModal () {
      let getParent = (component) => {
        if (component.$options && component.$options.name && component.$options.name === 'ObModal') {
          return component
        }

        if (!component || !component.$parent) {
          return null
        } else {
          return getParent(component.$parent)
        }
      }

      return this.formModal || getParent(this.$parent)
    }
  },
  watch: {
    async 'parentModal.visible' (value) {
      if (!value) {
        this.formData = {}
      } else {
        this.generateForm()
      }
    },
    formModel (model) {
      if (model) {
        this.generateForm()
      }
    },
    dataSource () {
      this.generateForm()
    }
  },
  mounted () {
    this.formModal = this.$refs.modal || null
    this.generateForm()
  },
  methods: {
    async generateForm () {
      this.formData = generateFormData({ model: this.formModel, data: cloneDeep(this.dataSource), assign: true })
      this.$nextTick(async () => {
        if (this.afterInitForm && typeof this.afterInitForm === 'function') {
          await this.afterInitForm()
        }
      })
    },
    parentModalClose () {
      this.parentModal && this.parentModal.close()
    }
  }
}
</script>
