<template>
  <div />
</template>

<script>
import { getValueFromPath } from '../../helpers/common'
import ClickOutside from 'vue-click-outside'

export default {
  name: 'FormItemMixin',
  directives: {
    ClickOutside
  },
  props: {
    property: {
      type: [String, Array],
      default: null
    }
  },
  computed: {
    form () {
      let getParent = (component) => {
        if (component.$options && component.$options.name && component.$options.name === 'ObForm') {
          return component
        }

        if (!component || !component.$parent) {
          return null
        } else {
          return getParent(component.$parent)
        }
      }

      return getParent(this.$parent)
    },
    validator () {
      return this.form && this.form.$v
    },
    propertyValidator () {
      if (!this.validator) return

      return getValueFromPath({ data: this.validator.formData, path: this.property })
    },
    formModel () {
      return this.form && this.form.formModel
    },
    currentErrors () {
      let existErrors = this.form && this.form.stateErrors && Boolean(Object.keys(this.form.stateErrors).length)

      if (!existErrors) return false

      let errors = false

      let getError = (key) => {
        return getValueFromPath({
          data: this.form.stateErrors,
          path: key,
          unbind: true
        })
      }

      if (Array.isArray(this.property)) {
        this.property.some((key) => {
          errors = getError(key)
          return errors
        })
      } else {
        errors = getError(this.property)
      }

      return errors
    },
    mainError () {
      let mainError = this.currentErrors && this.currentErrors.mainError
      let isShowRequired = this.form && this.form.isShowRequired
      let isRequired = mainError && mainError.key.toLowerCase().includes('required')
      return mainError && (!isRequired || (isShowRequired && isShowRequired)) ? mainError : null
    },
    mainErrorKey () {
      return this.mainError && this.mainError.key
    },
    mainErrorText () {
      return this.mainError && this.mainError.text
    }
  },
  methods: {
    onOutsideClick () {
      if (this.active) {
        this.active = false
        this.touchField()
      }
    },
    touchField () {
      return this.propertyValidator && this.propertyValidator.$touch()
    }
  }
}
</script>
