<template>
  <button
    :id="id"
    :class="[{ 'full-width': isFullWidth, disabled, danger, mini, 'theme-dark': dark }, `${type}-type`, 'ob-button-container']"
    data-attr="ob-button-container"
    :data-qa="dataQa"
    @click="onClick"
  >
    <i
      v-if="icon"
      :class="['icon', icon]"
    />
    <span>
      <slot>
        {{ label }}
      </slot>
    </span>
    <div
      v-if="tooltip"
      class="button-tooltip"
    >
      <ob-tooltip>
        <div slot="content">
          <div class="tooltip">
            {{ tooltip }}
          </div>
        </div>
        <i class="icon info" />
      </ob-tooltip>
    </div>
  </button>
</template>
<script>
import ObTooltip from '../obTooltip'
import UniqueIdMixin from '../../mixins/unique-id'

export default {
  name: 'ObButton',
  components: {
    ObTooltip
  },
  mixins: [
    UniqueIdMixin
  ],
  props: {
    label: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: () => false
    },
    danger: {
      type: Boolean,
      default: () => false
    },
    mini: {
      type: Boolean,
      default: () => false
    },
    dark: {
      type: Boolean,
      default: () => false
    },
    type: {
      type: String,
      default: () => 'primary'
    },
    icon: {
      type: String
    },
    tooltip: {
      type: String
    },
    to: {
      type: [ String, Object ],
      default: () => null
    },
    href: {
      type: String,
      default: null
    },
    isFullWidth: {
      type: Boolean,
      default: false
    },
    dataQa: {
      type: String
    }
  },
  methods: {
    onClick () {
      if (this.disabled) return
      if (this.to) {
        this.$router.push(this.to)
      } else if (this.href) {
        window.open(this.href, '_blank')
      }
      this.$emit('click')
    }
  }
}
</script>
<style lang="scss" scoped>
@import "../../static/css/mixins";

.ob-button-container {
  @include font-mixin(16px, 16px, 400, $cobalt-black, 0.4px);

  border-radius: 20px;
  padding: 0 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  outline: none;
  user-select: none;
  cursor: pointer;
  background: transparent;
  transition: all $button-transition-timing;
  min-width: 100px;
  max-width: 100%;
  width: auto;
  height: 40px;

  &:focus {
    border-color: #0096DE;
  }

  > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.full-width {
    width: 100%;
  }

  &.mini {
    min-width: 80px;
    height: 30px;
    font-size: 14px;
  }

  &.disabled {
    pointer-events: none;
  }

  &.primary-type {
    color: $color-text-base;
    background: $Green-700;

    &:hover {
      background: rgba($Green-700, 0.8);
      box-shadow: 0px 4px 16px rgba($Green-700, 0.3);
    }

    .ctrl-group &:hover {
      box-shadow: none;
    }

    &:active {
      background: $green-800;
    }

    &.danger {
      background: $color-error; // TODO
      color: #fff;
      &:hover {
        box-shadow: 0px 4px 16px rgba($color-error, 0.32); // TODO
      }
    }

    &.disabled {
      background: $gray-200;
      color: $gray-slate !important;
    }

    &.theme-dark { // TODO
      &.disabled {
        background: $color-grey-span;
        color: $obButton-primary_color_dark_disabled !important;
      }
    }
  }

  &.primary-success-type { // TODO
    color: $obButton-primary-success;
    background: $color-green-light;

    &:hover {
      box-shadow: 0px 4px 16px rgba($color-green-light, 0.3);
    }

    .ctrl-group &:hover  {
      box-shadow: none;
    }

    &:active {
      background: $color-green-dark;
    }

    &.danger {
      background: $color-error;
      color: #fff;
      &:hover {
        box-shadow: 0px 4px 16px rgba($color-error, 0.32);
      }
    }

    &.disabled {
      background: $color-light-grey;
      color: $obButton-primary-success_color_disabled !important;
    }

    &.theme-dark {
      &.disabled {
        background: $color-grey-span;
        color: $obButton-primary-success_color_dark_disabled !important;
      }
    }
  }

  &.outline-type {
    color: $color-blue-navy-blue;
    border: 2px solid $color-blue-navy-blue;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      color: $blue-800;
      border-color: $blue-800;
    }

    &.danger {
      color: $color-error;
      border-color: $color-error;

      &:hover {
        box-shadow: 0px 4px 16px rgba($color-error, 0.32);
      }
    }

    &.disabled {
      color: $gray-window;
      border-color: $gray-window;
    }
  }

  &.flat-type {
    color: $color-blue-navy-blue;

    &:hover {
      background: rgba($color-blue-navy-blue, 0.1);
    }

    &:active {
      color: $blue-800;
      background: rgba($blue-800, 0.1);
    }

    &.danger {
      color: $color-error;
    }

    &.disabled {
      color: $color-grey-border;
    }
  }

  i {
    margin-right: 0.3em;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: flex-end;

    &:before {
      color: inherit;
    }
  }
}

.button-tooltip {
  width: 1em;
  height: 1px;
  display: flex;
  align-items: center;
  margin-left: 0.2em;

  i {
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
  }
}
</style>
