<template>
  <div class="ob-menu-container">
    <ObTopMenu
      :menu="topLevelMembers"
      :events="events"
      :data-qa="dataQa"
      :is-lang-icon="langIcon"
      :contacts="contacts"
      @logout="$emit('logout')"
      @profile="$emit('profile')"
      @settings="$emit('settings')"
      @tasks="$emit('tasks')"
      @change-locale="$emit('change-locale', $event)"
      @clickToObject="(data)=>{$emit('clickToObject', data)}"
      @setCompany="$emit('setCompany')"
      @on-load-user-data="$emit('on-load-user-data', $event)"
    />
    <ob-middle-menu
      v-if="thirdLevel.length"
      :middle-menu="thirdLevel"
      :controls="computedMiddleControls"
      :events="events"
    />
  </div>
</template>

<script>
import ObTopMenu from './obTemplateMenu/ObTopMenu.vue'
import ObMiddleMenu from './obTemplateMenu/ObMiddleMenu.vue'
import { getCookie } from '@/utils/cookie'
import jwtDecode from 'jwt-decode'
import { mapGetters } from 'vuex'

export default {
  name: 'ObMainMenu',
  components: { ObTopMenu, ObMiddleMenu },
  props: {
    version: {
      type: String,
      default: `Без версии ${new Date().toLocaleDateString('ru-RU')}`
    },
    events: {
      type: Object,
      default: () => {}
    },
    roles: {
      type: Array,
      default: () => []
    },
    topLevelMembers: {
      type: Array,
      default: () => []
    },
    dataQa: {
      type: String
    },
    langIcon: {
      type: Boolean
    },
    contacts: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    let token = getCookie('auth_token')
    return {
      tokenData: token
        ? jwtDecode(token)
        : {},
      path: window.location.pathname.match(/\/(.*?)\//) ? window.location.pathname.match(/\/(.*?)\//)[1] : ''
    }
  },
  computed: {
    ...mapGetters({
      role: 'user/secondaryRole'
    }),
    current () {
      return this.$route ? this.topLevelMembers.find(item => item.code === this.$route.name) : {}
    },
    topItem () {
      if (this.current) {
        if (this.current.parent_uuid) {
          let m1 = this.topLevelMembers.find(i => i.uuid === this.current.parent_uuid)
          if (m1 && m1.parent_uuid) {
            let m2 = this.topLevelMembers.find(i => i.uuid === m1.parent_uuid)
            if (m2 && m2.parent_uuid) {
              return this.topLevelMembers.find(i => i.uuid === m2.parent_uuid)
            } else {
              return m2
            }
          } else {
            return m1
          }
        } else {
          return this.current
        }
      }
      return false
    },
    secondLevel () {
      return this.current ? this.isDropDown ? this.topLevelMembers.find(item => item.uuid === this.current.parent_uuid) : this.topItem : false
    },
    computedMiddleControls () {
      if (!this.secondLevel) return null

      let result = this.topLevelMembers.filter((item) => {
        return item.action && (item.parent_uuid === this.secondLevel.uuid)
      }).map((item) => {
        let items = item.action && this.topLevelMembers.filter((menuItem) => menuItem.parent_uuid === item.uuid).map((item) => {
          const id = item.action
          return {
            ...item,
            to: { name: item.code, params: { id } }
          }
        })
        return {
          ...item,
          items: items && items.length ? items : null
        }
      })
      if (!this.role) {
        result.pop()
      }
      return result && result.length ? result : null
    },
    thirdLevel () {
      let leftTitle = this.secondLevel && this.secondLevel.level === 2 ? [{ title: this.secondLevel && this.secondLevel.title }] : []
      let leftMiddleMenu = leftTitle
      let rightMiddleMenu = this.topLevelMembers.filter(item => this.secondLevel && item.parent_uuid === this.secondLevel.uuid && !item.action && !item.need_show_parent_only)
      if (leftMiddleMenu && leftMiddleMenu.length) {
        leftMiddleMenu.push({ border: true })
      }
      return this.secondLevel && this.secondLevel.uuid ? [...[ ...leftMiddleMenu, ...rightMiddleMenu ]] : []
    },
    isDropDown () {
      if (!this.topItem) return false
      let secondLevel = this.topLevelMembers.filter(item => item.parent_uuid === this.topItem.uuid && !item.need_show_parent_only && !item.action).map(item => item.uuid)
      let thirdLevel = this.topLevelMembers.filter(item => secondLevel.includes(item.parent_uuid) && !item.need_show_parent_only && !item.action)
      return secondLevel.length > 0 && thirdLevel.length > 0
    }
  }
}
</script>

<style lang='scss' scoped>
  .ob-menu-container {
    width: 100%;
  }
</style>
