<template>
  <div
    class="ob-switcher-container switcher-wrapper"
    :class="containerClass"
  >
    <label
      v-if="labelLeft"
      class="switcher-label-left"
      :class="{ '--selected': !checked }"
      :data-qa="dataQa"
      @click="onChangeRadio(computedLeftValue, '111')"
    >
      {{ labelLeft }}
    </label>
    <div
      class="switch-container"
      tabindex="0"
      :data-qa="dataQa"
      @keydown="onKeyDownHandler"
    >
      <div
        tabindex="-1"
        class="switch-box"
        :class="{ '--checked': checked }"
        :data-qa="dataQa"
        @click="toggle"
      >
        <div
          class="switch-button"
          :class="{ '--checked': checked }"
        />
      </div>
    </div>
    <label
      v-if="labelRight"
      class="switcher-label-right"
      :class="{ '--selected': checked }"
      :data-qa="dataQa"
      @click="onChangeRadio(computedRightValue, '222')"
    >
      {{ labelRight }}
    </label>
  </div>
</template>
<script>
export default {
  name: 'ObSwitcher',
  props: {
    value: {
      type: [Boolean, String, Number],
      default: false
    },
    isDisabled: {
      type: Boolean,
      default: () => false
    },
    isDark: {
      type: Boolean,
      default: () => false
    },
    valueLeft: {
      type: [Boolean, String, Number],
      default: null
    },
    valueRight: {
      type: [Boolean, String, Number],
      default: null
    },
    labelLeft: {
      type: [String, Number],
      default: null
    },
    labelRight: {
      type: [String, Number],
      default: null
    },
    dataQa: {
      type: String
    }
  },
  data () {
    return {
      checked: false
    }
  },
  computed: {
    containerClass () {
      return {
        '--disabled': this.isDisabled,
        'dark-theme': this.isDark,
        '--is-checkbox': this.isCheckbox
      }
    },
    computedLeftValue () {
      if (this.isCheckbox) {
        return false
      }
      return this.valueLeft !== null ? this.valueLeft : this.labelLeft
    },
    computedRightValue () {
      if (this.isCheckbox) {
        return true
      }
      return this.valueRight !== null ? this.valueRight : this.labelRight
    },
    checkedValue () {
      return this.checked ? this.computedRightValue : this.computedLeftValue
    },
    isCheckbox () {
      return this.labelLeft === null || (!this.labelLeft && !this.labelRight)
    }
  },
  watch: {
    value (val) {
      if (val !== this.checkValue) {
        this.checkValue(val)
      }
    }
  },
  mounted () {
    this.checkValue(this.value)
  },
  methods: {
    toggle () {
      if (this.isDisabled) return
      this.checked = !this.checked
      this.$nextTick(() => {
        this.$emit('input', this.checkedValue)
        this.$emit('on-change', this.checkedValue)
      })
    },
    onChangeRadio (val) {
      if (val === this.checkedValue && !this.isCheckbox) return
      this.toggle()
    },
    checkValue (val) {
      this.checked = val === this.computedRightValue
    },
    onKeyDownHandler (e) {
      console.log('keydown ->', e)
      if (e.keyCode === 13 || e.keyCode === 32) {
        this.toggle()
      }
    }
  }
}
</script>
<style lang="scss" scoped>
$transition-timing: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
.ob-switcher-container {
  label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $color-grey-border;
    transition: $transition-timing;
    flex-wrap: wrap;
    &.--selected {
      color: $color-text-base;
    }
  }
  &.--is-checkbox {
    .switch-box {
      background: $background-color-light;
      box-shadow: inset 0px 0px 4px $obSwitcher-is_checkbox_switch_box_shadow;
      &.--checked {
        background: $background-color-light;
        box-shadow: inset 0px 0px 4px $obSwitcher-switch_checked_box_shadow;
      }
    }
    .switch-button {
      background: $obSwitcher-switch_button_background;
      box-shadow: 0px 1px 1px rgba($deep-blue, 0.28);
      &.--checked {
        background: $color-blue-navy-blue;
        box-shadow: 2px 1px 4px rgba($color-blue-navy-blue, 0.6);
      }
    }
    label {
      color: $gray-slate;
      &.--selected {
        color: $color-text-base;
      }
    }
  }
  .switcher-label {
    &-left {
      margin-right: 8px;
    }
    &-right {
      margin-left: 8px;
    }
  }
  &.switcher-wrapper {
    max-width: 100%;
    display: inline-flex;
    align-items: flex-start;
    &.dark-theme {
      .switch-box {
        background: $background-black;
        box-shadow: inset 0px 0px 4px rgba($color-blue-navy-blue, 0.48);
      }
      label {
        color: $gray-slate;
        &.--selected {
          color: $obSwitcher-switcher_dark_label_color;
        }
      }
    }
    &.--disabled {
      label {
        color: $color-grey-border;
        cursor: default;
      }
      .switch-box {
        box-shadow: none;
        background: $color-light-grey;
        cursor: default;
      }
      .switch-button {
        box-shadow: none;
        background: $color-grey-border;
      }
    }
  }
  .switch-container {
    position: relative;
  }
  .switch-box {
    position: relative;
    margin-top: 2px;
    flex-shrink: 0;
    width: 28px;
    height: 14px;
    border-radius: 16px;
    background: $background-color-light;
    transition: $transition-timing;
    box-shadow: inset 0px 0px 4px $obSwitcher-switch_box_shadow;
    cursor: pointer;
    outline: none;
    &::after {
      content: "";
      display: none;
      position: absolute;
      top: -5px;
      left: -5px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border: 2px solid $cornflower-craiola;
      pointer-events: none;
      border-radius: 3px;
    }
  }
  .switch-button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    top: -1px;
    left: 0;
    transition: $transition-timing;
    background: $color-blue-navy-blue;
    box-shadow: 2px 1px 4px rgba($color-blue-navy-blue, 0.6);
    &.--checked {
      left: calc(28px - 16px);
    }
  }
  input {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background: transparent;
    position: absolute;
  }
}
:focus > .switch-box:after {
  display: block;
}
.switch-container:focus,
.switch-box:focus {
  outline: none;
}
</style>
