<template>
  <div class="ob-main-mobile-tmpl">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'ObMainMobileTmpl',
  components: {},
  props: {},
  data () {
    return {}
  },
  methods: {}
}
</script>

<style lang="scss">
@import '../../static/css/main';
@import '../../static/css/oboz-font.scss';
@import '../../static/css/colors';
@import '../../static/css/mixins';
@import '../../static/css/variables';

.ob-main-mobile-tmpl {
  height: 100vh;
}
</style>
