<template>
  <ObModal
    ref="mapPopup"
    :edit-form="false"
    :is-nested="true"
    :custom-class="isMobile ? 'ob-address-modal-wrapper mobile' : 'ob-address-modal-wrapper'"
    size="max"
    :data-qa="dataQa"
  >
    <div class="ob-address-modal">
      <div class="ob-address-modal__map-container">
        <div :id="mapId" />
      </div>
      <div class="ob-address-modal__controls-wrapper">
        <div class="row">
          <div :class="colClass">
            <ob-select
              v-model="location"
              label="Локация"
              placeholder="Найти по названию или адресу"
              :is-autocompalte="true"
              :is-input="true"
              :items="searchResults"
              :remote-opt="remoteOpt"
              :is-addres-auto-complete="true"
              :is-standart="true"
              :display-exp="displayExp"
              :value-exp="displayExp"
              :data-qa="dataQa"
              @selected="setMarker"
            />
          </div>
          <div
            v-if="isPoint"
            :class="colClass"
          >
            <ob-input
              v-model="customCoords"
              label="Координаты центра локации"
              placeholder="Задать координаты"
              :data-qa="dataQa"
            />
          </div>
          <div
            v-if="isPoint"
            class="ob-address-modal__coords-label col-xs"
          >
            {{ customCoordsLabel }}
          </div>
          <div class="col-xs-4">
            <div class="ob-address-modal__buttons">
              <ob-button
                label="Сохранить"
                :data-qa="dataQa"
                @click="save"
              />
              <ob-button
                v-if="!isMobile"
                label="Отмена"
                :type="'flat'"
                :data-qa="dataQa"
                @click="close"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        v-if="isMobile"
        class="mobile__menu"
      >
        <div
          class="mobile__menu--exit"
          @click="close"
        >
          <i class="icon chevron-left" />
        </div>
        <div class="mobile__menu--title">
          {{ mobileTitle }}
        </div>
        <div class="mobile__menu--filters">
          <i class="icon filter" />
        </div>
      </div>
    </div>
    <ObModal
      ref="modalError"
      size="small"
      title="Адрес не найден"
      :is-error="true"
    >
      Укажите точный адрес
    </ObModal>
  </ObModal>
</template>

<script>
import api from '@/api'
import ObModal from '../obModal'
import ObSelect from '../obSelect'
import ObInput from '../obInput'
import ObButton from '../obButton'
import 'leaflet/dist/leaflet.css'
import L from 'leaflet'
import icon from 'leaflet/dist/images/marker-icon.png'
import iconShadow from 'leaflet/dist/images/marker-shadow.png'
export default {
  locationTypes: {
    'жд станция': 'train-sm',
    'пограничный переход': 'airplane'
  },
  components: {
    ObModal,
    ObButton,
    ObSelect,
    ObInput
  },

  props: {
    isMobile: {
      type: Boolean,
      default: false
    },
    mobileTitle: {
      type: String,
      default: ''
    },
    mapId: {
      type: String,
      default: 'map-id'
    },
    value: {
      type: Object,
      default: () => {}
    },
    isPoint: {
      type: Boolean,
      default: false
    },
    dataQa: {
      type: String
    },
    displayExp: {
      type: String,
      default: ''
    }
  },

  data () {
    const _self = this
    return {
      selectedAddress: null,
      location: '',
      coords: {
        lat: 55.751574,
        lon: 37.573856
      },
      customCoords: '',
      customCoordsLabel: '',
      label: '',
      mymap: false,
      marker: null,
      zoom: 8,
      searchResults: [],
      interval: null,
      remoteOpt: {
        method: _self.searchAddress,
        loadEvent: 'open'
      }
    }
  },

  computed: {
    colClass () {
      return this.isPoint ? 'col-xs-3' : 'col-xs-8'
    }
  },
  watch: {
    customCoords (val) {
      if (this.interval) {
        clearInterval(this.interval)
      }
      this.interval = setInterval(() => {
        clearInterval(this.interval)
        let valArray = val.split(',')
        if (valArray.length === 2) {
          this.getAddressByCoordinates({ lat: +valArray[0], lng: +valArray[1] })
        }
      }, 500)
    }
  },

  mounted () {
  },

  methods: {
    open () {
      this.$refs.mapPopup.open()
      this.location = this.value && this.value.russian_address ? this.value.russian_address : ''
      this.coords = this.value && this.value.coordinates && this.value.coordinates.lat ? this.value.coordinates : {
        lat: 55.751574,
        lon: 37.573856
      }
      setTimeout(() => {
        this.initMap()
      }, 100)
    },
    close () {
      this.mymap.removeLayer(this.marker)
      this.$refs.mapPopup.close()
    },
    async save () {
      this.$emit('input', this.selectedAddress)
      this.close()
    },
    initMap () {
      if (!this.mymap) {
        let _center = this.coords
        this.mymap = L.map(this.mapId, { zoomControl: false })
          .setView(
            _center,
            this.zoom
          )
        L.control
          .zoom({
            position: 'topright',
            zoomInText: '+',
            zoomOutText: '-'
          })
          .addTo(this.mymap)

        L.tileLayer(
          'https://maps.googleapis.com/maps/vt?language=ru-RU&pb=!1m5!1m4!1i{z}!2i{x}!3i{y}!4i256!2m3!1e0!2sm!3i349018013!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0'
        ).addTo(this.mymap)

        this.mymap.on('zoomend', () => {
          this.zoom = this.mymap.getZoom()
        })

        this.mymap.on('click', (e) => {
          this.getAddressByCoordinates(e.latlng)
          this.marker.setLatLng(e.latlng)
        })
      }
      let _markerObject = {
        coordinates: this.coords
      }
      if (this.coords.lat && this.coords.lon) {
        this.setMarkers(_markerObject)
      }
    },
    setMarkers (markerObject) {
      let DefaultIcon = L.icon({
        iconUrl: icon,
        shadowUrl: iconShadow,
        ashadowUrl: iconShadow,
        iconSize: [25, 41],
        iconAnchor: [12, 41]
      })
      L.Marker.prototype.options.draggable = true
      L.Marker.prototype.options.icon = DefaultIcon
      this.marker = L.marker(markerObject.coordinates, {
        icon: DefaultIcon
      })
        .addTo(this.mymap)
      this.marker.on('dragend', this.onMoveMarker)
      this.mymap.setView(markerObject.coordinates, this.zoom)
    },
    setMarker (item) {
      this.marker.setLatLng(item.coordinates)
      this.mymap.setView(item.coordinates, this.zoom)
    },
    onMoveMarker () {
      let _marker = this.marker.getLatLng()
      this.$emit('input', {
        lat: _marker.lat,
        lon: _marker.lng
      })
    },
    handleSelect (item) {
      this.$emit('on-change-address', item)
    },
    handleBlur (e) {
      if (this.address && e.target.label !== this.address.label) {
        this.label = this.address.label
      }
    },
    async searchAddress (query) {
      let res = await api.geocoder.searchAddressSuggester({
        search_address: query,
        lang: this.lang
      })
      this.searchResults = res.geocodingResult
      return this.searchResults
    },
    async getAddressByCoordinates (coordinates) {
      let address = await api.geocoder.getAddressByCoordinates({
        coordinates: coordinates.lat + ',' + coordinates.lng
      })
      this.location = !this.customCoords ? address.russian_address : ''
      this.customCoordsLabel = this.customCoords ? address.russian_address : ''
      this.selectedAddress = address
      return address
    }
  }
}
</script>

<style lang="scss">
.ob-address-modal-wrapper {
  margin: 50px !important;
  padding: 0 !important;

  &.el-dialog.modal-max {
    margin: 40px !important;
    width: calc( 100% - 80px ) !important;
    height: calc( 100% - 80px ) !important;
  }
  &.modal-max.mobile{
    margin: 0 !important;
    width: 100% !important;
    max-width: 100%!important;
    height: 100% !important;
    .ob-address-modal__controls-wrapper{
      bottom: 0;
      left: 0;
      top: auto!important;
      width: 100%;
      opacity: 1;
      .col-xs-8{
        max-width: 100%;
        flex-basis: 100%;
      }
      .col-xs-4{
        max-width: 100%;
        justify-content: center;
        margin: 10px auto 0;
      }
    }
    .leaflet-control-zoom.leaflet-bar.leaflet-control{
      border: none;
    }
  }
  .mobile__menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    z-index: 400;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 27px;
    i{
      color: $color-blue-navy-blue;
    }
    &--title{
      color: $color-text-base;
      font-size: 16px;
      font-weight: 700;
    }
    &--exit{
      font-size: 24px;
    }
    &--filters{
      font-size: 20px;
    }
  }
  .ob-address-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &__map-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      div {
        width: 100%;
        height: 100%;
      }
    }
    &__buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
    .leaflet-right .leaflet-control {
      margin-right: 0;
    }
    .leaflet-top .leaflet-control {
      margin-top: 0;
    }
    .leaflet-control-attribution.leaflet-control {
      display: none;
    }
    .leaflet-control-zoom.leaflet-bar.leaflet-control {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 0;
      right: 25px;
      width: 32px;
      box-shadow: none;
      border-radius: 0;
      a {
        position: relative;
        box-shadow: 0px 1px 4px $obAddressModal-obModal_leaflet_a_box_shadow;
        border-radius: 2px;

        &:first-child::after {
          position: absolute;
          z-index: 1;
          background: $background-white;
          bottom: -5px;
          left: 0;
          content: '';
          width: 100%;
          height: 10px;
        }
        &:first-child::before {
          position: absolute;
          z-index: 2;
          background: $obAddressModal-obModal_leaflet_first_child_background_before;
          bottom: -2px;
          left: 5px;
          content: '';
          width: calc(100% - 10px);
          height: 1px;
        }
      }
    }
    &__controls-wrapper {
      position: absolute;
      background: $background-white;
      padding: 20px;
      top: 20px;
      left: 20px;
      width: calc(100% - 40px);
      z-index: 400;
      overflow: hidden;
      opacity: 0.9;
      box-shadow: 0px 4px 4px $obAddressModal-obModal_controls_box_shadow;
      border-radius: 4px;
    }

    &__coords-label {
      display: flex;
      font-size: 14px;
      line-height: 20px;
      align-items: center;
      letter-spacing: 0.2px;
      color: $color-text-base;
    }
  }
}
</style>
