<template>
  <div
    v-if="showPagination"
    class="ob-pagination-container"
  >
    <div class="pagination">
      <button
        :disabled="isDisabledPrev"
        class="pagination__arrow"
        :data-qa="dataQa"
        @click="prev"
      >
        <i class="icon arrow-right --reverse" />
        <div
          v-if="isWide"
          class="pagination__arrow-text"
        >
          Назад
        </div>
      </button>

      <div class="pagination__numbers">
        <button
          class="page-item"
          :class="currentPage === 1 && '--active'"
          :data-qa="dataQa"
          @click="goPage(1)"
        >
          1
        </button>
        <span
          v-if="isShowMoreLeft"
          class="page-more --left"
        >
          ...
        </span>
        <button
          v-for="item in bodyPageItems"
          :key="item"
          class="page-item"
          :class="currentPage === item && '--active'"
          :data-qa="dataQa"
          @click="goPage(item)"
        >
          {{ item }}
        </button>
        <span
          v-if="isShowMoreRight"
          class="page-more --right"
        >
          ...
        </span>
        <button
          class="page-item"
          :class="currentPage === paginationCount && '--active'"
          :data-qa="dataQa"
          @click="goPage(paginationCount)"
        >
          {{ paginationCount }}
        </button>
      </div>

      <button
        :disabled="isDisabledNext"
        class="pagination__arrow"
        :data-qa="dataQa"
        @click="next"
      >
        <div
          v-if="isWide"
          class="pagination__arrow-text"
        >
          Вперед
        </div>
        <i class="icon arrow-right" />
      </button>
    </div>
    <div
      v-if="showInputPage"
      class="page-input"
    >
      <div class="page-input__text">
        Перейти
      </div>
      <input
        ref="page-input"
        v-model="manualPage"
        class="page-input__input"
        :data-qa="dataQa"
        @keydown="onKeyDownHandler"
      >
      <button
        class="page-input__arrow"
        :data-qa="dataQa"
        @click="goPage(manualPage)"
      >
        <i class="icon chevron-right" />
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ObPagination',
  props: {
    page: {
      type: [String, Number],
      default: 0
    },
    count: {
      type: [String, Number],
      default: 0
    },
    pageLimit: {
      type: [String, Number],
      default: 50
    },
    isPageInput: {
      type: Boolean,
      default: false
    },
    dataQa: {
      type: String
    },
    isWide: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      localPage: (this.obTable && this.obTable.page) || this.page,
      manualPage: '',
      showInputPage: true,
      bodySize: 5
    }
  },
  computed: {
    currentPage () {
      return +this.localPage + 1
    },
    showPagination () {
      return Math.ceil(this.count / +this.pageLimit) > 1
    },
    paginationCount () {
      return this.count ? Math.ceil(this.count / +this.pageLimit) : 0
    },
    isShowMoreLeft () {
      if (this.bodySize === 3) {
        return this.localPage >= 3 && this.paginationCount > 4
      } else {
        return this.localPage >= 4 && this.paginationCount > 7
      }
    },
    isShowMoreRight () {
      if (this.bodySize === 3) {
        return this.paginationCount > 5 && this.localPage < +this.paginationCount - 3
      } else {
        return this.paginationCount > 8 && this.localPage < +this.paginationCount - 4
      }
    },
    bodyPageItems () {
      let calcIndex = this.currentPage - (this.bodySize === 5 ? 2 : 1)
      let tempIndex = calcIndex < 2 ? 2 : calcIndex

      if ((this.paginationCount - this.currentPage) < (this.bodySize === 5 ? 3 : 2)) {
        tempIndex = this.currentPage - (this.bodySize - (this.paginationCount - this.currentPage))
      }
      let result = []

      if (tempIndex < 2) {
        tempIndex = 2
      }

      while (result.length < this.bodySize && tempIndex <= this.paginationCount - 1) {
        result.push(tempIndex)
        tempIndex++
      }
      return result
    },
    isDisabledPrev () {
      return this.currentPage <= 1
    },
    isDisabledNext () {
      return this.currentPage >= this.paginationCount
    },
    parentTable () {
      const getParent = (component) => {
        if (component.$options && component.$options.name && component.$options.name === 'ObTable') {
          return component
        }

        if (!component || !component.$parent) {
          return null
        } else {
          return getParent(component.$parent)
        }
      }

      return getParent(this.$parent)
    }
  },
  watch: {
    'parentTable.page' (val) {
      this.$nextTick(() => {
        if (this.localPage !== val) {
          this.localPage = val
          if (this.isPageInput) {
            this.manualPage = val + 1
          }
        }
      })
    },
    page (val) {
      this.$nextTick(() => {
        if (this.localPage !== val) {
          this.localPage = val
          if (this.isPageInput) {
            this.manualPage = val + 1
          }
        }
      })
    }
  },
  mounted () {
    this.onResizeHandler()
    window.addEventListener('resize', this.onResizeHandler)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResizeHandler)
  },
  methods: {
    goPage (page) {
      page = this.checkCorrectValue(page)
      this.localPage = page - 1
      this.emitChangePage()
    },
    prev () {
      if (!this.isDisabledPrev) {
        this.localPage--
        if (this.isPageInput) {
          this.manualPage = this.localPage + 1
        }
        this.emitChangePage()
      }
    },
    next () {
      if (!this.isDisabledNext) {
        this.localPage++
        if (this.isPageInput) {
          this.manualPage = this.localPage + 1
        }
        this.emitChangePage()
      }
    },
    emitChangePage () {
      if (this.obTable) {
        this.obTable.onChangePage(this.localPage)
      } else {
        this.$emit('on-change', this.localPage)
      }
    },
    checkCorrectValue (page) {
      if (isNaN(page) || page < 1) {
        page = 1
      } else if (page > this.paginationCount) {
        page = this.paginationCount
      }
      if (this.isPageInput) {
        this.manualPage = page
      }
      return page
    },
    onKeyDownHandler (e) {
      let keyCode = e.keyCode
      if (keyCode === 13) {
        this.goPage(this.manualPage)
      }
    },
    onResizeHandler (e) {
      let windowWidth = e ? e.target.innerWidth : window.innerWidth
      if (windowWidth < 768) {
        this.showInputPage = false
        this.bodySize = 3
      } else {
        this.showInputPage = true
        this.bodySize = 5
      }
    }
  }
}
</script>
<style lang="scss">
  .ob-pagination-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
      justify-content: flex-end;
    }
    .pagination {
      display: flex;
      align-items: center;
      flex-grow: 2;
      .table-footer & {
        justify-content: flex-end;
      }
      @media screen and (max-width: 768px) {
        justify-content: flex-end;
      }
      &__numbers {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        @media screen and (max-width: 768px) {
          margin-left: 3px;
          margin-right: 3px;
        }
        .page-item, .page-more {
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0.2px;
          color: $shale-gray;
        }
        .page-more {
          &.--left {
            margin-left: 7px;
            margin-right: 2px;
          }
          &.--right {
            margin-left: 2px;
            margin-right: 7px;
          }
          @media screen and (max-width: 768px) {
            margin-left: 3px;
            margin-right: 3px;
          }
        }
        .page-item + .page-item {
          margin-left: 2.5px;
        }
        .page-item {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          min-width: 24px;
          height: 24px;
          background-color: transparent;
          border-radius: 12px;
          padding: 0 5px;
          &:hover, &:focus {
            background-color: $obPagination-page_item_background-color_hover;
          }
          &.--active {
            background-color: $lavender;
          }
        }
      }
      &__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        color: $color-grey-span;
        .--reverse {
          transform: rotate(180deg)
        }
        .icon {
          font-size: 8px;
        }
        &:hover {
          color: $color-blue-navy-blue;
        }
        &[disabled] {
          color: rgba($color-grey-span, 0.5);
        }
      }

      &__arrow-text {
        font-size: 14px;
        line-height: 20px;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    .page-input {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 28px;
      &__text {}
      &__input {
        min-width: auto;
        width: 42px;
        height: 30px;
        margin-left: 12px;
        padding: 0 3px;
        outline: none;
        border: 1px solid $obPagination-page_input_border;
        border-radius: 4px;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        &:focus {
          border-color: $color-blue-navy-blue;
        }
      }
      &__arrow {
        width: 24px;
        height: 24px;
        padding: 0;
        font-size: 18px;
        line-height: 18px;
        color: $color-blue-navy-blue;
      }
    }
    button {
      border: none!important;
      background-color: transparent;
      min-width: auto;
      max-width: none;
      padding: 5px;
      cursor: pointer;
      outline: none;
      &[disabled], &.--active {
        cursor: default;
      }
    }
  }
</style>
