<template>
  <div class="ob-datetime-mobile">
    <obInput
      ref="main_input"
      v-model="period"
      :mask="withTime ? 'дд.мм.гггг, чч:мм' : 'дд.мм.гггг'"
      :label="label"
      :placeholder="placeholder"
      :icon="icon"
      :required="required"
      @on-click-icon="openModal"
      @blur="blurPeriod"
      @input="changePeriod"
    />
    <ModalDate
      v-if="dateModal"
      :date="period"
      :disabled-dates="disabledDates"
      @close="closeDateModal"
    />
    <DateDescription
      v-if="periodModal"
      :period="period"
      :types-of-shipment="typesOfShipment"
      :selected-type-of-shipment="selectedTypeOfShipment"
      :button-text="buttonText"
      :disabled-dates="disabledDates"
      @close="close"
    />
  </div>
</template>

<script>
import obInput from '../obInput'
import DateDescription from './DateDescription'
import ModalDate from './ModalDate'
import moment from 'moment'

export default {
  name: 'DateTimePicker',
  components: {
    obInput,
    ModalDate,
    DateDescription
  },
  props: {
    value: {
      type: [String, Object, Date]
    },
    label: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    icon: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    typesOfShipment: {
      type: Array,
      default: () => []
    },
    selectedTypeOfShipment: {
      type: String,
      default: 'loading'
    },
    buttonText: {
      type: String,
      default: 'Выбрать'
    },
    withTime: {
      type: Boolean,
      default: false
    },
    disabledDates: {
      type: Object,
      default: () => ({
        to: '',
        from: ''
      })
    }
  },
  data () {
    return {
      dateModal: false,
      periodModal: false
    }
  },
  computed: {
    period: {
      get () {
        if (this.withTime) {
          return moment(this.value).format('DD.MM.YYYY, HH:mm')
        } else {
          return this.value ? moment(this.value).format('DD.MM.YYYY') : ''
        }
      },
      set () {}
    }
  },
  methods: {
    openModal () {
      this.$emit('hideScroll', true)
      if (this.withTime) {
        this.periodModal = true
      } else {
        this.dateModal = true
      }
    },
    close (data) {
      this.$emit('hideScroll', false)
      if (data !== null) {
        this.period = data.period
        this.$emit('setPeriod', data)
      }
      this.periodModal = false
    },
    closeDateModal (data) {
      this.$emit('hideScroll', false)
      if (data !== null) {
        this.$emit('setPeriod', data)
      }
      this.dateModal = false
    },
    blurPeriod () {
      if (this.withTime) {
        const formatDateAndTime = moment(this.period, 'DD.MM.YYYYHH:mm')
          .format('YYYY-MM-DDTHH:mm:ss.SS[Z]')
        this.$emit('setPeriod', {
          period: formatDateAndTime,
          shipment: this.selectedTypeOfShipment
        })
      }
    },
    changePeriod (time) {
      if (this.withTime) {
        if (time.length === 12) {
          this.$emit('input', moment(time, 'DD.MM.YYYYHH:mm')
            .format('YYYY-MM-DDTHH:mm:ss.SS[Z]'))
        }
      } else {
        if (time.length === 8) {
          this.$emit('input', moment(time, 'DD.MM.YYYY')
            .format('YYYY-MM-DD'))
        }
      }
    }
  }
}
</script>

<style lang="scss">

.ob-datetime-mobile {
  &__modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background-color: $background-white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
  }

  &__header {
    flex: 0 1 64px;
    width: 100%;
    box-shadow: 0 4px 16px rgba($blue-700, 0.2);
    color: $Grey-900;
    letter-spacing: 0.4px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .icon {
      font-size: 24px;
      color: $color-blue-navy-blue;
      margin-right: 15px;
    }
  }

  &__container {
    flex: 1 1 auto;
    width: 100%;
    padding: 0 32px 0 20px;

    &-radio {
      margin: 0 -20px;
      font-size: 16px;
      line-height: 50px;
      letter-spacing: 0.2px;
      border-bottom: 1px solid $gray-200;
      color: $color-text-base;
      padding: 18px 14px;
    }

    /deep/ .ob-radio-container {
      padding-left: 14px;
      border-bottom: 1px solid $gray-200;
    }

    &.time_list {
      z-index: 999;
      height: 100%;
      padding: 0 0 60px;
      overflow-y: auto;
    }

    &--title {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.4px;
      padding-top: 35px;
      color: $Grey-900;
    }

    .disabled {
      opacity: 0.8;
      pointer-events: none;
    }
  }

  &__time-list {
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.2px;
    border-bottom: 1px solid $gray-200;

    span {
      padding: 20px 0px 0px 20px;
    }
  }

  &__footer {
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 0 2px rgba(0, 75, 200, 0.15),
    0 0 12px rgba(0, 75, 200, 0.04),
    0 0 10px rgba(0, 75, 200, 0.06);

    &--button {
      width: 100% !important;
      border-radius: 10px !important;
    }
  }

  &__content {
    display: flex;

    .input__date {
      margin-right: 10px;
    }

    .input__time {
      margin-right: -10px;
    }

    .input__date, .input__time {
      width: 100%;
    }
  }
}

::v-deep {
  .input-block {
    color: $color-text-base;
  }

  .ob-selector {
    margin-top: 20px;
  }

  .ob-input-wrap {
    margin-top: 20px;
  }

  .ob-button-container {
    width: 100%;
    border-radius: 10px;
    background-color: $color-blue-navy-blue;
    color: $style-white;

    &.disabled {
      background-color: $gray-200;
    }
  }

  .ob-radio-container {
    label {
      margin: 20px 0;
    }

    span {
      font-size: 16px;
      letter-spacing: 0.2px;
      color: $gray-slate;
      margin-left: 15px;
    }

    &.__active {
      span {
        color: $color-text-base;
      }
    }
  }
}
</style>
