<template>
  <div class="ob-uploader">
    <div
      v-if="!isReadOnly"
      class="ob-uploader-body"
      :class="{
        'ob-uploader-body--dragover': dragOver,
        'ob-uploader-body--focused': isFocused,
      }"
    >
      <div class="ob-uploader__label">
        <span class="ob-uploader__label-text">{{ labelText }}</span>
        <span
          v-if="!dragOver"
          class="ob-uploader__label-helper"
        >
          <i class="ob-uploader__label-helper__icon" /> Загрузить
        </span>
      </div>
      <input
        ref="fileInput"
        tabindex="0"
        data-attr="ob-uploader"
        class="ob-uploader__input"
        type="file"
        :multiple="multiple"
        :data-qa="dataQa"
        @change="processFiles"
        @dragenter="dragOver = true"
        @dragleave="dragOver = false"
        @focus="isFocused = true"
        @blur="isFocused = false"
        @drop="dragOver = false"
      >
    </div>
    <div
      v-show="files && files.length"
      class="ob-uploader-chips"
    >
      <transition-group
        tag="div"
        class="ob-uploader__files"
        name="scaleIn"
        mode="in-out"
        move="move"
      >
        <div
          v-for="{ file, uuid, progress, isUploaded } in files"
          :key="uuid"
          :data-name="file.name"
          class="ob-uploader__chip"
          :class="isClickableFile(file) && '--clickable'"
          :data-qa="dataQa"
          @click="isClickableFile(file) && onClickFileHandler(file, uuid)"
        >
          <span class="ob-uploader__chip-text">{{ file.name || (filesInfo[uuid] && filesInfo[uuid].name) || 'Неизвестный файл' }}</span>
          <template v-if="uploadMethod && !isUploaded">
            <div
              v-if="progress < 100"
              class="ob-uploader__chip-progress-bar"
            >
              <div
                class="ob-uploader__chip-progress-bar-line"
                :style="{ width: `${progress}%` }"
              />
            </div>
            <div
              v-else
              class="loader"
            />
          </template>
          <i
            v-if="!isReadOnly"
            class="icon close ob-uploader__chip-icon"
            :data-qa="dataQa"
            @click.stop.prevent="removeFile(uuid)"
          />
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
import api from '../../api'
import { uuid } from 'vue-uuid'
import cloneDeep from 'clone-deep'

export default {
  name: 'ObUploader',
  components: {},
  props: {
    value: {
      type: [ Array, Object ],
      default: null
    },
    label: {
      type: String
    },
    multiple: {
      type: Boolean,
      default: () => false
    },
    isReadOnly: {
      type: Boolean,
      default: false
    },
    isDetailEmit: {
      type: Boolean,
      default: false
    },
    downloadUrl: {
      type: String,
      default: null
    },
    uploadMethod: {
      type: Function,
      default: null
    },
    uploadOptions: {
      type: Object,
      default: null
    },
    dataQa: {
      type: String
    }
  },

  data () {
    return {
      files: [],
      dragOver: false,
      isFocused: false,
      filesInfo: {}
    }
  },
  computed: {
    labelText: ({ label, dragOver }) => dragOver ? 'Бросьте документы сюда' : (label || 'Перетащите сюда файл или нажмите')
  },
  watch: {
    value: {
      deep: true,
      handler (val) {
        if (this.multiple) {
          val = val && val.length ? val.map((item) => {
            if (typeof item === 'object') {
              item.isUploaded = true
            }
            return item
          }) : []
        } else {
          if (val && typeof val === 'object') {
            val.isUploaded = true
          }
        }

        if (!this.files || !this.files.length) {
          this.files = val
        } else {
          if (this.multiple) {
            this.files = val
          } else {
            this.files = val ? [ val ] : []
          }
        }
      }
    }
  },
  mounted () {
    if (this.value) {
      this.files = cloneDeep(this.multiple ? this.value : [ this.value ])
    }
  },
  methods: {
    async processFiles (e) {
      this.$emit('process-start')

      let added = []

      // Why I'm using 'map' instead of any different: https://stackoverflow.com/a/37576787/2448802
      await Promise.all(Array.from(e.target.files).map(async (file) => {
        let newFile = { file, uuid: uuid.v4() }

        this.filesInfo[newFile.uuid] = file
        if (this.multiple) {
          added.push(newFile)
          this.files.push(newFile)
        } else {
          this.files = [ newFile ]
        }

        if (this.uploadMethod) {
          await this.uploadFile(newFile)
        }
      }))

      if (this.isDetailEmit) {
        this.$emit('change', {
          files: this.files,
          added: added.length ? added : null
        })
      } else {
        this.$emit('change', this.files)
      }
    },

    removeFile (uuid) {
      const found = this.files.findIndex(file => file.uuid === uuid)
      this.files.splice(found, 1)

      // Clear input value, because otherwise user
      // can't add the same file after removing
      this.$refs.fileInput.value = ''

      if (this.isDetailEmit) {
        this.$emit('change', {
          files: this.files,
          deleted: uuid
        })
      } else {
        this.$emit('change', this.files)
      }
    },

    async uploadFile (data) {
      try {
        const info = Object.assign(this.uploadOptions || {}, {
          uuid: data.uuid,
          file: data.file
        })

        await this.uploadMethod({
          ...info,
          options: {
            onUploadProgress: (progressEvent) => {
              this.$set(data, 'progress', Math.round((progressEvent.loaded * 100) / progressEvent.total))
            }
          }
        }).then(() => {
          this.$set(data, 'isUploaded', true)
        })
      } catch (e) {
        throw e
      }
    },

    downloadFile (file) {
      try {
        const url = window.URL.createObjectURL(new Blob([file.data]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', file.name)
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
      } catch (e) {
        console.log(e)
      }
    },
    async downloadFileRemote ({ uuid }) {
      try {
        return await api.files.getFile({ uuid, url: this.downloadUrl })
      } catch (e) {
        console.log(e)
      }
    },
    async onClickFileHandler (file, uuid) {
      if (!file) {
        return
      }

      try {
        if (file.data) {
          this.downloadFile(file)
        } else {
          let fileData = await this.downloadFileRemote({ uuid })
          file.data = fileData
          this.downloadFile(file)
        }
      } catch (e) {
        console.log(e)
      }
    },
    isClickableFile (file) {
      return file && !file.size
    },
    clearFiles () {
      if (this.$refs.fileInput) {
        this.$refs.fileInput.value = ''
      }
      this.files = []

      if (this.isDetailEmit) {
        this.$emit('change', {
          files: this.files
        })
      } else {
        this.$emit('change', this.files)
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../static/css/mixins";
@import "../../static/css/main";

.ob-uploader {
  width: 100%;
  border-radius: 3px;

  &-body {
    width: 100%;
    position: relative;
    background: $background-white;
    border: 1px dashed $obUploader-body_border_color;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: background .3s ease;
    cursor: pointer;

    &--dragover {
      background: $lavender;

      .ob-uploader__label {
        color: $color-blue-navy-blue;
      }
    }
    &--focused, &:hover {
      border: 1px dashed $cornflower-craiola;
      .ob-uploader__label {
        opacity: 0.8;
      }
    }
  }
  &-chips{
    display: block;
    margin-top: 5px;
  }

  &__label {
    padding: 0 20px;
    @include font-mixin(12px, 12px, 400, $gray-slate, 0.2px);

    &-text {
      display: inline;
      line-height: 18px;
      vertical-align: middle;
    }

    &-helper {
      color: $blue-700;
      display: inline-flex;
      align-items: center;
      vertical-align: middle;

      &__icon {
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.78198 11.0627C8.78196 10.7455 8.78195 10.4282 8.78193 10.111C8.7819 9.62535 8.78188 9.13973 8.78185 8.65411C8.78185 8.50878 8.77475 8.36168 8.79247 8.21812C8.78449 8.28104 8.77652 8.34573 8.76855 8.40864C8.78361 8.29787 8.81107 8.18888 8.85272 8.0852C8.82791 8.14545 8.8031 8.20571 8.77918 8.26509C8.82525 8.15343 8.88462 8.04798 8.95817 7.95139C8.9174 8.00456 8.87664 8.05773 8.835 8.11178C8.90589 8.0214 8.98652 7.94076 9.07691 7.86987C9.02374 7.91063 8.97057 7.95139 8.91652 7.99304C9.01311 7.91949 9.11767 7.85924 9.23021 7.81405C9.16995 7.83886 9.1097 7.86367 9.05032 7.88759C9.15489 7.84683 9.263 7.81848 9.37377 7.80342C9.31085 7.81139 9.24616 7.81937 9.18325 7.82734C9.29224 7.81405 9.40036 7.81406 9.50936 7.82736C9.44644 7.81938 9.38175 7.8114 9.31883 7.80342C9.4296 7.81849 9.5386 7.84597 9.64228 7.88762C9.58202 7.86281 9.52176 7.83799 9.46239 7.81406C9.57405 7.86015 9.6795 7.91952 9.7761 7.99308C9.72293 7.95232 9.66976 7.91155 9.6157 7.8699C9.70609 7.94079 9.78674 8.02144 9.85763 8.11183C9.81687 8.05866 9.7761 8.00549 9.73445 7.95143C9.80801 8.04803 9.86827 8.1526 9.91347 8.26514C9.88866 8.20488 9.86384 8.14462 9.83991 8.08525C9.88068 8.18982 9.90904 8.29793 9.92411 8.4087C9.91613 8.34578 9.90815 8.28109 9.90018 8.21818C9.91613 8.35465 9.91082 8.49466 9.90995 8.63202C9.90996 8.87128 9.90997 9.11055 9.90998 9.34981C9.91001 9.87974 9.91004 10.4079 9.91006 10.9378C9.91007 11.1346 9.91274 11.3304 9.88794 11.5254C9.89591 11.4624 9.90388 11.3977 9.91186 11.3348C9.88262 11.5573 9.82503 11.7744 9.74086 11.9826C9.76567 11.9224 9.79048 11.8621 9.8144 11.8027C9.72491 12.0216 9.60706 12.2281 9.4644 12.4168C9.50516 12.3636 9.54592 12.3105 9.58757 12.2564C9.44047 12.4478 9.26945 12.6189 9.07893 12.7651C9.1321 12.7243 9.18527 12.6835 9.23932 12.6419C9.05057 12.7846 8.8441 12.9024 8.62523 12.9919C8.68548 12.9671 8.74574 12.9423 8.80511 12.9184C8.59687 13.0025 8.38065 13.0592 8.15733 13.0894C8.22025 13.0814 8.28494 13.0734 8.34786 13.0654C8.11834 13.0947 7.88794 13.0947 7.65842 13.0654C7.72134 13.0734 7.78603 13.0814 7.84895 13.0893C7.62652 13.0601 7.4094 13.0025 7.20115 12.9183C7.26141 12.9431 7.32167 12.9679 7.38105 12.9918C7.16216 12.9023 6.95567 12.7844 6.76691 12.6418C6.82009 12.6825 6.87326 12.7233 6.92732 12.765C6.7359 12.6178 6.56486 12.4468 6.41863 12.2563C6.4594 12.3094 6.50016 12.3626 6.54182 12.4167C6.39913 12.2279 6.28126 12.0214 6.19175 11.8025C6.21656 11.8628 6.24138 11.9231 6.26531 11.9824C6.18111 11.7742 6.12439 11.5579 6.09424 11.3346C6.10222 11.3976 6.1102 11.4622 6.11818 11.5252C6.08095 11.2327 6.09511 10.9314 6.09598 10.6381C6.09595 10.117 6.09593 9.59774 6.0959 9.07668C6.09587 8.43509 6.09584 7.79351 6.0958 7.15192C6.09577 6.60427 6.09575 6.05662 6.09572 5.51074C6.09571 5.28033 6.09481 5.05082 6.09568 4.81953C6.09568 4.70432 6.10365 4.59001 6.11782 4.47481C6.10985 4.53773 6.10188 4.60242 6.0939 4.66533C6.12313 4.44291 6.18072 4.2258 6.2649 4.01755C6.24009 4.07781 6.21528 4.13807 6.19136 4.19744C6.28085 3.97856 6.3987 3.77209 6.54136 3.58334C6.5006 3.63651 6.45984 3.68968 6.41819 3.74374C6.56529 3.55233 6.73631 3.38131 6.92683 3.2351C6.87366 3.27586 6.82049 3.31662 6.76644 3.35827C6.95518 3.21561 7.16165 3.09776 7.38053 3.00827C7.32028 3.03307 7.26002 3.05788 7.20064 3.08181C7.40889 2.99763 7.62511 2.94093 7.84843 2.91081C7.78551 2.91878 7.72082 2.92676 7.6579 2.93473C7.88742 2.9055 8.11782 2.90551 8.34734 2.93476C8.28442 2.92678 8.21973 2.91881 8.15681 2.91083C8.37924 2.94008 8.59636 2.99769 8.80461 3.08189C8.74435 3.05707 8.68409 3.03226 8.62471 3.00833C8.8436 3.09784 9.05008 3.21571 9.23885 3.3584C9.18567 3.31763 9.1325 3.27686 9.07844 3.23521C9.26986 3.38233 9.4409 3.55336 9.58713 3.7439C9.54636 3.69073 9.5056 3.63755 9.46394 3.58349C9.60663 3.77226 9.7245 3.97874 9.81401 4.19763C9.7892 4.13737 9.76438 4.07711 9.74045 4.01773C9.82465 4.22599 9.88137 4.44221 9.91151 4.66553C9.90353 4.60261 9.89556 4.53792 9.88758 4.475C9.90265 4.58932 9.90974 4.70452 9.90975 4.81972C9.90976 5.01291 9.99307 5.21496 10.1295 5.35143C10.2598 5.48171 10.4734 5.58008 10.6613 5.57123C10.8553 5.56326 11.0574 5.49947 11.1929 5.35149C11.3276 5.20439 11.4136 5.02273 11.4127 4.8198C11.4118 4.56724 11.3808 4.31114 11.3276 4.06478C11.2744 3.82197 11.1831 3.58713 11.0803 3.36026C11.0041 3.19189 10.9101 3.03237 10.802 2.88349C10.6567 2.68498 10.506 2.49356 10.3243 2.32784C9.95214 1.98753 9.53031 1.74293 9.05355 1.57808C8.81782 1.49654 8.5759 1.46019 8.32865 1.42916C8.13901 1.40611 7.94583 1.40256 7.75619 1.42027C7.50274 1.4433 7.25285 1.4805 7.01359 1.55493C6.78141 1.62758 6.55101 1.72328 6.33834 1.84201C6.12212 1.96252 5.92097 2.11405 5.73488 2.27532C5.59576 2.39495 5.46993 2.52964 5.35828 2.67496C5.20498 2.87257 5.05966 3.07106 4.95068 3.29703C4.84435 3.5168 4.7522 3.74897 4.69195 3.98646C4.62196 4.2656 4.58918 4.55714 4.5892 4.84426C4.58921 5.06935 4.58922 5.29266 4.58923 5.51775C4.58926 5.95729 4.58928 6.39506 4.5893 6.83459C4.58933 7.36452 4.58936 7.89445 4.58938 8.42438C4.58941 8.92418 4.58943 9.4222 4.58946 9.922C4.58948 10.2623 4.58949 10.6026 4.58951 10.9429C4.58953 11.3257 4.60727 11.7085 4.71098 12.0816C4.77656 12.3173 4.87051 12.5477 4.98218 12.7657C5.0965 12.9864 5.24539 13.1867 5.40137 13.3799C5.51835 13.5252 5.65039 13.6573 5.79485 13.7751C5.98538 13.9302 6.183 14.0782 6.40101 14.1917C6.84765 14.4256 7.3253 14.5541 7.82687 14.5861C8.07766 14.6029 8.32312 14.5755 8.57125 14.54C8.75823 14.5126 8.94166 14.4656 9.11801 14.3992C9.35018 14.3123 9.57703 14.2149 9.78705 14.0828C9.99529 13.9508 10.1947 13.7975 10.3728 13.6265C10.5491 13.4572 10.7006 13.2614 10.8406 13.0611C10.947 12.9069 11.0382 12.7412 11.11 12.5684C11.2057 12.338 11.2934 12.1121 11.3404 11.8666C11.3829 11.6415 11.4113 11.4093 11.4121 11.1798C11.413 11.0797 11.4121 10.9796 11.4121 10.8785C11.4121 10.3911 11.4121 9.90197 11.412 9.41458C11.412 9.07075 11.4138 8.72869 11.412 8.38485C11.412 8.34054 11.4102 8.29624 11.4058 8.25104C11.3916 8.10039 11.3747 7.94531 11.3287 7.79998C11.2329 7.49336 11.0867 7.24434 10.8802 7.00063C10.8208 6.93062 10.7544 6.8677 10.6835 6.81098C10.5612 6.7135 10.438 6.6169 10.298 6.546C10.0153 6.40508 9.73348 6.33063 9.41889 6.31378C8.86681 6.28273 8.31651 6.51399 7.91686 6.88882C7.80344 6.99516 7.70951 7.12276 7.62002 7.24948C7.56685 7.32391 7.52166 7.40455 7.48444 7.48962C7.42419 7.62963 7.36305 7.77053 7.33205 7.92029C7.30104 8.07005 7.28155 8.22602 7.28067 8.37932C7.27892 8.69834 7.2807 9.01736 7.28072 9.33638C7.28075 9.82201 7.28077 10.3094 7.2808 10.795C7.2808 10.8836 7.28081 10.9723 7.28081 11.0609C7.28082 11.2541 7.36413 11.4561 7.50061 11.5926C7.63088 11.7229 7.84445 11.8212 8.03232 11.8124C8.22639 11.8044 8.42843 11.7406 8.56401 11.5926C8.69693 11.4473 8.78199 11.2665 8.78198 11.0627Z' fill='%23004BC8'/%3E%3C/svg%3E");
      }
    }
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 100%;
  }

  &__chip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 25px;
    background: $blue-blue-hoarfrost;
    margin-right: 13px;
    margin-top: 10px;
    min-height: 30px;

    &.--clickable {
      cursor: pointer;
      &:active {
        opacity: 0.8;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &-progress-bar {
      position: relative;
      background: rgba(196, 213, 237, .5);
      box-shadow: inset 0 1px 2px rgba(0, 75, 200, .2);
      border-radius: 2px;
      overflow: hidden;
      width: 40px;
      height: 8px;
      margin-right: 10px;

      &-line {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: #10CF96;
        border-radius: 2px;
      }
    }

    &-text {
      @include font-mixin(14px, 15px, 400, $color-text-base);
      text-align: center;
      margin-right: 10px;
      position: relative;
    }

    &-icon {
      font-size: 8px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $blue-700;
      }
    }
  }
}

.scaleIn-enter, .scaleIn-leave-to {
  transform: scale(0);
}

.scaleIn-enter-active, .scaleIn-leave-active {
  transition: transform .2s ease-in-out;
}

@mixin loader-part($position, $duration, $color) {
  content: '';
  position: absolute;
  top: $position;
  left: $position;
  right: $position;
  bottom: $position;
  border-radius: 50%;
  border: 1px solid transparent;
  border-top-color: $color;
  animation: spin $duration linear infinite;
}

.loader {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid transparent;
  border-radius: 50%;
  border-top-color: $deep-blue;
  margin-right: 10px;
  animation: spin 2s linear infinite;
}

.loader:before {
  @include loader-part(1.25px, 3s, $green-800);
}

.loader:after {
  @include loader-part(2.75px, 1.5s, $Green-600);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
</style>
