<template>
  <div
    ref="datepicker"
    v-click-outside="onOutsideClick"
    class="ob-date-picker"
    :class="{'is-inline': isInline}"
  >
    <div
      v-if="!isInline"
      ref="reference"
      class="ob-date-picker__ooutput"
    >
      <ob-input
        ref="mainInput"
        v-model="localValue"
        icon="calendar"
        :label="label"
        :mask="maskFull"
        :is-valid="isValidComputed"
        :is-dirty-force="dirty"
        :validation-message="tooltipContent"
        :required="required"
        :disabled="disabled"
        :readonly="readonly"
        :placeholder="placeholder"
        :data-qa="dataQa"
        @input="onUserInput"
        @on-click-icon="onClickIcon"
        @on-change="onInputMaskValid"
        @focus="onFocus"
        @blur="onBlur"
      />
    </div>
    <div
      v-if="isInline"
      class="ob-date-picker__inline-label"
    >
      <div
        class="ob-date-picker __inline-label-title -cobalt"
        :data-qa="dataQa"
        @click="onClickIcon"
      >
        {{ inlineValue.length ? inlineValue : placeholder }}
        <i
          v-if="isOpen"
          class="icon chevron-up"
        />
        <i
          v-if="!isOpen"
          class="icon chevron-down"
        />
      </div>
    </div>

    <select-dropdown
      ref="popper"
      v-model="isOpen"
      data-attr="ob-date-picker"
      :position="position"
      :width-inherit="false"
      :data-qa="dataQa"
    >
      <div
        v-if="this.$slots.default && this.$slots.default.length"
        class="ob-date-picker__header"
      >
        <slot />
      </div>
      <div class="ob-date-picker__container">
        <div class="ob-date-picker__calendar-wrapper">
          <Datepicker
            ref="date"
            v-model="calendarValue"
            data-attr="ob-date-picker-container"
            :language="language"
            :monday-first="true"
            :disabled-dates="disabledDates"
            :calendar-button="true"
            :placeholder="placeholder"
            :format="format"
            :inline="true"
            :full-month-name="true"
            input-class="customize-input"
            :data-qa="dataQa"
            calendar-button-icon="icon calendar"
            @selected="selectedHandler"
          />
        </div>
        <div
          v-if="isTime"
          class="ob-date-picker__controls"
        >
          <div
            class="ob-date-picker__controls-time"
          >
            <div class="ob-date-picker__controls-label">
              Дата и время
            </div>
            <div class="ob-date-picker__controls-from row">
              <div class="col-xs-12">
                <ob-input
                  ref="dateInput"
                  v-model="date"
                  :mask="mask"
                  :is-valid="isValidComputed"
                  :validation-message="tooltipContent"
                  :is-dirty-force="dirty"
                  label="Дата"
                  placeholder="Выберите дату"
                  :data-qa="dataQa"
                  @on-mask-valid="onControlMaskValid"
                />
              </div>
            </div>
            <div class="ob-date-picker__controls-from row">
              <div class="col-xs-12">
                <ob-select
                  ref="timeSelect"
                  v-model="time"
                  :items="timeItems"
                  label="Время"
                  placeholder="Выберите время"
                  :data-qa="dataQa"
                  @selected="onControlMaskValid"
                  @open="setTimeOpenedState(true)"
                  @close="setTimeOpenedState(false)"
                />
              </div>
            </div>
          </div>
          <div
            class="row"
          >
            <div
              class="col-xs-9 col-xs-offset-3"
            >
              <ob-button
                label="Выбрать"
                type="outline"
                placeholder="Выберите время"
                :data-qa="dataQa"
                @click="close"
              />
            </div>
          </div>
        </div>
      </div>
    </select-dropdown>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import { ru, en, zh } from 'vuejs-datepicker/dist/locale'
import moment from 'moment'
import ClickOutside from 'vue-click-outside'
import ObInput from '../obInput/index.vue'
import ObSelect from '../obSelect/index'
import ObButton from '../obButton'
import SelectDropdown from '../obSelect/select-dropdown'
import masker from '../obMask/utils/masker'
import FormItemMixin from '../obForm/FormItemMixin'

export default {
  name: 'ObDatepicker',
  directives: {
    ClickOutside
  },
  components: {
    Datepicker,
    ObInput,
    SelectDropdown,
    ObSelect,
    ObButton
  },
  mixins: [
    FormItemMixin
  ],
  props: {
    value: {
      type: [ Date, String, Object ],
      default: undefined
    },
    format: {
      type: String,
      default: 'dd.MM.yyyy'
    },
    placeholder: {
      type: String,
      default: 'дд.мм.гггг'
    },
    label: {
      type: String,
      default: 'label'
    },
    lang: {
      type: String,
      default: 'ru'
    },
    sinceTo: {
      type: Array,
      default: () => []
    },
    blockAll: {
      type: Boolean,
      default: () => false
    },
    blockBefore: {
      type: Boolean,
      default: () => false
    },
    blockTimeBefore: {
      type: String
    },
    blockTimeDateBefore: {
      type: [String, Date, Number]
    },
    allowHolidays: {
      type: Boolean,
      default: () => false
    },
    allowWeekends: {
      type: Boolean,
      default: () => true
    },
    allowAll: {
      type: Boolean,
      default: () => false
    },
    isInline: {
      type: Boolean,
      default: () => false
    },
    isTime: {
      type: Boolean,
      default: () => false
    },
    required: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    position: {
      type: String,
      default: 'bottom-start'
    },
    dataQa: {
      type: String
    },
    isValidDate: {
      type: Boolean,
      default: true
    },
    dateValidationMessage: {
      type: String,
      default: 'Неверный формат даты'
    },
    timeInterval: {
      type: Number,
      default: 30
    },
    isValidateImmediatly: {
      type: Boolean,
      default: false
    }
  },
  provide () {
    return {
      select: this
    }
  },
  data () {
    return {
      langOfCalendar: { ru, en, zh },
      isOpen: false,
      localValue: '',
      localValueTime: '',
      calendarValue: '',
      isTimeValid: true,
      isUserInput: false,
      date: '',
      time: '00:00',
      dirty: false,
      timeItems: [],
      isTimeOpened: false
    }
  },
  computed: {
    validationMessage () {
      return this.dateValidationMessage
    },
    isValid () {
      return this.isValidDate
    },
    language () {
      return this.langOfCalendar[this.lang]
    },
    disabledDates () {
      const holidaysRange = this.allowHolidays ? [] : [

      ]
      let weekendRange = this.allowWeekends ? [] : [6, 0]
      const datesRange = []
      const rangesOptions = {
        default: {
          days: weekendRange,
          ranges: holidaysRange,
          dates: datesRange
        },
        allowHolidays: {
          days: weekendRange,
          ranges: holidaysRange,
          dates: datesRange
        },
        allowWeekends: {
          days: weekendRange,
          ranges: holidaysRange,
          dates: datesRange
        },
        allowAll: {}
      }
      if (this.sinceTo) {
        this.sinceTo.forEach(it => {
          holidaysRange.push({
            from: new Date(it.from),
            to: new Date(it.to)
          })
        })
      }

      if (this.blockAll) {
        holidaysRange.push({ from: new Date(), to: new Date(2050, 0, 0) })
        rangesOptions.allowAll.ranges = holidaysRange
      }

      if (this.blockBefore) {
        const h = 24 - new Date().getHours()
        holidaysRange.push({ from: new Date(1976, 0, 0), to: h > 3 ? new Date().setHours(0, 0, 0, 0) : new Date().setHours(12, 0, 0, 0) })
        rangesOptions.allowAll.ranges = holidaysRange
      }

      if (this.allowWeekends && this.allowHolidays) {
        weekendRange.length = 0
      }

      return this.allowHolidays ? rangesOptions.allowHolidays : this.allowWeekends ? rangesOptions.allowWeekends : this.allowAll ? rangesOptions.allowAll : rangesOptions.default
    },
    maskFull () {
      let mask = this.format.toLowerCase()
      mask = mask.replace(/d/g, 'д')
      mask = mask.replace(/m/g, 'м')
      mask = mask.replace(/y/g, 'г')
      if (this.isTime) {
        mask += ', чч:мм'
      }
      return mask
    },
    mask () {
      let mask = this.format.toLowerCase()
      mask = mask.replace(/d/g, 'д')
      mask = mask.replace(/m/g, 'м')
      mask = mask.replace(/y/g, 'г')
      return mask
    },
    inlineValue () {
      let val = ''
      if (this.isTime && this.localValue) {
        val = `${masker(this.localValue, this.mask)} ${this.localValueTime}`
      }
      if (!this.isTime && this.localValue) {
        val = `${masker(this.localValue, this.mask)}`
      }
      return val
    },
    isValidComputed () {
      return this.isInvalid && this.dirty ? false : null
    },
    isInvalid () {
      return this.isInvalidValidator || !this.isValid || !this.isTimeValid
    },
    isInvalidValidator () {
      return Boolean(this.mainError)
    },
    tooltipContent () {
      return this.isInvalidValidator ? (this.mainError && this.mainError.text) : this.validationMessage
    }
  },
  watch: {
    value (to) {
      this.setLocalValue(to, Boolean(to))
    },
    blockTimeBefore () {
      this.setTimeItems()
    },
    blockTimeDateBefore () {
      this.setTimeItems()
    },
    isOpen (state) {
      if (state) {
        document.addEventListener('keyup', this.keyboardListener)
      } else {
        document.removeEventListener('keyup', this.keyboardListener)
      }
    }
  },
  mounted () {
    this.$refs.date.$el.querySelectorAll('.prev').forEach(item => { item.innerHTML = '<i class="icon chevron-left"/>' })
    this.$refs.date.$el.querySelectorAll('.next').forEach(item => { item.innerHTML = '<i class="icon chevron-right"/>' })
    this.setLocalValue(this.value, false)
    if (this.isTime) {
      // 'undefined' is a fallback to set current date ('null' and empty string isn't worked)
      let date = moment(this.value || undefined).format(this.format.toUpperCase() + ' HH:mm')
      this.date = date
    }
  },
  methods: {
    keyboardListener (e) {
      switch (e.keyCode) {
        case 27: // ESC
          this.isOpen = false
          break

        case 13: // Enter
          if (this.isTimeOpened) {
            return
          }
          this.close()
          break
      }
    },
    setTimeItems () {
      const items = []
      let tt = 0
      for (let i = 0; tt < 24 * 60; i++) {
        const hh = Math.floor(tt / 60)
        const mm = (tt % 60)
        items[i] = {
          uuid: ('0' + hh).slice(-2) + ':' + ('0' + mm).slice(-2),
          title: ('0' + hh).slice(-2) + ':' + ('0' + mm).slice(-2)
        }
        tt = tt + this.timeInterval
      }

      if (this.blockTimeBefore && this.value !== undefined) {
        const valueDate = new Date().getDate()
        const valueMonth = new Date().getMonth()
        const calDate = this.calendarValue ? new Date(this.calendarValue).getDate() : this.value.getDate()
        const calMonth = this.calendarValue ? new Date(this.calendarValue).getMonth() : this.value.getMonth()
        if ((calDate === valueDate) && (calMonth === valueMonth)) {
          const block = this.blockTimeBefore.split(':')
          const h = block[0]
          const m = block[1]
          const blockTime = moment(this.roundTime(moment().set({ 'hour': h, 'minute': m }), moment.duration(this.timeInterval, 'minutes'))).format('HH:mm')
          const target = items.find(item => item.title === blockTime)
          const index = items.indexOf(target)
          this.timeItems = items.slice(index)
          return
        }
      }
      if (this.blockTimeDateBefore && this.value !== undefined) {
        const valueDate = new Date(this.blockTimeDateBefore).getDate()
        const valueMonth = new Date(this.blockTimeDateBefore).getMonth()
        const calDate = this.calendarValue ? new Date(this.calendarValue).getDate() : this.value.getDate()
        const calMonth = this.calendarValue ? new Date(this.calendarValue).getMonth() : this.value.getMonth()
        if ((calDate === valueDate) && (calMonth === valueMonth)) {
          const h = new Date(this.blockTimeDateBefore).getHours()
          const m = new Date(this.blockTimeDateBefore).getMinutes()
          const blockTime = moment(this.roundTime(moment(this.blockTimeDateBefore).set({ 'hour': h, 'minute': m }), moment.duration(this.timeInterval, 'minutes'))).format('HH:mm')
          const target = items.find(item => item.title === blockTime)
          const index = items.indexOf(target) - 1
          this.timeItems = items.slice(index > 0 ? index : 0)
          return
        }
      }
      this.timeItems = items
    },
    roundTime (date, duration) {
      return (Math.ceil((+date) / (+duration)) * (+duration))
    },
    setLocalValue (to, isSetDirty = true) {
      const isActiveElementInDatepicker = this.$refs.reference.contains(document.activeElement)

      if (isSetDirty) {
        this.dirty = true
        this.touchField()
      }

      if (this.$refs.mainInput.isValidMask || !isActiveElementInDatepicker) {
        if (this.isTime) {
          this.localValue = to ? moment(to).format(this.format.toUpperCase() + ' HH:mm') : ''
          this.time = to ? moment(this.roundTime(moment(to), moment.duration(this.timeInterval, 'minutes'))).format('HH:mm') : '00:00'
        } else {
          this.localValue = to ? moment(to).format(this.format.toUpperCase()) : ''
        }
      }

      this.date = to ? moment(to).format(this.format.toUpperCase()) : moment().format(this.format.toUpperCase())
      this.calendarValue = to ? new Date(to) : new Date()
    },
    setTimeOpenedState (state) {
      this.isTimeOpened = state
    },
    onOutsideClick ($event) {
      let target = $event.target
      let popper = this.$refs.popper.$el
      let select = this.$refs.timeSelect ? this.$refs.timeSelect.$el : undefined
      let isCellDay = ['cell', 'day'].every((className) => target.classList.contains(className))
      if ((this.isTime && isCellDay) || target === popper || target === select || popper.contains(target) || target.classList.value.indexOf('ob-selector') > -1 || (!this.isOpen && !this.isUserInput)) {
        return false
      } else {
        this.isOpen = false
        this.dirty = true
        this.touchField()
      }
    },
    selectedHandler ($event) {
      this.date = moment($event).format(this.format.toUpperCase())
      if (!this.isTime) {
        this.localValue = moment($event).format(this.format.toUpperCase())
        this.isOpen = false
        this.$emit('input', $event)
        this.dirty = true
        this.$nextTick(this.touchField())
      } else if (this.isValidateImmediatly) {
        this.dirty = true
      }
      setTimeout(() => {
        this.setTimeItems()
      }, 0)
    },
    onControlMaskValid () {
      this.isTimeValid = true
      const min = this.calendarValue ? new Date(this.calendarValue).getDate() : new Date().getDate()
      let mVal = moment(this.date, this.format.toUpperCase())
      if (!mVal._isValid || !mVal._isValid || mVal._d.getDate() < min) {
        this.isTimeValid = false
        return
      }
      this.calendarValue = mVal._d
      this.setTimeItems()
    },
    onFocus () {
      this.$emit('focus')
    },
    onBlur () {
      this.$emit('blur')
      this.isUserInput = false
    },
    onUserInput (val) {
      this.isUserInput = true
      if (this.isValidateImmediatly) {
        this.dirty = true
      }
      if (!this.$refs.mainInput.isValidMask && this.value) {
        this.$emit('input', '')
      }
    },
    onInputMaskValid () {
      if (!this.isUserInput) return
      let format = this.format.toUpperCase()
      format += this.isTime ? ' HH:mm' : ''
      let mVal = moment(this.localValue, format)
      let emitValue = this.isTime ? mVal._d : mVal.format('YYYY-MM-DD')
      if (!mVal._isValid) {
        this.$emit('input', '')
        return
      }
      this.isUserInput = false
      this.$emit('input', emitValue)
    },
    onClickIcon () {
      this.isOpen = !this.isOpen

      if (this.isOpen) {
        this.$emit('open')

        if (this.isTime) {
          setTimeout(() => {
            // Going deeper to the <input> element of the mask
            const input = this.$refs.dateInput.$refs.input.$refs.input

            input.focus()
            input.setSelectionRange(0, 0)
          }, 100) // Waiting for initializing
        }
      }
    },
    close () {
      let mVal = moment(this.date, this.format.toUpperCase())
      if (!mVal._isValid || !mVal._isValid) return
      let time = this.time.split(':')
      let date = mVal._d
      date.setHours(+time[0])
      date.setMinutes(+time[1])
      this.$emit('input', date)
      this.isOpen = false
    },
    emitAction () {
      if (this.isTime) {
        this.$emit('input', { time: this.localValueTime, date: masker(this.localValue, this.mask) })
      }
    }
  }
}
</script>
