<template>
  <div
    v-click-outside="clickOutside"
    class="lang-panel-wrapper"
    :class="{'is-open': isOpen}"
    data-qa="topMenuLangPanel"
    @click="toggleOpen"
  >
    <div
      id="lang"
      class="lang-panel"
    >
      <div
        class="lang-panel__item"
      >
        <img
          :alt="currentLang"
          :src="require('../../../static/img/flags/' + currentLang + '.svg')"
        >
      </div>
    </div>

    <select-dropdown
      v-show="isOpen"
      ref="lang-popper"
      v-model="isOpen"
      data-attr="ob-selector"
      position="bottom"
      :data-qa="dataQa"
    >
      <div
        class="lang-dropdown-menu"
      >
        <div
          v-for="(lang, index) in langs"
          :key="index"
          class="lang-dropdown-menu__item"
          :class="index === currentLang && 'is-active'"
          :data-qa="'lang_' + index"
          @click="setLang(index)"
        >
          <img
            :alt="lang"
            :src="require('../../../static/img/flags/' + index + '.svg')"
          >
          <div class="lang-panel-text">
            {{ lang }}
          </div>
        </div>
      </div>
    </select-dropdown>
  </div>
</template>

<script>
import SelectDropdown from '../../obSelect/select-dropdown'
import ClickOutside from 'vue-click-outside'

export default {
  directives: {
    ClickOutside
  },
  components: {
    SelectDropdown
  },
  props: {
    langs: Object,
    currentLang: String,
    dataQa: {
      type: String
    }
  },
  provide () {
    return {
      select: this
    }
  },
  data () {
    return {
      isActive: false,
      isOpen: false
    }
  },
  methods: {
    toggleOpen () {
      this.isOpen = !this.isOpen
    },
    setLang (value) { this.$emit('setLang', value) },
    onDropdown (isActive) {
      this.isActive = isActive
    },
    clickOutside () {
      if (this.isOpen) this.isOpen = false
    }
  }
}
</script>
<style scoped lang="scss">
@import "../../../static/css/mixins";

.lang-panel-wrapper {
  cursor: pointer;
  display: flex;
  height: 100%;
}
.lang-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 2px 2px 0 0;
    border: none;
    outline: none;
    cursor: pointer;
    .is-open & {
      background: $Green-700;
      box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    }
    img {
      width: 20px;
    }
    &--active {
      background: $color-blue-smalt;
      box-shadow: 0px 8px 12px rgba($deep-blue, 0.2);
    }
  }
}

.lang-dropdown-menu {
  position: absolute;
  background: $deep-blue;
  right: 110px;
  top: 49px;
  width: 189px;
  .is-open & {
    background: $Green-700;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: $topMenuTextHover;
    padding: 10px 15px;
    &:hover, &:focus, &:active {
      background: $Green-600;
    }
  }
  .lang-panel-text {
    margin-left: 7px;
  }
}
</style>
