<template>
  <div class="oboz-top-menu">
    <a
      :href="homeUrl"
      class="oboz-logo-link"
      target="_blank"
    >
      <img
        :alt="altLogo"
        :src="srcLogo"
        class="oboz-logo"
      >
    </a>

    <slot />
  </div>
</template>

<script>
export default {
  name: 'ObLogo',
  computed: {
    isHostGruzi () {
      return window.location.host.split('gruzi').length > 1
    },
    homeUrl () {
      return `https://${this.isHostGruzi ? 'gruzi.ru' : 'oboz.com'}`
    },
    altLogo () {
      return this.isHostGruzi ? 'Компания Грузи' : 'Компания Обоз'
    },
    srcLogo () {
      return this.isHostGruzi ? '/logo_gruzi.svg' : '/logo_oboz.svg'
    }
  }
}
</script>

<style scoped lang="scss">
  @import "../../../static/css/mixins";

  .oboz-top-menu {
    position: relative;
    z-index: 20;
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    padding-right: 20px;
    background: $Green-700;
    box-shadow: 0 4px 16px rgba($dark-navy, 0.4);
  }

  .oboz-logo-link {
    width: 134px;
    padding: 0 20px;
  }

  .oboz-logo {
    width: 100%;
    height: 100%;
  }
</style>
