<template>
  <router-link
    :to="to"
    tag="button"
    class="middle-menu-button"
    :data-qa="dataQa"
  >
    {{ title }}
  </router-link>
</template>

<script>
export default {
  name: 'MenuButton',
  props: {
    title: {
      type: String,
      required: true
    },
    to: {
      type: Object,
      required: false,
      default: undefined
    },
    dataQa: {
      type: String
    }
  }
}
</script>

<style lang="scss" scoped>
  .middle-menu-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10px;
    background: none;
    border: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $lavender;
    outline: none;
    &.is-active {
      outline: none;
      color: white;
    }
  }
</style>
