<template>
  <ob-logo>
    <div
      ref="mainMenu"
      class="new-main-menu"
    >
      <ob-top-menu-button
        v-for="(item, index) in menu"
        :key="index"
        :menu-item="item"
        :menu="menu"
        :data-qa="dataQa"
        @change="changeRoute"
      />
    </div>
    <div
      id="profile-menu"
      v-click-outside="profileClickOutside"
      placement="bottom-start"
      data-qa="topMenuProfile"
      @click="!isCliCar ? toggleProfile() : null"
    >
      <span
        class="profile-menu"
        :class="isShowProfile && '--active'"
      >
        <div
          class="oboz-user-info"
          @click="isCliCar ? toggleProfile() : null"
        >
          <div class="oboz-user-company">{{ company }}</div>
          <div class="oboz-user-name">{{ username }}</div>
          <div class="oboz-user-role">{{ singleUserRole }}</div>
        </div>
        <div
          class="profile-menu-image-container"
        >
          <i
            class="icon"
            :class="getRoleIcon()"
          />
          <div
            v-if="companyRoleWithLocale"
            class="profile-menu-image-tooltip"
          >
            {{ companyRoleWithLocale }}
          </div>
        </div>

        <transition name="fadeIn">
          <div
            v-if="isShowProfile"
            class="profile-dropdown-menu"
            data-attr="ob-selector"
            :data-qa="dataQa"
          >
            <div class="profile-dropdown-menu__item profile-dropdown-menu-top-container">
              <div class="profile-dropdown-menu-top">
                <div class="profile-dropdown-menu-top-credentials">
                  <div class="profile-image-container">
                    <i
                      class="icon"
                      :class="getRoleIcon()"
                    />
                  </div>
                  <div class="profile-dropdown-menu-top-info">
                    <div class="profile-dropdown-menu-top-company">
                      {{ company }}
                    </div>
                    <div
                      data-qa="profileUserName"
                      class="profile-dropdown-menu-top-username"
                    >
                      {{ username }}
                    </div>
                    <div class="profile-dropdown-menu-top-role">
                      <span
                        v-for="({ name }, index) in filteredRoles"
                        :key="name"
                      >
                        {{ name }}<span v-if="index < filteredRoles.length - 1">,</span>
                      </span>
                      <span
                        v-if="roles.length > 5"
                        class="profile-dropdown-menu-top-role-show-others"
                      >, Еще...</span>
                      <div
                        class="profile-dropdown-menu-top-tooltip"
                        :class="{'profile-dropdown-menu-top-tooltip-active': roles.length > 5}"
                      >
                        <span
                          v-for="({ name }, index) in roles"
                          :key="name"
                        >
                          {{ name }}<span v-if="index < roles.length - 1">,</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="profile-dropdown-menu-top-logout"
                  data-qa="profileExit"
                  @click.prevent.stop="$emit('logout')"
                >
                  <i class="icon exit" />
                  <div class="profile-dropdown-menu-top-logout-text">
                    Выйти
                  </div>
                </div>
              </div>
            </div>
            <!--скрыл линию style="display: none"-->
            <div
              class="profile-dropdown-menu__item profile-dropdown-menu-border-wrapper"
              style="display: none"
            >
              <div class="profile-dropdown-menu-border" />
            </div>
            <!--скрыл профиль style="display: none"-->
            <div
              class="profile-dropdown-menu__item profile-dropdown-menu-profile"
              command="profile"
              data-qa="profileProfile"
              style="display: none"
            >
              <div class="profile-image-container">
                <i class="icon profile" />
              </div>
              <div class="title">
                Профиль
              </div>
            </div>
            <!--скрыл настройки style="display: none"-->
            <div
              class="profile-dropdown-menu__item profile-dropdown-menu-settings"
              command="settings"
              data-qa="profileSettings"
              style="display:none;"
            >
              <div class="profile-image-container">
                <i class="icon settings" />
              </div>
              <div class="title">
                Настройки
              </div>
            </div>
            <div
              v-if="Object.keys(otherCompanies||{}).length > 0"
              class="profile-dropdown-menu__item profile-dropdown-menu-invitation"
            >
              <div class="profile-dropdown-menu-invitation">
                Войти от имени другой организации
              </div>
            </div>
            <div class="profile-dropdown-menu-company-container">
              <div
                v-for="(companyItem, index) in otherCompanies"
                :key="index"
                :click="handleCommand({
                  command: 'setCompany',
                  payload: index
                })"
                class="profile-dropdown-menu__item profile-dropdown-menu-company"
              >
                <div class="profile-image-container">
                  <i class="icon role-client" />
                </div>
                {{ companyItem.name }} {{ companyItem.index }}
              </div>
            </div>
          </div>
        </transition>
      </span>

      <div
        id="tasks"
        :class="{active: tasksActive}"
        data-qa="topMenuTasks"
        @click="tasks"
      >
        <img
          v-if="tasksCount > 0"
          src="./img/task-active.svg"
          alt=""
        >
        <img
          v-else
          src="./img/task.svg"
          alt=""
        >
      </div>
      <div
        v-if="isCliCar"
        class="profile-menu-bill_title"
      >
        <span>ЛИЦЕВОЙ СЧЕТ</span>
        <h3
          class="profile-menu-bill_number"
        >
          {{ billNumber + ' ₽' }}
        </h3>
      </div>
    </div>
    <div id="info">
      <i
        class="icon info"
        data-qa="topMenuInfo"
        @click="info"
      />
      <!--src="../../../static/img/layout/menu_nodot.svg"-->
    </div>
    <div
      v-if="contacts && contacts.phone && contacts.email"
      class="contacts"
    >
      <div class="contacts__title">
        Техподдержка
      </div>
      <a
        class="contacts__phone"
        :href="`tel:${contacts.phone}`"
      >
        {{ contacts.phone }}
      </a>
      <a
        class="contacts__email"
        :href="`mailto:${contacts.email}`"
      >
        {{ contacts.email }}
      </a>
    </div>
    <!--скрыл выбор языков style="display: none"-->
    <lang-panel
      :langs="langs"
      :current-lang="currentLang"
      :data-qa="dataQa"
      style="display: none"
      @setLang="setLang"
    />
  </ob-logo>
</template>

<script>
import api from '../../../api'
import store from '@/store'
import LangPanel from './ObLangPanel'
import ObTopMenuButton from './ObTopMenuButton'
import obLogo from './obLogo'
import ClickOutside from 'vue-click-outside'

export default {
  components: {
    obLogo,
    ObTopMenuButton,
    LangPanel
  },
  provide () {
    return {
      select: this
    }
  },
  directives: {
    ClickOutside
  },
  props: {
    menu: Array,
    activeMember: {
      type: Object,
      default: () => {
      }
    },
    isLangIcon: {
      type: Boolean
    },
    langs: {
      type: Object,
      default: () => ({ ru: 'RU – Russian', en: 'EN – English', zh: 'ZH – Chinese simple' })
    },
    role: {
      type: String,
      default: ''
    },
    defaultLang: {
      type: String,
      default: 'ru'
    },
    dataQa: {
      type: String
    },
    contacts: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      windowWidth: window.innerWidth,
      currentLang: 'ru',
      roles: [],
      roleIcon: null,
      company: null,
      username: 'Безымянный',
      isShowProfile: false,
      companyRoles: {
        ru: {
          administrator: 'Администратор',
          client: 'Клиент',
          agent: 'Агент',
          expeditor: 'Экспедитор',
          moderator: 'Модератор',
          provider: 'Поставщик'
        },
        en: {
          administrator: 'Administrator',
          client: 'Client',
          agent: 'Agent',
          expeditor: 'Expeditor',
          moderator: 'Moderator',
          provider: 'Provider'
        },
        zh: {
          administrator: 'CN_Administrator',
          client: 'CN_Client',
          agent: 'CN_Agent',
          expeditor: 'CN_Expeditor',
          moderator: 'CN_Moderator',
          provider: 'CN_Provider'
        }
      },
      otherCompanies: [
        // {
        //   name: 'ОАО Йцукен',
        //   features: ['pinned']// так будут подаваться разные фичи
        // },
        // {
        //   name: 'ООО Рога и копыта',
        //   features: []
        // }
      ],
      tasksActive: null,
      tasksCount: 0,
      billNumber: '0',
      companyRole: null,
      clientActive: false,
      carActive: true
    }
  },
  computed: {
    companyRoleWithLocale: ({ currentLang, companyRoles, roleIcon }) => companyRoles[currentLang][roleIcon],
    singleUserRole: ({ roles }) => roles.length ? roles[0].name : 'Пользователь',
    filteredRoles: ({ roles }) => [...roles].slice(0, 5),
    isCliCar: function () {
      return (this.companyRole === 'clicar')
    }
  },
  async created () {
    window.addEventListener('resize', () => {
      this.windowWidth = window.innerWidth
    })

    this.setDefaultLanguage()

    const userData = await api.user.getInfo()
    this.company = userData.data ? userData.data.company_name : ''
    this.companyRole = userData.data ? userData.data.company_role : ''
    if (userData.data && !userData.data.first_name && !userData.data.last_name) {
      this.username = 'Первый Пользователь'
    } else {
      this.username = userData.data ? userData.data.first_name + ' ' + userData.data.last_name : ''
    }
    this.roleIcon = userData.data ? userData.data.company_role : []
    this.roles = userData.data ? userData.data.roles : []

    const taskCountData = await api.user.getTasksCount()
    this.tasksCount = taskCountData.data ? taskCountData.data.count : 0
    this.$emit('on-load-user-data', userData ? userData.data : {})
  },
  methods: {
    getRoleIcon () {
      const iconMap = {
        administrator: 'administrator',
        moderator: 'system-moderator',
        expeditor: 'domain-owner',
        client: 'client',
        carrier: 'clicar',
        agent: 'agent',
        anonymous: 'profile',
        clicar: 'domain-owner'
      }

      return `role-${iconMap[this.roleIcon] || iconMap.anonymous}`
    },
    changeRoute (route) {
      this.$emit('change', route)
    },
    tasks () {
      this.$emit('clickToObject', { type: 'href', url: '/task-monitor' })
    },
    info () {
      this.$router.push({ name: 'Developing' })
    },
    go (member) {
      if (member.href) {
        window.location = member.href
      } else if (member.to && member.members) {
        this.$router.push(member.to)
      }
    },
    toggleProfile () {
      this.isShowProfile = !this.isShowProfile
    },
    toOrderPerformerer (clientParam, carParam, commitParam) {
      this.clientActive = clientParam
      this.carActive = carParam
      store.commit('user/changeSecondaryRole', commitParam)
      this.$router.push({ name: 'order__performerer' }).catch(() => {})
    },
    handleCommand (command) {
      let commandType = () => typeof command
      switch (commandType) {
        case 'String':
          this[command] ? this[command]() : this.$emit(command)
          break
        case 'Object':
          this[command.command] ? this[command.command](command.payload) : this.$emit(command.command, command.payload)
          break
      }
    },
    setDefaultLanguage () {
      let language = window.navigator ? (window.navigator.language ||
          window.navigator.systemLanguage ||
          window.navigator.userLanguage) : this.defaultLang

      language = language.substr(0, 2).toLowerCase()

      this.currentLang = Object.keys(this.langs).includes(language) ? language.substr(0, 2).toLowerCase() : this.defaultLang
    },
    setLang (lang) {
      this.currentLang = lang
      this.$emit('change-locale', lang)
    },
    profileClickOutside () {
      if (this.isShowProfile) this.isShowProfile = false
    }
  }
}
</script>

<style scoped lang="scss">
  @import "../../../static/css/mixins";

  .new-main-menu {
    display: flex;
    flex-grow: 1;
  }

  .menu-button {
    cursor: pointer;
    background: none;
    border: none;
    display: inline-flex;
    flex-direction: row;
    margin: 28px 2px 16px 2px;
    height: 20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $lavender;

    &:focus, &.is-active {
      outline: none;
      text-shadow: 0 0 .65px white, 0 0 .65px white;
      color: white;
    }
  }

  .oboz-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-right: 12px;
    box-sizing: border-box;
    text-align: right;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  .oboz-user-company {
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.8;
    margin-bottom: 5px;
  }

  .oboz-user-name {
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.4px;
    margin-bottom: 3px;
  }

  .oboz-user-role {
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.8;
  }

  #profile-menu, #tasks, #info {
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 10px;
    transition: opacity .2s;
    i {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $obMainMenu-top_profile_i;
      font-size: 24px;
    }
  }

  #profile-menu {
    padding-right: 0;
  }

  #tasks, #info {
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 10px;
    transition: opacity 0.2s;

    &:hover, &:focus, &:active {
      opacity: 0.8;
    }
  }

  #tasks {
    &.active {
      background: $obMainMenu-tasks_active_background;
    }
  }

  .profile-menu {
    position: relative;
    flex-direction: row;
    display: flex;
    padding: 0 10px;
    outline: none;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
    &.--active {
      opacity: 1;
      box-shadow: 0 8px 12px rgba(1, 36, 94, 0.2);
      border-radius: 4px 4px 0 0;
    }
  }

  .profile-menu-image-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 64px;
    width: 44px;
    margin-top: 0px;

    &:hover {
      .profile-menu-image-tooltip {
        opacity: 1;
      }
    }

    &__active {
      background: $Green-600;
    }
  }

  .profile-menu-image-tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .2s ease;
    pointer-events: none;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: $obMainMenu-top_profile_tooltip_color;
    padding: 4px 8px;
    background: $obMainMenu-top_profile_tooltip_background;
    border: 1px solid $obMainMenu-top_profile_tooltip_border;
    box-sizing: border-box;
  }

  .profile-image-container {
    display: flex;
    justify-content: center;
    margin-right: 12px;
    width: 24px;
  }

  .profile-dropdown-menu-top-tooltip {
    position: absolute;
    bottom: 15px;
    left: -37px;
    background: $obMainMenu-top_profile_dropdown_tooltip_background;
    border: 1px solid $obMainMenu-top_profile_dropdown_tooltip_border;
    padding: 4px 8px;
    font-family: PT Sans;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: $obMainMenu-top_profile_dropdown_tooltip_color;
    text-transform: none;
    width: 254px;
    box-sizing: border-box;
    transition: opacity .2s ease;
    opacity: 0;
    pointer-events: none;
  }

  .profile-dropdown-menu-top-role-show-others {
    color: $obMainMenu-top_profile_dropdown_others_color;

    &:hover {
      opacity: .75;

      + .profile-dropdown-menu-top-tooltip-active {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  .profile-dropdown-menu-company-container {
    max-height: 350px;
    overflow: auto;
    padding-bottom: 9px;
  }

  .profile-dropdown-menu-settings-flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .fadeIn-enter, .fadeIn-leave-to {
    opacity: 0;
  }

  .fadeIn-enter-active, .fadeIn-leave-active {
    transition: all .2s ease-in-out;
  }

  .profile-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 360px;

    .icon {
      font-size: 24px;
    }

    .profile-dropdown-menu__item {
      @include font-mixin(12px, 16px, 400, $topMenuTextHover , 0.4px);
      background: transparent;
      padding: 10px 20px;
      cursor: pointer;

      &.profile-dropdown-menu-top-container {
        padding-top: 20px;
        cursor: default;
      }

      .profile-dropdown-menu-top {
        justify-content: space-between;
        display: flex;
        width: 320px;

        .profile-dropdown-menu-top-credentials {
          display: flex;

          img {
            margin-top: 5px;
            height: 20px;
          }

          .profile-dropdown-menu-top-info {
            max-width: 170px;
          }

          .profile-dropdown-menu-top-company {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            opacity: .8;
            margin-bottom: 2px;
          }

          .profile-dropdown-menu-top-username {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2px;
            margin-bottom: 4px;
          }

          .profile-dropdown-menu-top-role {
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            position: relative;
          }
        }

        .profile-dropdown-menu-top-logout {
          cursor: pointer;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;

          img {
            margin-bottom: 7px;
          }

          &:hover {
            opacity: .75;
          }

          .profile-dropdown-menu-top-logout-text {
            margin-top: 9px;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.4px;
            text-transform: uppercase;
            color: #fff;
          }
        }
      }

      &.profile-dropdown-menu-border-wrapper {
        padding-top: 12px;
        cursor: default;

        &:hover, &:focus, &:active {
          background:$Green-500;
        }
      }

      .profile-dropdown-menu-border {
        width: 320px;
        border: 1px solid $lavender;
        opacity: .2;
      }

      &.profile-dropdown-menu-profile, &.profile-dropdown-menu-settings {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        padding-top: 13px;
        padding-bottom: 13px;
      }

      &.profile-dropdown-menu-settings {
        margin-bottom: 6px;
      }

      &.profile-dropdown-menu-invitation {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.4px;
        padding-top: 30px;
        padding-bottom: 12px;
        cursor: default;
        color: $Green-900;
      }

      &.profile-dropdown-menu-company {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        letter-spacing: 0.2px;

        &:hover, &:focus, &:active {
          background: $Green-500;
        }
      }
    }
  }

  .lang-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      img {
        width: 20px;
      }

      &.is-active, &:active {
        background-color: $color-blue-smalt;
      }
    }
  }

  // temporary styles for CliCar

  .role-clicar {
    &:before {
      content: url('./img/logo_truck.svg') !important;
    }
  }

  /*.role-domain-owner {*/
  /*  &:before {*/
  /*    content: url('./img/role-client.svg') !important;*/
  /*  }*/
  /*}*/

  .profile-menu-bill {
    &_title {
      padding: 0 20px;
      margin-top: 16px;
      font-size: 9px;
      line-height: 10px;
      text-align: center;
      color: #fff;
      span{
        opacity: .8;
      }
    }

    &_number {
      font-weight: bold;
      font-size: 16px;
      text-align: right;
      line-height: 20px;
    }
  }

  .icon {
    padding-left: 10px;
  }

  .contacts {
    padding-right: 20px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .contacts__title {
    font-size: 9px;
    line-height: 10px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    opacity: 0.8;
    margin-bottom: 2px;
  }

  .contacts__email {
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 1px;
    opacity: 0.8;
  }

  .contacts__phone {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 5px;
  }

</style>
