<template>
  <div>
    <div
      v-if="isDropDown || isSingle"
      class="ob-top-menu-button"
    >
      <dropdown
        :menu-item="menuItem"
        :menu="menu"
        :is-single="isSingle"
        :data-qa="dataQa"
        @change="changeRoute"
      />
    </div>
  </div>
</template>

<script>
import dropdown from './ObTopMenuDropdownMember'
import { mapGetters } from 'vuex'

export default {
  components: { dropdown },
  props: {
    menuItem: {
      type: Object,
      default: () => {}
    },
    menu: {
      type: Array,
      default: () => []
    },
    dataQa: {
      type: String
    }
  },
  computed: {
    isSingle () {
      if (this.isClicar && !this.role) {
        return !this.isDropDown && this.menuItem.level === 1 && !['Логцепочки'].includes(this.menuItem.title)
      }
      return !this.isDropDown && this.menuItem.level === 1
    },
    isDropDown () {
      let secondLevel = this.menu.filter(item => item.parent_uuid === this.menuItem.uuid && !item.need_show_parent_only && !item.action).map(item => item.uuid)
      let thirdLevel = this.menu.filter(item => secondLevel.includes(item.parent_uuid) && !item.need_show_parent_only && !item.action)

      return secondLevel.length && thirdLevel.length > 0
    },
    ...mapGetters({
      isClicar: 'user/isClicar',
      role: 'user/secondaryRole'
    })
  },
  methods: {
    changeRoute (route) {
      this.$emit('change', route)
    }
  }
}
</script>

<style lang="scss">
  .ob-top-menu-button {
    height: 100%
  }

  .ob-top-menu-button .--active {
    background-color: $Grey-300;
    font-weight: bold;
    color: $Grey-900;

    &:before {
      background-color: transparent !important;
    }
  }
</style>
