<template>
  <div class="ob-func-panel__control">
    <div
      v-if="!options.group"
      class="ob-func-panel__control-group"
    >
      <div
        v-for="(button, index) in buttons"
        :key="`add-button-${index}`"
        class="ob-func-panel__control"
      >
        <div
          class="ob-func-panel__control-row"
          @click="onAdd(button)"
        >
          <i class="icon plus" />
          <span>{{ button.text }}</span>
        </div>
      </div>
    </div>

    <div
      v-else
      v-click-outside="() => open = false"
      class="ob-func-panel__control-inner"
    >
      <div class="ob-func-panel__control">
        <div
          class="ob-func-panel__control-row"
          :class="{ 'ob-func-panel__control-row_active': open }"
          @click="open = !open"
        >
          <i class="icon plus" />
          <span class="ob-func-panel__control-action-text">{{ options.text || "Добавить" }}</span>
        </div>

        <transition name="fade">
          <div
            v-if="open"
            class="ob-func-panel__control-dropdown"
          >
            <div
              v-for="(button, index) in buttons"
              :key="`grouped-add-button-${index}`"
              class="ob-func-panel__control-dropdown-item"
              @click="onAdd(button)"
            >
              <span>{{ button.text }}</span>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
  directives: {
    ClickOutside
  },
  props: {
    buttons: {
      type: Array,
      required: true
    },
    options: {
      type: Object
    }
  },
  data () {
    return {
      open: false
    }
  },
  methods: {
    onAdd (button) {
      this.$emit('add', button)
      this.open = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .ob-func-panel__control-inner {
    height: 100%;
  }
  .ob-func-panel__control-group {
    display: flex;
    height: 100%;
  }
  .ob-func-panel__control-dropdown {
    padding: 10px 0;
  }
  .ob-func-panel__control-dropdown-item {
    padding: 10px 20px;
    height: auto;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;

    &:hover {
      background: $light-lavender;
    }
  }
  .ob-func-panel__control-action-text {
    color: $color-blue-navy-blue;
  }
</style>
