<template>
  <div
    ref="datepicker"
    class="ob-date-picker"
    :class="{'is-inline': isInline}"
  >
    <div
      v-if="!isInline"
      class="ob-date-picker__ooutput"
    >
      <ob-input
        v-model="localValue"
        icon="calendar"
        :label="label"
        :mask="maskFull"
        :is-valid="isValid"
        :validation-message="validationMessage"
        :data-qa="dataQa"
        @on-click-icon="onClickIcon"
        @on-mask-valid="onInputMaskValid"
      />
    </div>
    <div
      v-if="isInline"
      class="ob-date-picker__inline-label"
    >
      <div
        class="ob-date-picker __inline-label-title -cobalt"
        :data-qa="dataQa"
        @click="onClickIcon"
      >
        {{ inlineValue.length ? inlineValue : placeholder }}
        <i
          v-if="isOpen"
          class="icon chevron-up"
        />
        <i
          v-if="!isOpen"
          class="icon chevron-down"
        />
      </div>
    </div>

    <select-dropdown
      v-model="isOpen"
      data-attr="ob-date-picker"
      position="bottom"
      :data-qa="dataQa"
    >
      <div
        v-if="this.$slots.default && this.$slots.default.length"
        class="ob-date-picker__header"
      >
        <slot />
      </div>
      <div class="ob-date-picker__container">
        <div class="ob-date-picker__calendar-wrapper">
          <Datepicker
            ref="date"
            v-model="calendarValue"
            data-attr="ob-date-picker-container"
            :language="language"
            :monday-first="true"
            :disabled-dates="disabledDates"
            :highlighted="highlighted"
            :calendar-button="true"
            :placeholder="placeholder"
            :format="format"
            :inline="true"
            :full-month-name="true"
            input-class="customize-input"
            calendar-button-icon="icon calendar"
            :data-qa="dataQa"
            @selected="selectedHandler"
          />
        </div>
        <div class="ob-date-picker__controls">
          <div
            class="ob-date-picker__controls-range"
            :class="{'ob-date-picker__controls-range-time' : isTime}"
          >
            <div class="ob-date-picker__controls-label">
              Диапазон
            </div>
            <div class="ob-date-picker__controls-from row">
              <div :class="isTime ? 'col-xs-7' : 'col-xs-12'">
                <ob-input
                  v-model="range.from"
                  label="От"
                  :mask="mask"
                  :is-valid="isTimeFromValid"
                  :validation-message="validationMessage"
                  :data-qa="dataQa"
                  @on-mask-valid="onControlMaskValid"
                />
              </div>
              <div
                v-if="isTime"
                class="col-xs-5"
              >
                <ob-select
                  v-model="timeFrom"
                  label="Время"
                  :items="timeItems"
                  position="bottom-end"
                  :data-qa="dataQa"
                  @selected="onControlMaskValid"
                />
              </div>
            </div>
            <div class="ob-date-picker__controls-from row">
              <div :class="isTime ? 'col-xs-7' : 'col-xs-12'">
                <ob-input
                  v-model="range.to"
                  label="До"
                  :mask="mask"
                  :is-valid="isTimeToValid"
                  :validation-message="validationMessage"
                  :data-qa="dataQa"
                  @on-mask-valid="onControlMaskValid"
                />
              </div>
              <div
                v-if="isTime"
                class="col-xs-5"
              >
                <ob-select
                  v-model="timeTo"
                  label="Время"
                  :items="timeItems"
                  position="bottom-end"
                  :data-qa="dataQa"
                  @selected="onControlMaskValid"
                />
              </div>
            </div>
          </div>
          <div
            class="row"
          >
            <div
              class="col-xs-5"
              :class="isTime ? 'col-xs-offset-7' : 'col-xs-offset-3'"
            >
              <ob-button
                label="Выбрать"
                type="outline"
                placeholder="Выберите время"
                :data-qa="dataQa"
                @click="close"
              />
            </div>
          </div>
        </div>
      </div>
    </select-dropdown>
  </div>
</template>

<script>
import Datepicker from '../vuejs-datepicker'
import { ru, en, zh } from 'vuejs-datepicker/dist/locale'
import moment from 'moment'
import ObInput from '../obInput/index.vue'
import ObSelect from '../obSelect/index'
import ObButton from '../obButton'
import SelectDropdown from '../obSelect/select-dropdown'
import masker from '../obMask/utils/masker'

export default {
  components: {
    Datepicker,
    ObInput,
    SelectDropdown,
    ObSelect,
    ObButton
  },
  props: {
    value: {
      type: [Object],
      default: () => ({ from: new Date(), to: new Date() })
    },
    format: {
      type: String,
      default: 'dd.MM.yyyy'
    },
    placeholder: {
      type: String,
      default: 'дд.мм.гггг'
    },
    label: {
      type: String,
      default: 'label'
    },
    lang: {
      type: String,
      default: 'ru'
    },
    sinceTo: {
      type: Array,
      default: () => []
    },
    blockAll: {
      type: Boolean,
      default: () => false
    },
    allowHolidays: {
      type: Boolean,
      default: () => false
    },
    allowWeekends: {
      type: Boolean,
      default: () => true
    },
    allowAll: {
      type: Boolean,
      default: () => false
    },
    isInline: {
      type: Boolean,
      default: () => false
    },
    isTime: {
      type: Boolean,
      default: () => false
    },
    dataQa: {
      type: String
    }
  },
  provide () {
    return {
      select: this
    }
  },
  data () {
    return {
      langOfCalendar: { ru, en, zh },
      selectedDate: '',
      disabledCount: 0,
      isOpen: false,
      dateFrom: false,
      dateTo: false,
      timeFrom: '00:00',
      timeTo: '00:00',
      localValue: '',
      localValueTime: '',
      calendarValue: '',
      isValid: true,
      isTimeFromValid: true,
      isTimeToValid: true,
      validationMessage: 'Неверный формат даты',
      range: {
        from: '',
        to: ''
      }
    }
  },
  computed: {
    language () {
      return this.langOfCalendar[this.lang]
    },
    disabledDates () {
      const holidaysRange = this.allowHolidays ? [] : [
        {
          from: new Date(2020, 0, 1),
          to: new Date(2020, 0, 14)
        },
        {
          from: new Date(2020, 4, 1),
          to: new Date(2020, 4, 10)
        }
      ]
      let weekendRange = this.allowWeekends ? [] : [6, 0]
      const datesRange = []
      const rangesOptions = {
        default: {
          days: weekendRange,
          ranges: holidaysRange,
          dates: datesRange
        },
        allowHolidays: {
          days: weekendRange,
          ranges: holidaysRange,
          dates: datesRange
        },
        allowWeekends: {
          days: weekendRange,
          ranges: holidaysRange,
          dates: datesRange
        },
        allowAll: {}
      }
      if (this.sinceTo) {
        this.sinceTo.forEach(it => {
          holidaysRange.push({ from: new Date(it.from), to: new Date(it.to) })
        })
      }

      if (this.blockAll) {
        holidaysRange.push({ from: new Date(), to: new Date(2050, 0, 0) })
        rangesOptions.allowAll.ranges = holidaysRange
      }

      if (this.allowWeekends && this.allowHolidays) {
        weekendRange.length = 0
      }

      return this.allowHolidays ? rangesOptions.allowHolidays : this.allowWeekends ? rangesOptions.allowWeekends : this.allowAll ? rangesOptions.allowAll : rangesOptions.default
    },
    timeItems () {
      let items = []
      for (let i = 0; i < 48; i++) {
        items.push(this.getTimeItem(i))
      }
      return items
    },
    highlighted () {
      return this.dateTo && this.dateFrom ? {
        to: this.dateTo ? this.dateTo : '',
        from: this.dateFrom ? this.dateFrom : ''
      } : {}
    },
    maskFull () {
      let mask = this.format.toLowerCase()
      mask = mask.replace(/d/g, 'д')
      mask = mask.replace(/m/g, 'м')
      mask = mask.replace(/y/g, 'г')
      if (!this.isTime) {
        mask += ' - ' + mask
      } else {
        mask += ', чч:мм - ' + mask + ', чч:мм'
      }
      return mask
    },
    mask () {
      let mask = this.format.toLowerCase()
      mask = mask.replace(/d/g, 'д')
      mask = mask.replace(/m/g, 'м')
      mask = mask.replace(/y/g, 'г')
      return mask
    },
    inlineValue () {
      let val = ''
      if (!this.isTime && this.range.to) {
        val = `${masker(this.range.from, this.mask)} - ${masker(this.range.to, this.mask)}`
      }
      if (this.isTime && this.range.to) {
        val = `${masker(this.range.from, this.mask)} ${this.timeFrom} - ${masker(this.range.to, this.mask)} ${this.timeTo}`
      }
      return val
    },
    _format () {
      let format = this.format.toUpperCase()
      format += this.isTime ? ' HH:mm' : ''
      return format
    }
  },
  watch: {
    value (to) {
      this.setLocalValue(this.value)
    }
  },
  mounted () {
    this.$refs.date.$el.querySelectorAll('.prev').forEach(item => { item.innerHTML = '<i class="icon chevron-left"/>' })
    this.$refs.date.$el.querySelectorAll('.next').forEach(item => { item.innerHTML = '<i class="icon chevron-right"/>' })
    this.setLocalValue(this.value)
  },
  methods: {
    setLocalValue (date) {
      this.localValue = moment(date.from).format(this._format) + moment(date.to).format(this._format)
      this.dateFrom = new Date(date.from)
      this.dateFrom.setHours(0)
      this.dateFrom.setMinutes(0)
      this.dateTo = new Date(date.to)
      this.dateTo.setHours(23)
      this.dateTo.setMinutes(59)
      this.range.from = moment(date.from).format(this._format)
      this.range.to = moment(date.to).format(this._format)
    },
    selectedHandler ($event) {
      if ((!this.dateFrom && !this.dateTo) || (this.dateFrom && this.dateTo)) {
        this.dateFrom = $event
        this.range.from = this.getFormatedDate($event)
        this.dateTo = false
        this.range.to = ''
      } else if (this.dateFrom) {
        if ($event < this.dateFrom) {
          this.dateTo = this.dateFrom
          this.range.to = this.getFormatedDate(this.dateFrom)
          this.dateFrom = $event
          this.range.from = this.getFormatedDate($event)
        } else {
          this.dateTo = $event
          this.range.to = this.getFormatedDate($event)
        }
      }
    },
    onClickIcon () {
      this.isOpen = !this.isOpen
    },
    close () {
      this.emitAction()
      this.isOpen = false
    },
    emitAction () {
      let _dateFrom = moment(this.range.from + this.timeFrom, this._format)
      let _dateTo = moment(this.range.to + this.timeTo, this._format)

      if (_dateFrom._isValid && _dateTo._isValid) {
        this.$emit('input', { from: _dateFrom._d, to: _dateTo._d })
      }
    },
    getTimeItem (ind) {
      if (ind % 2 === 0) {
        return {
          uuid: ind < 20 ? `0${ind / 2}:00` : `${ind / 2}:00`,
          title: ind < 20 ? `0${ind / 2}:00` : `${ind / 2}:00`
        }
      } else {
        return {
          uuid: ind < 20 ? `0${(ind / 2).toFixed(0) - 1}:30` : `${(ind / 2).toFixed(0) - 1}:30`,
          title: ind < 20 ? `0${(ind / 2).toFixed(0) - 1}:30` : `${(ind / 2).toFixed(0) - 1}:30`
        }
      }
    },
    onControlMaskValid () {
      this.isTimeFromValid = true
      this.isTimeToValid = true
      let _dateFrom = moment(this.range.from, this.format.toUpperCase())
      let _dateTo = moment(this.range.to + '23:59', this.format.toUpperCase() + 'hh:mm')
      if (!_dateFrom._isValid) {
        this.isTimeFromValid = false
        return
      }
      if (!_dateTo._isValid) {
        this.isTimeToValid = false
        return
      }
      this.dateFrom = _dateFrom._d
      this.dateTo = _dateTo._d
    },
    onInputMaskValid () {
      this.isValid = true
      let _dateFrom = moment(this.localValue.slice(0, this.localValue.length / 2), this._format)
      let _dateTo = moment(this.localValue.slice(this.localValue.length / 2, this.localValue.length), this._format)
      if (!_dateFrom._isValid || !_dateTo._isValid || _dateFrom._d > _dateTo._d) {
        this.isValid = false
        return
      }
      this.$emit('input', { from: _dateFrom._d, to: _dateTo._d })
    },
    getFormatedDate (date, time) {
      let mVal = moment(date, this._format)
      if (!mVal._isValid) return false

      let _date = mVal._d

      if (time) {
        let _time = time.split(':')
        _date.setHours(+_time[0])
        _date.setMinutes(+_time[1])
      }
      return moment(_date).format(this._format)
    }
  }
}
</script>
