<template>
  <div class="ob-draggable">
    <div class="ob-draggable-list">
      <div
        v-for="(it, index) in formRows"
        :key="it.locationLabel"
        class="ob-draggable__row"
      >
        <div class="drag-wrap">
          <i class="icon move" />
        </div>
        <div
          v-if="it.location"
          class="map-wrap wrap"
        >
          <ob-address-input
            v-model="it.address"
            data-attr="ob-draggable"
            :title="it.locationLabel"
            :placeholder="it.placeholder"
            :location-types="locationTypes"
            :map-id="`map-${index}`"
            :data-source="selectedData[index]"
            :is-valid="it.isValid"
            :popover-message="it.popoverMessage"
            :data-qa="dataQa"
            @input="onInput"
            @blur="blurAddress"
          />
          <div
            v-if="it.points"
            class="step-wrap wrap"
          >
            <ob-stepper
              v-model="it.pointsValue"
              :label="it.pointLabel"
              :min-value="1"
              class="ob-draggable__stepper "
            />
          </div>
        </div>
        <ob-date-picker
          v-if="index == date.type"
          v-model="date"
          data-attr-el="ob-draggable"
          :label="it.dateLabel"
          :is-order="true"
          :allow-type-date="true"
          :data-qa="dataQa"
          @input="onDateInput"
        />
      </div>
    </div>
    <div
      class="button-wrap"
    >
      <div class="add-button">
        <i class="add-button__icon icon plus" />
        <span class="add-button__text">Добавить точку</span>
      </div>
    </div>
  </div>
</template>

<script>
import ObStepper from '../obStepper'
import ObDatePicker from '../obOrderDatePicker'
import ObAddressInput from '../obAddressInput'
import api from '../../api'

const d = new Date()
const t = d.setDate(new Date().getDate() + 1)
const tomorrow = new Date(t).setHours(12, 0, 0, 0)

export default {
  components: {
    ObStepper,
    ObDatePicker,
    ObAddressInput
  },
  props: {
    route: {
      type: Array,
      default: () => [
        {
          'location': true,
          'address': {},
          'points': true,
          'date': true,
          'required': true,
          'locationLabel': 'Откуда',
          'pointLabel': 'Точки посещения',
          'dateLabel': 'Дата и время погрузки',
          'placeholder': 'Например, Мосфильмовская ул., 17, Москва, Россия, 119590',
          'value': '',
          'pointsValue': '1',
          'dateValue': 'Mon Nov 25 2019 16:02:18 GMT+0300 (Moscow Standard Time)',
          'icon': 'map',
          'uuid': 1
        },
        {
          'location': true,
          'address': {},
          'points': true,
          'date': false,
          'required': true,
          'locationLabel': 'Куда',
          'pointLabel': 'Точки посещения',
          'dateLabel': 'Дата и время погрузки',
          'placeholder': 'Например, Мосфильмовская ул., 17, Москва, Россия, 119590',
          'value': '',
          'pointsValue': 1,
          'dateValue': 'Mon Nov 25 2019 16:02:18 GMT+0300 (Moscow Standard Time)',
          'icon': 'map',
          'uuid': 2
        }
      ]
    },
    dataQa: {
      type: String
    }
  },
  data () {
    return {
      locationTypes: this.route.locationTypes,
      selectedData: this.route,
      formRows: null,
      date: {
        date: tomorrow,
        type: '0'
      }
    }
  },

  async beforeMount () {
    let allTypes = await api.locations.getLocationTypes(false, 0, 100)
    let typesCount = await api.locations.getLocationTypesCount()

    if (allTypes.data) {
      allTypes = allTypes.data.content.map(type => {
        let associate = typesCount.find(item => item.location_uuid === type.uuid)

        return { ...type, count: associate ? associate.count : 0 }
      })
    } else {
      this.locationTypes = allTypes
      return false
    }
  },

  created () {
    this.formRows = this.route
  },

  mounted () {
    this.$emit('date-changed', this.date)
  },

  methods: {
    onDateInput ($event) {
      this.$emit('date-changed', $event)
    },
    isEmptyObj (obj) {
      for (let key in obj) {
        if (obj.hasOwnProperty(key)) {
          return false
        }
      }
      return true
    },
    onInput () {
      this.formRows.forEach(item => {
        if (!this.isEmptyObj(item.address)) {
          item.points = !!item.address.icon
        }
      })
      this.$emit('input', this.formRows)
    },
    blurAddress (data) {
      this.$emit('blurAddress', data)
    },
    addNewPoint () {
      this.formRows.splice(this.formRows.length - 1, 0, this.formRows[0])
    }
  }
}
</script>

<style lang="scss">
  @import "../../static/css/main";

  .ob-draggable {
    width: 100%;
    &-list{
      margin-bottom: 15px;
      &::-webkit-scrollbar-button {
        width: 3px;
        height: 0px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        overflow: hidden;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-blue-navy-blue;
        border-radius: 50px;
      }

      &::-webkit-resizer {
        width: 2px;
        height: 0px;
        overflow: hidden;
      }

      &::-webkit-scrollbar {
        width: 2px;
        overflow: hidden;
      }
    }

    &__row {
      display: flex;
      justify-content: flex-start;
      margin: 0 0 15px 0;
    }
  }

  .wrap {
    margin: 0 5px;
  }

  .drag-wrap {
    width: 10px;
    min-width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map-wrap {
    flex: 0 0 80%;
    min-width: 250px;
    display: flex;

    .address-input {
      flex-grow: 1;
    }
  }

  .step-wrap {
    flex: 0 0 30%;
    max-width: 150px;
  }

  .date-wrap {
    margin-left: 0;
    /*width: 24%;*/
  }

  .add-button {
    display: flex;
    align-items: center;
    position: relative;
    left: 15px;
    width: 130px;
    cursor: pointer;

    &__icon {
      font-size: 14px;
      margin-right: 5px;
      color: $color-blue-navy-blue;
    }

    &__text {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: $color-text-base;
    }
  }

  .button-wrap{
    margin-bottom: 25px;
  }
  /*<div class="add-button">*/
  /*<i class="add-button__icon icon plus" />*/
  /*<span class="add-button__text">Добавить точку</span>*/
  /*</div>*/
  /*</div>*/
</style>
