<template>
  <div>
    <ObInput
      v-model="formData.name"
      label="Имя(длина от 5 до 10)"
      property="name"
    />
    <ObInput
      v-model="formData.count"
      label="Число элементов(только число)"
      property="count"
    />
    <template v-if="formData.detail">
      <ObInput
        v-model="formData.detail.title"
        label="Наименование списка(обязательно если в число элементов введено больше 1)"
        property="detail.title"
        style="margin-bottom: 30px;"
      />
      <span>Если ввели число элементов - обязаны добавить их соответственно введенному количеству</span>
      <br>
      <br>
      <br>
      <div
        v-for="(item, index) in formData.detail.items"
        :key="index"
        style="margin-top: 10px;"
      >
        <ObInput
          v-model="item.title"
          label="Имя элемента"
          :property="'detail.items.' + index + '.title'"
        />
        <ObInput
          v-model="item.email"
          label="Email элемента"
          :property="'detail.items.' + index + '.email'"
        />
      </div>
      <ObButton
        v-if="formData.detail.items && formData.detail.items.length <= 1"
        style="margin-top: 10px;"
        label="Добавить элемент"
        :mini="true"
        @click="addElement"
      />
    </template>
  </div>
</template>

<script>
import ObInput from '../obComponents/obInput'
import ObButton from '../obComponents/obButton'

export default {
  name: 'ObFormForStories',
  components: {
    ObInput,
    ObButton
  },
  props: {
    formData: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    addElement () {
      let items = this.formData.detail.items
      this.$set(items, items.length || 0, {})
      this.$set(items[items.length - 1], 'title', '')
      this.$set(items[items.length - 1], 'email', '')
    }
  }
}
</script>
