.doc {
  background: #fdfdfd;
  margin: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #6b6a6a;

  h1 {
    font-size: 20px;
    line-height: 22px;
    color: #535252;
    margin: 15px 0;
  }

  h2 {
    font-size: 18px;
    line-height: 20px;
    color: #535252;
    margin: 15px 0;
  }

  h3 {
    font-size: 16px;
    line-height: 18px;
    color: #535252;
    margin: 15px 0;
  }

  p {
    display: inline-block;
    width: 100%;
    margin: 10px 0 5px;
  }
  .--warning {
    color: #e50000;
  }

  .--info {
    color: #0000d7;
  }

  .--success {
    color: #00b000;
  }
  code{
      display: inline-block;
      width: 100%;
      padding: 15px;
      background: #e4e4e4;
      margin: 10px 0;
  }
  .section {
    display: inline-block;
    width: 100%;
    padding: 15px 15px 15px 30px;
    background: #e4e4e4;
    margin: 5px 0;
    border-left: 5px solid #00b000;
    & > * {
      margin: 5px 0;
    }
  }

  table{
      width: 100%;
      border: 1px solid #b9b8b8;
      border-collapse: collapse;
      thead{
          text-align: center;
          background: #949393;
          color: $style-white;
          font-size: 16px;
          line-height: 18px;
      }
      tbody{
          font-size: 14px;
          line-height: 16px;
      }
      tr{
          td{
              padding: 5px;
              outline: none;
          }
      }
  }
  ul, ol {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    padding: 0;
  }

  ul li, ol li {
    margin-left: 15px;
    padding-left: 5px;
  }
}

.element_container{
  margin: 50px;
  padding: 50px;
  background: #fff;
}