<template>
  <div
    ref="breadcrumbs-panel"
    class="ob-breadcrumbs-container"
  >
    <div
      v-for="(item, index) in breadcrumbsElementsLocal"
      :key="index"
      ref="breadcrumbs-element"
      :index="index"
      class="ob-breadcrumbs-item"
    >
      <div
        v-if="!item.isHide"
        data-attr="ob-breadcrumbs-container"
        :data-qa="dataQa"
        @click="onClick(item)"
      >
        <span
          class="title"
          :class="{active: item.isSelected}"
        >{{ item.title }}</span>
        <i
          v-if="index !== (breadcrumbsElementsLocal.length - 1)"
          class="icon arrow-right -very-pale-blue"
        />
      </div>
      <div v-if="item.isFirst">
        <ob-tooltip>
          <div slot="content">
            <div
              v-for="(isHideItem, key) in isHideArray"
              :key="key"
              class="tooltip"
              :data-qa="dataQa"
              @click="onClick(isHideItem)"
            >
              <span :class="{active: isHideItem.isSelected}">{{ isHideItem.title }}</span>
              <i class="icon arrow-right -very-pale-blue" />
            </div>
          </div>
          <span class="-very-pale-blue tooltip-three-cir">...</span>
        </ob-tooltip>
        <i class="icon arrow-right -very-pale-blue" />
      </div>
    </div>
  </div>
</template>

<script>
import cloneDeep from 'clone-deep'
import ObTooltip from '../obTooltip/index'
export default {
  name: 'ObBreadcrumbs',
  components: { ObTooltip },
  props: {
    data: {
      type: Array,
      required: true,
      default: () => []
    },
    dataQa: {
      type: String
    }
  },
  data () {
    return {
      breadcrumbsElementsLocal: [],
      breadcrumbsElements: []
    }
  },
  computed: {
    breadcrumbsWidth () {
      return this.breadcrumbsElements.map((item) => item.getBoundingClientRect().width)
    },
    breadcrumbsWidthSum () {
      return this.breadcrumbsWidth.reduce((a, b) => a + b)
    },
    isHideArray () {
      return this.breadcrumbsElementsLocal.filter(item => item.isHide)
    }
  },
  mounted () {
    this.onRender()
    window.addEventListener('resize', this.calcWidth)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.calcWidth)
  },
  methods: {
    onRender () {
      this.breadcrumbsElementsLocal = this.data
      this.$nextTick(() => {
        this.breadcrumbsElements = this.$refs['breadcrumbs-element']
        this.calcWidth()
      })
    },
    calcWidth () {
      if (!this.data.length) return null
      let width = this.$refs['breadcrumbs-panel'].offsetWidth
      let breadcrumbsWidthSum = this.breadcrumbsWidthSum
      let isFirst = false
      this.breadcrumbsElementsLocal = this.breadcrumbsElementsLocal.map((item, index) => {
        item.isFirst = false
        if (index !== 0 && index !== (this.breadcrumbsElementsLocal.length - 1) && (breadcrumbsWidthSum > width)) {
          breadcrumbsWidthSum -= this.breadcrumbsWidth[index]
          if (!isFirst) {
            item.isFirst = true
            isFirst = true
            breadcrumbsWidthSum += 52
          }
          item.isHide = true
        } else {
          item.isHide = false
        }
        return item
      })
      if (breadcrumbsWidthSum > width && this.breadcrumbsElementsLocal.length > 1) {
        this.breadcrumbsElementsLocal[0].isHide = true
        this.breadcrumbsElementsLocal[0].isFirst = true
        this.breadcrumbsElementsLocal[1].isFirst = false
      }
    },
    onClick (object) {
      let item = cloneDeep(object)
      delete item.isFirst
      delete item.isHide
      this.$emit('click', item)
    }
  }
}
</script>

<style scoped lang="scss">
    @import '../../assets/style/ob-style';
    .ob-breadcrumbs {
        &-container {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            max-width: 100%;
        }
        &-item {
            display: inline-block;
            .title {
                float:left;
                @include font-mixin(12px, 16px, 400, $gray-slate, 0.59px, uppercase);
                cursor: pointer;
                &.active {
                    font-weight: 700;
                    color: $cobalt;
                }
            }
            .arrow-right {
                margin: 0 11px 0 12px;
                padding-top: 2px;
                font-size: 12px;
                float:left;
                height: 10px;
            }
        }
    }
    .tooltip-three-cir{
      float:left;
    }
    .tooltip {
        cursor: pointer;
        margin-bottom: 5px;
        &:last-of-type {
            margin-bottom: 0;
        }
        .arrow-right {
            font-size: 3px;
            margin: 0 5px;
            float:left;
        }
        .active {
            font-weight: 700;
            color: $cobalt;
        }
    }
</style>
