<template>
  <div
    :class="['drop', { 'is-drop-over': isDragging }]"
    :data-qa="dataQa"
    @drop.stop="onDrop"
    @dragover.prevent
    @dragenter="onDragEnter"
    @dragleave.prevent="onDragLeave"
  >
    <slot />
  </div>
</template>

<script>
export default {
  name: 'ObDrop',

  props: {
    currentIndex: {
      type: [String, Number],
      default: 0
    },
    dataQa: {
      type: String
    }
  },

  data () {
    return {
      isDragging: false,
      enterCount: 0
    }
  },

  mounted () {
    this.$nextTick(() => {
      this.$el.style.height = this.$el.offsetHeight + 'px'
    })
  },

  methods: {
    onDragEnter (e) {
      e.dataTransfer.effectAllowed = 'move'
      e.dataTransfer.dropEffect = 'move'
      this.isDragging = true
      this.enterCount += 1
      if (this.enterCount === 1) {
        this.$emit('enter', e)
      }
    },

    onDragLeave () {
      this.enterCount -= 1
      if (this.enterCount === 0) {
        this.isDragging = false
        this.$emit('leave')
      }
    },

    onDrop (e) {
      this.enterCount = 0
      this.isDragging = false
      const transferData = JSON.parse(e.dataTransfer.getData('payload'))
      this.$emit('drop', { ...transferData, dropIndex: +this.currentIndex })
    }
  }
}
</script>

<style lang="scss" scoped>
  .drop {
    position: relative;
  }

  .is-drop-over {
    padding: 1em;
    border: 1px dashed $color-grey-border;
    border-radius: 3px;
  }

  .is-drop-over {
    &::v-deep * {
      pointer-events: none;
    }
  }
</style>
