<template>
  <div style="width: 100%; padding: 20px 5vw; background-color: #eee;">
    <ob-table
      ref="ob-table"
      :options-save-row="optionsTableSaveItem"
      :items="items"
      :columns="columns"
      :functional-panel="true"
      :show-add-button="true"
      :show-edit="true"
      :show-refresh="true"
      :is-css-selectable="true"
      group-by="enabled"
      :group-title-html="groupTitle"
      :filter-buttons="filterButtons"
      component-unique-key="DragAndDropTestTable"
    >
      <div
        slot="enabled"
        slot-scope="{ data }"
      >
        <div>
          <ob-checkbox
            v-model="data.item.enabled"
            :disabled="true"
          />
        </div>
      </div>
      <template #extraFuncButtons>
        <i class="icon filter" />
        <i class="icon trash" />
      </template>
      <template #extraFuncToPanel>
        <span
          class="extraPanel"
          @click="onClickExtraFuncToPanel"
        >Настроить...</span>
        <span
          class="extraPanel"
          @click="onClickExtraFuncToPanel"
        >...таблицу</span>
      </template>
    </ob-table>
    <ObModal
      ref="test-modal"
      :is-show-pagination="true"
    >
      {{ activeRow }}
    </ObModal>
  </div>
</template>
<script>
import ObModal from '../obComponents/obModal'
import ObTable from '../obComponents/obTable'
import ObCheckbox from '../obComponents/obCheckbox'

export default {
  name: 'Test',
  components: {
    ObModal,
    ObTable,
    ObCheckbox
  },
  data () {
    return {
      items: [
        {
          title: 'first title',
          value: 'this is a value',
          when: '2019-10-10T10:49:53.747195Z',
          enabled: false
        },
        {
          title: 'second title',
          value: false,
          when: '2019-10-13T13:49:53.747195Z',
          enabled: false
        },
        {
          title: 'third title',
          value: 'this is some data',
          when: '2019-10-12T12:49:53.747195Z',
          enabled: true
        },
        {
          title: 'fourth title',
          value: 'just surfin',
          when: '2019-10-11T11:49:53.747195Z',
          enabled: false
        },
        {
          title: 'fifth tutle',
          value: 'this is test',
          when: '2019-10-09T11:49:53.747195Z',
          enabled: false
        }
      ],
      columns: [
        {
          title: 'Название',
          headerHtml: (data) => `<i class="icon alert"></i><span>${data.title}</span>`,
          key: 'title',
          isEditColumn: {
            type: 'text'
          }
        },
        {
          title: 'Довольно таки длинная шапка столбца',
          titleInfo: 'Эта шапка такая длинная, потому что надо было ввести побольше символов',
          key: 'value',
          width: 230,
          sortDisable: true,
          action: data => console.log(data),
          isEditColumn: {
            type: 'text'
          }
        },
        {
          slotName: 'enabled',
          title: 'Активен',
          key: '',
          width: 190
        },
        {
          title: 'Дата и время',
          key: 'when',
          html: data => this.getDatetime(data),
          sort: 'datetime'
        }
      ],
      optionsTableSaveItem: {
        url: 'test||',
        method: 'post',
        onSubmit: null
      },
      filterButtons: [
        { title: 'Все' },
        { title: 'Актуальные', _isActive: true },
        { title: 'Неактивные' }
      ],
      activeRow: '0'
    }
  },
  methods: {
    groupTitle (value) {
      return value ? 'Активен' : 'Неактивен'
    },
    onSelection (item) {
      this.activeRow = item.title
      this.$refs['test-modal'].open()
    },
    getColumnStyle (column) {
      return {
        width: `${column.width}px` || 'auto'
      }
    },
    getDatetime (data) {
      return `
          <div>${data.when.split('T')[0]}</div>
          <div>${data.when.split('T')[1]}</div>
        `
    },
    onClickExtraFuncToPanel (e) {
      console.log('onClickExtraFuncToPanel', e)
    }
  }
}
</script>

<style lang="scss" scoped>
  .extraPanel {
    font-size: 16px;
    line-height: 20px;
    color: #004BC8;
  }
</style>
