.-cobalt-black {
  color: $color-text-base !important; }
.-shale-gray {
  color: $shale-gray !important; }
.-gray-slate {
  color: $gray-slate !important; }
.-gray-window {
  color: $gray-window !important; }
.-very-pale-blue {
  color: $color-grey-border !important; }
.-light-black {
  color: $color-light-grey !important; }
.-very-light-black {
  color: $color-white-lilac !important; }
.-deep-blue {
  color: $deep-blue !important; }
.-blue-dust {
  color: $color-blue-smalt !important; }
.-cobalt-blue {
  color: $cobalt-blue !important; }
.-cobalt {
  color: $color-blue-navy-blue !important; }
.-light-denim {
  color: $light-denim !important; }
.-cornflower {
  color: $cornflower !important; }
.-midnight-blue {
  color: $midnight-blue !important; }
.-cornflower-craiola {
  color: $cornflower-craiola !important; }
.-blue-blue-hoarfrost {
  color: $blue-blue-hoarfrost !important; }
.-lavender {
  color: $lavender !important; }
.-light-lavender {
  color: $light-lavender !important; }
.-white {
  color: $background-color-light !important; }
.-green-craiola {
  color: $green-craiola !important; }
.-caribbean {
  color: $color-green-dark !important; }
.-caribbean-green {
  color: $color-green-light !important; }
.-persian-red {
  color: $persian-red !important; }
.-light-raspberry-red {
  color: $color-error !important; }
.-saturated-yellow {
  color: $saturated-yellow !important; }
.-diamond-orange-yellow {
  color: $diamond-orange-yellow !important; }
.-purple {
  color: $purple !important; }
.-amethyst {
  color: $amethyst !important; }
.-gorse-yellow {
  color: $gorse-yellow !important; }


/* *** Gruzi *** */
.-green-500 { color: $Green-500!important; }
.-green-600 { color: $Green-600!important; }
.-green-700 { color: $Green-700!important; }
.-green-900 { color: $Green-900!important; }
.-gray-200 { color: $gray-200!important; }
.-green-800 { color: $green-800!important; }
.-blue-300 { color: $blue-300!important; }
.-blue-700 { color: $blue-700!important; }
.-blue-800 { color: $blue-800!important; }
