
.ob-dropdown__content[data-attr='ob-date-picker']{
  .ob-date-picker__calendar-wrapper {
    position: relative;
    background: $background-white;
    width: 316px;
  }

  .ob-date-picker__header {
    width: 100%;
    padding: 16px 20px 20px 30px;
  }

  .ob-date-picker__container {
    display: flex;
    width: 100%;
  }
  .ob-date-picker__controls {
    display: flex;
    background: $background-white;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 20px  20px 0;
    min-width: 180px;
    &-label {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.4px;
      font-weight: 600;
      color: $color-text-base;
    }
    &-from {
      margin-top: 20px;
    }
    &-range {
      width: 159px;
      &-time {
        width: 291px;
      }
    }
    &-time {
      margin-bottom: 30px;
    }
  }
  .ob-date-picker__inline-label {
    display: inline-flex;
    align-self: center;
    cursor: pointer;

    &-title {
      display: inline-flex;

      & i {
        margin-left: 4px;
      }
    }
  }
  .ob-date-picker.is-inline {
    display: inline-flex;
    height: 20px;
  }

  [data-attr='ob-date-picker-container'] {
    display: flex;
    justify-content: center;
  }
  .vdp-datepicker__calendar {
    background: transparent;
    border: none;
    padding: 5px 24px 24px 24px;
    min-width: auto !important;
    width: auto !important;

    & > div {
      width: 268px;
    }

    &-button {
      display: none;
    }
    header {
      display: flex;
      justify-content: space-between;
      width: 268px;
      height: 44px;

      span {
        align-self: center;
        text-align: center;
        width: auto;
        float: none;
        font-size: 16px;
        &.day__month_btn {
          font-size: 16px;
          letter-spacing: 0.4px;
        }
      }
    }
    .next, .prev {
      display: inline-flex;
      width: 24px;
      height: 24px;
      font-size: 24px;
      text-indent: 0;
    }

    .next::after,
    .prev::after {
      content: "" !important;
      display: none;
    }

    .month__year_btn {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.4px;
      color: $color-text-base;
    }

    .cell {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      font-size: 16px;
      color: $color-text-base;
      font-weight: normal;
      margin: 3px 3px 4px 2px;

      &:not(.month):not(.year) {
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &:nth-child(7n) + span {
          margin-left: 0;
        }
      }

      &:not(.month):not(.year):not(.disabled):not(.highlighted):hover {
        border-radius: 50%;
      }
      &:hover {
        border: 1px solid $cornflower-craiola !important;
      }

      &.weekend {
        color: $gray-window;
      }
      &.blank {
        &:hover {
          border: none !important;
          border-radius: 0;
        }
      }

      &.month {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 3;
        align-items: center;
        font-size: 16px;
        line-height: 40px;
        height: 32px;
        color: $gray-window;
        text-align: center;
        letter-spacing: 0.2px;
        padding: 0 3px 0 3px;
        margin: 8px 0 0 0px;

        &:hover {
          border-radius: 40px;
          border: 1px solid $cornflower-craiola;
          color: $shale-gray;
        }

        &.selected {
          color: $style-white;
          background: $color-blue-navy-blue;
          border-radius: 40px;
        }
      }

      &.year {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 3;
        align-items: center;
        font-size: 16px;
        line-height: 40px;
        height: 32px;
        width: 33.3333%;
        color: $gray-window;
        text-align: center;
        letter-spacing: 0.2px;
        padding: 0 3px 0 3px;
        margin: 8px 0 0 0px;

        &:hover {
          border-radius: 40px;
          border: 1px solid $cornflower-craiola;
          color: $shale-gray;
        }

        &.selected {
          color: $style-white;
          background: $color-blue-navy-blue;
          border-radius: 40px;
        }
      }

      &.day-header {
        position: relative;
        text-transform: uppercase;
        line-height: 12px;
        font-size: 12px;
        border: none;
        padding: 10px 0 14px 0;
        letter-spacing: 0.4px;
        color: $gray-slate;
        margin-right: 3px;
        cursor: default !important;

        &::after {
          position: absolute;
          bottom: 2px;
          left: 0px;
          height: 1px;
          width: calc( 100% + 6px );
          background: $color-grey-border;
          content: ''
        }
        &:nth-child(7) {
          margin-right: 0;
          &::after {
            width: calc(100% - 4px);
          }
        }
        cursor: pointer;

        &:nth-child(6) {
          color: $gray-window;
        }
        &:nth-child(7) {
          color: $gray-window;
        }

        &:hover {
          background: $background-white;
          border: none !important;
          border-radius: 0;
        }
      }

      &.day {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        margin: 5px 3px 4px 3px;
        padding: 0;
        border: none;
        &.selected:not(.highlighted) {
          background: $color-blue-navy-blue;
          border-radius: 50%;
          color: $style-white;
        }

        &:not(.disabled) + .disabled {
          width: 35px;
          margin: 5px 3px 4px 0px;
          border-top-left-radius: 32px;
          border-bottom-left-radius: 32px;
        }
        &.disabled {
          position: relative;
          background: $color-white-lilac;
          color: $gray-window;
          pointer-events: none;

          &:not(.disabled-end):not(.sun):after {
            position: absolute;
            background: $color-white-lilac;
            width: 6px;
            height: 32px;
            right: -6px;
            top: 0;
            content: ''
          }

          &-start {
            width: 35px;
            margin: 5px 0px 4px 3px;
            border-top-left-radius: 32px;
            border-bottom-left-radius: 32px;
          }
          &-end:not(.highlight-end):not(.highlighted) {
            width: 35px;
            margin: 5px 3px 4px 0px;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
          }
          &.weekend.sun {
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
          }
        }
        &.highlighted {
          position: relative;
          background: $lavender;
          &:hover {
            border: none !important;
          }
          &:not(.highlight-end):not(.sun):after {
            position: absolute;
            background: $lavender;;
            width: 22px;
            height: 32px;
            right: -22px;
            content: ''
          }
          &.highlight-start {
            width: 35px;
            margin: 5px 3px 4px 0px;
            border-top-left-radius: 32px;
            border-bottom-left-radius: 32px;
          }
          &.highlight-end {
            background: $color-blue-navy-blue;
            border-radius: 50%;
            color: $style-white;
          }
          &.weekend.sun:not(.highlight-end) {
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
          }
        }
      }
    }
    .sun + .disabled {
        width: 35px;
        margin: 5px 3px 4px 0px;
        border-top-left-radius: 32px;
        border-bottom-left-radius: 32px;
    }
    .disabled + .highlighted {
        width: 35px;
        margin: 5px 3px 4px 0px;
        border-top-left-radius: 32px;
        border-bottom-left-radius: 32px;
    }
    .sun + .highlighted {
        width: 35px;
        margin: 5px 3px 4px 0px;
        border-top-left-radius: 32px;
        border-bottom-left-radius: 32px;
    }
  }
}
