.dx-switch {
  width: 28px!important;
}
.dx-switch-container {
  height: 16px!important;
  &::before {
    margin: 1px 0!important;
    border-radius: 16px;
    background-color: $background-color-light!important;
    box-shadow: inset 0 0 4px $cssDxSwitch_box_shadow_before!important;
  }
  .dx-switch-handle {
    width: 16px;
    height: 16px;
    flex-basis: 16px;
    &::before {
      background-color: $cssDxSwitch_handle_background_color_before!important;
      box-shadow: 0 1px 1px rgba($deep-blue, 0.28)!important;
    }
  }
}
.dx-switch-on-value {
  .dx-switch-container {
    &::before {
      background-color: $background-color-light!important;
      box-shadow: inset 0 0 4px $cssDxSwitch_on_value_container_box_shadow_before!important;
    }
  }
  .dx-switch-handle {
    &::before {
      background-color: $color-blue-navy-blue!important;
      box-shadow: 2px 1px 4px $cssDxSwitch_on_value_handle_box_shadow_before!important;
    }
  }
}