@font-face {
  font-family: "Roboto";
  src: url("../../static/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../../static/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../static/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../../static/roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../static/roboto/Roboto-Bold.woff2") format("woff2"),
    url("../../static/roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../static/roboto/Roboto-Light.woff2") format("woff2"),
    url("../../static/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}