@import "variables";
@import "mixins";

.form-item-container {
  position: relative;
}

.el-form-group {
  position: relative;
  border-radius: 3px;
  label {
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 12px;
    font-size: 12px;
    line-height: 12px;
    color: $color-grey-label;
  }
  .el-slider, .el-input__inner, .el-textarea__inner {
    font-family: $font-family-roboto;
    cursor: pointer;
    height: auto;
    border: 1px solid $color-grey-border!important;
    font-size: 16px;
  }
  .el-input__inner, .el-textarea__inner {
    cursor: pointer;
    height: auto;
    padding: 25px 12px 5px!important;
    line-height: 20px;
    color: $color-text-base;
    &:focus {
      border-color: $color-blue-navy-blue!important;
    }
  }
  .el-slider {
    background-color: $background-white;
  }
  .el-input__prefix, .el-input__suffix {
    left: auto;
    right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    .el-input__icon {
      display: block;
      width: 24px;
      height: auto;
      &::after {
        display: none;
      }
    }
  }
}

.el-form {
  &-item {
    font-family: $font-family-roboto;
    &__content {
      line-height: unset!important;
    }
    &__error {
      padding-top: 0!important;
    }
  }
}

.el-popper {
  font-family: $font-family-roboto;
  margin: 1px 0 0 0!important;
}

.el-select {
  display: block!important;
  &__caret {
    height: 24px !important;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotateZ(0)!important;
    &.is-reverse {
      transform: rotateZ(180deg)!important;
    }
    &:before {
      display: none;
    }
  }
  &-dropdown {
    &__list {

    }
    &__item {
      padding: 8px 12px !important;
      font-weight: normal!important;
      height: auto!important;
      line-height: unset!important;
      &:hover, &.selected {
        background-color: $background-color!important;
      }
      span {
        font-size: 16px;
        line-height: 20px!important;
        letter-spacing: 0.2px;
        color: $color-text-base;
      }
    }
  }
}

.el-switch {
  height: auto!important;
  &.--dark {
    &__core {
      background-color: $background-black!important;
      box-shadow: inset 0px 0px 4px $cssForm_el_switch_dark_core_box_shadow!important;
      &:after {
        background-color: $color-blue-navy-blue!important;
        box-shadow: 2px 1px 4px rgba($color-blue-navy-blue, 0.6)!important;
      }
    }
  }
  &__core {
    width: 28px!important;
    height: 14px!important;
    border: none!important;
    border-radius: 16px!important;
    background-color: $background-color-light!important;
    box-shadow: inset 0px 0px 4px rgba($color-blue-navy-blue, 0.48)!important;
    &:after {
      width: 16px;
      height: 16px;
      left: -1px !important;
      top: 0!important;
      bottom: 0!important;
      margin: auto 0;
      background-color: $cssForm_el_switch_core_background_color_after!important;
      box-shadow: 2px 1px 4px $cssForm_el_switch_core_box_shadow_after!important;
    }
  }
  &.is-checked {
    .el-switch__core {
      &:after {
        margin-left: -16px!important;
        left: calc(100% + 1px) !important;
        background-color: $color-blue-navy-blue!important;
      }
    }
    &.--dark {
      .el-switch__core {
        background-color: $background-black!important;
        &:after {
          background-color: $color-blue-navy-blue!important;
          box-shadow: 2px 1px 4px rgba($color-blue-navy-blue, 0.6)!important;
        }
      }
    }
  }
}

.dx-checkbox {
  &-icon {
    width: 14px!important;
    height: 14px!important;
    border-radius: 2px!important;
    border: 2px solid $color-grey-span!important;
    &:before {
      content: ''!important;
      width: 100%!important;
      height: 100%!important;
      margin: 0!important;
      top: 0!important;
      left: 0!important;
      /*background-image: url('* src/static/img/check_white.svg');*/
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &-checked, &-indeterminate {
    .dx-checkbox-icon {
      background-color: $color-blue-navy-blue!important;
      border-color: $color-blue-navy-blue!important;
    }
  }
}

.tooltip-error {
  background: white;
  border: 0!important;
  box-shadow: 0 0 8px rgba($color-error, 0.4);
  border-radius: 2px;
  max-width: 145px;
  margin-bottom: 5px!important;
  .popper__arrow {
    background: white;
    border: 0!important;
    box-shadow: 0 0 8px rgba($color-error, 0.4);
  }
}

.el-form-item {
  .el-tooltip-error {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 12px;
  }
  &.is-error {
    .el-tooltip-error {
      display: block;
    }
    .el-input__inner, .el-textarea__inner {
      border-color: $color-error!important;
      padding: 25px 24px 5px 12px!important;
    }
  }
}

.form-item {
  &-container {
    &.is-error {
      .labeled-input, .iconized-input, .iconized-labeled-input {
        border-color: $color-error;
      }
    }
  }
  &__error {
    position: absolute;
    right: 8px;
    top: 1px;
    width: 30px!important;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $background-white;
  }
  &__tooltip {
    padding: 8px 12px;
    background: $background-white;
    border-radius: 2px;
    box-shadow: 0px 0px 8px $cssForm_tooltip_box_shadow;
    color: $color-grey-span;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    &.is-error {
      box-shadow: 0px 0px 8px rgba($color-error, 0.4);
      color: $color-error!important;
    }
  }
}

.dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
  overflow: visible;
  padding: 0!important;
  background: transparent!important;
  box-shadow: none;
  border: none;
}

.form-disabled {
  .labeled-input, .iconized-input, .simple-input, .textarea-wrapper {
    background: $color-white-lilac!important;
    cursor: initial;
    pointer-events: none;
    input, textarea {
      color: $color-grey-span;
      background: $color-white-lilac;
    }
  }
  .ob-selector {
    pointer-events: none;
  }
}

.not-disabled {
  &.ob-selector {
    pointer-events: all !important;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.el-input {
  &__inner {
    @include font-mixin(16px, 20px, 400, $cobalt-black, 0.2px);

    &::placeholder {
      color: $gray-window !important;
    }
  }

  &__prefix {
    pointer-events: none;
  }

  &.is-disabled & {
    &__suffix {
      cursor: not-allowed;
    }

    &__inner {
      color: $cssForm_is_disabled_inner_color !important;
      border-color: $color-white-lilac;
      background-color: $color-white-lilac;
    }
  }
}