@import "mixins";
@import "form";
@import "grid-style";
@import "date-picker";
$height-top-menu: 104px;
$height-logo: 64px;
$height-footer: 30px;
html {
  min-height: 100%;
  width: 100%;
  font-family: $font-family-roboto;
  font-size: 10px; //не менять, в случае необходимости предупредить всех и лично @Андрей Косых
  body {
    @include font-mixin(14px, 16px, 400, $cobalt-black, 0px);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background: $background-color;
  overflow-x: hidden;
  .ob-main-template {
    width: 100%;
    min-height: 100vh;
    &-center-section {
      display: flex;
      width: 100%;
      position: relative;
    }
    .ob-main-template-header {
      height: $height-top-menu;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    .ob-main-template-header-unathorized {
      height: $height-logo;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    .ob-main-template-center-section {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 100vh;
      padding-top: $height-top-menu;
      z-index: 1;
      transition: padding .3s ease-in-out;
      .ob-main-template-content {
        display: flex;
        width: 100%;
        min-height: calc(100vh - (#{$height-top-menu} + #{$height-footer}));
      }
      .ob-main-template-footer {
        pointer-events: none;
        display: inline-block;
        max-height: $height-footer;
        height: $height-footer;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }
    &.--with-footer {
      .ob-main-template-center-section {
        padding-bottom: $height-footer;
      }
    }
    &.--without-menu {
      .ob-main-template-center-section {
        padding-top: 0;
      }
    }
    &.--unathorized-page {
      .ob-main-template-center-section {
        padding-top: $height-logo;
      }
    }
  }
}
.not-ready {
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: $cssMine_not_ready_background_before;
    z-index: 12;
    left: 0;
    top: 0;
  }
  &:after {
    content: 'Не кликабельно';
    display: inline-block;
    text-align: center;
    position: absolute;
    color: $cssMine_not_ready_color_after;
    z-index: 13;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba($background-white, 0.5);
    padding: 3px;
  }
}
.ctrl-group {
  display: flex;
  height: 52px;
  border: 1px solid $color-grey-border;
  border-radius: 3px;
  overflow: hidden;
  .ob-selector__select {
    border: none;
  }
  & > *:not(i) {
    &:not(:last-child) {
      border-right: 1px solid $color-grey-border;
    }
    &.is-active {
      background-color: $color-blue-navy-blue;
      box-shadow: inset 0px 2px 3px $cssMine_ctrl_group_is_active_box_shadow;
      color: $style-white;
    }
  }
  &.ob-display-inline {
    white-space: nowrap;
    & > * {
      max-width: none;
    }
  }
  button.flat-type:hover {
    background-color: $color-blue-navy-blue;
    box-shadow: inset 0px 2px 3px $cssMine_button_flat-type_box_shadow_hover;
    color: $style-white;
  }
}

.-fixed-header-helper {
  display: flex;
  height: 100%;
  flex-direction: column;
}