.el-dialog__body {
  .controls {
    padding: 25px 12px 5px;
    border: 1px solid $color-grey-border;
    border-radius: 3px;
    position: relative;
    .el-switch {
      margin-top: 3px;
      float: right;
    }
  }
}

