@font-face {
  font-family: 'icomoon';
  src: url('../../static/icon-fonts/icomoon.eot');
  src: url('../../static/icon-fonts/icomoon.eot') format('embedded-opentype'),
  url('../../static/icon-fonts/icomoon.ttf') format('truetype'),
  url('../../static/icon-fonts/icomoon.woff') format('woff'),
  url('../../static/icon-fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon"], [class*=" icon"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin pos_path() {
  position: absolute;
  left: 0;
  top: 0;
}

.icon.additional-round-0:before {
  content: "\e900";
  color: $gray-200;
}
.icon.additional-round-1:before {
  content: "\e901";
}
.icon.additional-round-1:after {
  content: "\e902";
  margin-left: -1em;
  color: $gray-200;
}
.icon.additional-round-2:before {
  content: "\e903";
}
.icon.additional-round-2:after {
  content: "\e904";
  margin-left: -1em;
  color: $gray-200;
}
.icon.additional-round-3:before {
  content: "\e905";
}
.icon.advance-0:before {
  content: "\e906";
}
.icon.advance-1:before {
  content: "\e907";
}
.icon.advance-2:before {
  content: "\e908";
}
.icon.advance-3:before {
  content: "\e909";
}
.icon.advance-4:before {
  content: "\e90a";
}
.icon.aglomeration:before {
  content: "\e90b";
}
.icon.airplane-sm:before {
  content: "\e90c";
}
.icon.airplane:before {
  content: "\e90d";
}
.icon.alert-xs:before {
  content: "\e90e";
}
.icon.alert:before {
  content: "\e90f";
}
.icon.arrow:before {
  content: "\e910";
}
.icon.attach:before {
  content: "\e911";
}
.icon.auction-first-approve:before {
  content: "\e912";
}
.icon.auction:before {
  content: "\e913";
}
.icon.barcode:before {
  content: "\e914";
}
.icon.battery_level:before {
  content: "\e915";
}
.icon.battery:before {
  content: "\e916";
}
.icon.bell-on:before {
  content: "\e917";
}
.icon.bell-on:after {
  content: "\e918";
  margin-left: -1em;
  color: $diamond-orange-yellow;
}
.icon.bell:before {
  content: "\e919";
}
.icon.blind-auction:before {
  content: "\e91a";
}
.icon.booking-0-1:before {
  content: "\e91b";
}
.icon.booking-0-1:after {
  content: "\e91c";
  margin-left: -1em;
  opacity: 0.2;
}
.icon.booking-0-2:before {
  content: "\e91d";
}
.icon.booking-0-2:after {
  content: "\e91e";
  margin-left: -1em;
  opacity: 0.2;
}
.icon.booking-0-3:before {
  content: "\e91f";
}
.icon.calendar-sm:before {
  content: "\e920";
}
.icon.calendar:before {
  content: "\e921";
}
.icon.call-center:before {
  content: "\e922";
}
.icon.cargo-truck:before {
  content: "\e923";
}
.icon.carriage-sm:before {
  content: "\e924";
}
.icon.carriage:before {
  content: "\e925";
}
.icon.check_white:before {
  content: "\e926";
}
.icon.checked-full:before {
  content: "\e927";
}
.icon.checked-full:after {
  content: "\e928";
  margin-left: -1em;
  color: $background-white;
}
.icon.checked-mini:before {
  content: "\e929";
}
.icon.checked-simple:before {
  content: "\e92a";
}
.icon.checked:before {
  content: "\e92b";
}
.icon.chevron-down:before {
  content: "\e92c";
}
.icon.chevron-left:before {
  content: "\e92d";
}
.icon.chevron-right:before {
  content: "\e92e";
}
.icon.chevron-up:before {
  content: "\e92f";
}
.icon.city-sm:before {
  content: "\e930";
}
.icon.city:before {
  content: "\e931";
}
.icon.clock-alarm:before {
  content: "\e932";
}
.icon.clock-xs:before {
  content: "\e933";
}
.icon.clock:before {
  content: "\e934";
}
.icon.clockwatch:before {
  content: "\e935";
}
.icon.close-sm:before {
  content: "\e936";
}
.icon.close-xs:before {
  content: "\e937";
}
.icon.close:before {
  content: "\e938";
}
.icon.cold:before {
  content: "\e939";
}
.icon.columns:before {
  content: "\e93a";
}
.icon.comment-sm:before {
  content: "\e93b";
}
.icon.comment:before {
  content: "\e93c";
}
.icon.commercial_blue:before {
  content: "\e93d";
}
.icon.composite:before {
  content: "\e93e";
}
.icon.container-20:before {
  content: "\e93f";
}
.icon.container-40:before {
  content: "\e940";
}
.icon.container-sm:before {
  content: "\e941";
}
.icon.container:before {
  content: "\e942";
}
.icon.copy-2:before {
  content: "\e943";
}
.icon.copy:before {
  content: "\e944";
}
.icon.delete-xs:before {
  content: "\e945";
}
.icon.delete:before {
  content: "\e946";
}
.icon.digital-document:before {
  content: "\e947";
}
.icon.document:before {
  content: "\e948";
}
.icon.double-checked-simple:before {
  content: "\e949";
}
.icon.double-checked:before {
  content: "\e94a";
}
.icon.download:before {
  content: "\e94b";
}
.icon.edit:before {
  content: "\e94c";
}
.icon.electric-locomotive:before {
  content: "\e94d";
}
.icon.email:before {
  content: "\e94e";
}
.icon.event:before {
  content: "\e94f";
}
.icon.excel:before {
  content: "\e950";
}
.icon.exclamation-point:before {
  content: "\e951";
}
.icon.exit:before {
  content: "\e952";
}
.icon.external-link:before {
  content: "\e953";
}
.icon.fence:before {
  content: "\e954";
}
.icon.filter:before {
  content: "\e955";
}
.icon.first-bid:before {
  content: "\e956";
}
.icon.flag-finish:before {
  content: "\e957";
}
.icon.flatbed-van-b-g:before {
  content: "\e958";
}
.icon.flatbed-van-m-g:before {
  content: "\e959";
}
.icon.flatbed-van-s-g:before {
  content: "\e95a";
}
.icon.fold-map:before {
  content: "\e95b";
}
.icon.folder:before {
  content: "\e95c";
}
.icon.frame:before {
  content: "\e95d";
}
.icon.freezing:before {
  content: "\e95e";
}
.icon.gantry-crane-sm:before {
  content: "\e95f";
}
.icon.gantry-crane:before {
  content: "\e960";
}
.icon.gondola-car-dlinnobaznaya:before {
  content: "\e961";
}
.icon.gondola-car-fitingovaya:before {
  content: "\e962";
}
.icon.gondola-car-gluhodonnyj:before {
  content: "\e963";
}
.icon.gondola-car-lyukovoj:before {
  content: "\e964";
}
.icon.gondola-car-universalnaya:before {
  content: "\e965";
}
.icon.graph:before {
  content: "\e966";
}
.icon.group-list:before {
  content: "\e967";
}
.icon.group:before {
  content: "\e968";
}
.icon.h2s:before {
  content: "\e969";
}
.icon.hand-box-sm:before {
  content: "\e96a";
}
.icon.hand-box:before {
  content: "\e96b";
}
.icon.hand-settings:before {
  content: "\e96c";
}
.icon.hand:before {
  content: "\e96d";
}
.icon.handshake:before {
  content: "\e96e";
}
.icon.hazard:before {
  content: "\e96f";
  color: $diamond-orange-yellow;
}
.icon.hazard:after {
  content: "\e970";
  margin-left: -1em;
  color: $color-text-base;
}
.icon.home:before {
  content: "\e971";
}
.icon.hot-2:before {
  content: "\e972";
}
.icon.hot:before {
  content: "\e973";
}
.icon.import-integration:before {
  content: "\e974";
}
.icon.important-sm:before {
  content: "\e975";
}
.icon.important:before {
  content: "\e976";
}
.icon.info:before {
  content: "\e977";
}
.icon.inspection:before {
  content: "\e978";
}
.icon.isothermal-van-b-g:before {
  content: "\e979";
}
.icon.isothermal-van-m-g:before {
  content: "\e97a";
}
.icon.isothermal-van-s-g:before {
  content: "\e97b";
}
.icon.key:before {
  content: "\e97c";
}
.icon.light:before {
  content: "\e97d";
}
.icon.link-left:before {
  content: "\e97e";
}
.icon.link-mutual:before {
  content: "\e97f";
}
.icon.link-right:before {
  content: "\e980";
}
.icon.link:before {
  content: "\e981";
}
.icon.lock:before {
  content: "\e982";
}
.icon.logo-gruzi:before {
  content: "\e983";
}
.icon.map:before {
  content: "\e984";
}
.icon.menu-favourite-filled:before {
  content: "\e985";
}
.icon.menu-favourite:before {
  content: "\e986";
}
.icon.minus:before {
  content: "\e987";
}
.icon.mobile_app_blue:before {
  content: "\e988";
}
.icon.mobile-xs:before {
  content: "\e989";
}
.icon.mobile:before {
  content: "\e98a";
}
.icon.modal-list:before {
  content: "\e98b";
}
.icon.more:before {
  content: "\e98c";
}
.icon.move:before {
  content: "\e98d";
}
.icon.navigation-arrow:before {
  content: "\e98e";
}
.icon.next:before {
  content: "\e98f";
}
.icon.onboard_blue:before {
  content: "\e990";
}
.icon.order-excel:before {
  content: "\e991";
}
.icon.order-upload:before {
  content: "\e992";
}
.icon.pause:before {
  content: "\e993";
}
.icon.pin-filled:before {
  content: "\e994";
}
.icon.pin:before {
  content: "\e995";
}
.icon.pinned:before {
  content: "\e996";
}
.icon.play:before {
  content: "\e997";
}
.icon.plus-sm:before {
  content: "\e998";
}
.icon.plus:before {
  content: "\e999";
}
.icon.police-sm:before {
  content: "\e99a";
}
.icon.police:before {
  content: "\e99b";
}
.icon.present-time:before {
  content: "\e99c";
}
.icon.previous:before {
  content: "\e99d";
}
.icon.primary-order-gray:before {
  content: "\e99e";
}
.icon.print:before {
  content: "\e99f";
}
.icon.profile-eye-hide:before {
  content: "\e9a0";
}
.icon.profile-eye:before {
  content: "\e9a1";
}
.icon.profile-no-eye:before {
  content: "\e9a2";
}
.icon.profile:before {
  content: "\e9a3";
}
.icon.question-sm:before {
  content: "\e9a4";
}
.icon.question:before {
  content: "\e9a5";
}
.icon.radar-1:before {
  content: "\e9a6";
}
.icon.radar-2:before {
  content: "\e9a7";
}
.icon.radar-disabled:before {
  content: "\e9a8";
}
.icon.radio-button:before {
  content: "\e9a9";
}
.icon.radius:before {
  content: "\e9aa";
}
.icon.railway-carriage-area:before {
  content: "\e9ab";
}
.icon.railway-carriage-covered:before {
  content: "\e9ac";
}
.icon.railway-carriage-dumpkar:before {
  content: "\e9ad";
}
.icon.railway-carriage-refrigerator:before {
  content: "\e9ae";
}
.icon.railway-carriage-termos:before {
  content: "\e9af";
}
.icon.railway-carriage-well:before {
  content: "\e9b0";
}
.icon.rain:before {
  content: "\e9b1";
}
.icon.ready-to-link:before {
  content: "\e9b5";
}
.icon.recognize:before {
  content: "\e9b6";
}
.icon.refresh:before {
  content: "\e9b7";
}
.icon.refrigerated-van-b-g:before {
  content: "\e9b8";
}
.icon.refrigerated-van-m-g:before {
  content: "\e9b9";
}
.icon.refrigerated-van-s-g:before {
  content: "\e9ba";
}
.icon.reloading:before {
  content: "\e9bb";
}
.icon.restrict-sm:before {
  content: "\e9bc";
}
.icon.restrict:before {
  content: "\e9bd";
}
.icon.risk-0-grey:before {
  content: "\e9be";
}
.icon.risk-1-blue:before {
  content: "\e9bf";
  color: $color-green-light;
}
.icon.risk-1-blue:after {
  content: "\e9c0";
  margin-left: -1em;
  color: $background-black;
}
.icon.risk-2-green:before {
  content: "\e9c1";
  color: $cssObozFont_risk-2-blue_before;
}
.icon.risk-2-green:after {
  content: "\e9c2";
  margin-left: -1em;
  color: $background-black;
}
.icon.risk-3-yellow:before {
  content: "\e9c3";
  color: $gorse-yellow;
}
.icon.risk-3-yellow:after {
  content: "\e9c4";
  margin-left: -1em;
  color: $background-black;
}
.icon.risk-4-orange:before {
  content: "\e9c5";
  color: $diamond-orange-yellow;
}
.icon.risk-4-orange:after {
  content: "\e9c6";
  margin-left: -1em;
  color: $background-black;
}
.icon.risk-5-red:before {
  content: "\e9c7";
  color: $color-error;
}
.icon.risk-5-red:after {
  content: "\e9c8";
  margin-left: -1em;
  color: $background-white;
}
.icon.risk-6-black:before {
  content: "\e9c9";
  color: $color-text-base;
}
.icon.risk-6-black:after {
  content: "\e9ca";
  margin-left: -1em;
  color: $background-white;
}
.icon.risk:before {
  content: "\e9cb";
}
.icon.role-administrator:before {
  content: "\e9cc";
}
.icon.role-agent:before {
  content: "\e9cd";
}
.icon.role-carrier:before {
  content: "\e9ce";
}
.icon.role-client-sm:before {
  content: "\e9cf";
}
.icon.role-client:before {
  content: "\e9d0";
}
.icon.role-domain-owner:before {
  content: "\e9d1";
}
.icon.role-system-moderator:before {
  content: "\e9d2";
}
.icon.room-temperature:before {
  content: "\e9d3";
}
.icon.route-loading:before {
  content: "\e9d4";
}
.icon.route-pass-throught:before {
  content: "\e9d5";
}
.icon.route-transfer:before {
  content: "\e9d6";
}
.icon.route-unloading:before {
  content: "\e9d7";
}
.icon.route:before {
  content: "\e9d8";
}
.icon.samolet:before {
  content: "\e9d9";
}
.icon.save:before {
  content: "\e9da";
}
.icon.search:before {
  content: "\e9db";
}
.icon.settings:before {
  content: "\e9dc";
}
.icon.share:before {
  content: "\e9dd";
}
.icon.ship-sm:before {
  content: "\e9de";
}
.icon.ship:before {
  content: "\e9df";
}
.icon.solid-chevron-down:before {
  content: "\e9e0";
}
.icon.sort-single:before {
  content: "\e9e1";
}
.icon.sort:before {
  content: "\e9e2";
}
.icon.speed:before {
  content: "\e9e3";
}
.icon.state_blue:before {
  content: "\e9e4";
}
.icon.sudno:before {
  content: "\e9e5";
}
.icon.target:before {
  content: "\e9e6";
}
.icon.tasks-active:before {
  content: "\e9e7";
}
.icon.tasks-active:after {
  content: "\e9e8";
  margin-left: -1em;
  color: $diamond-orange-yellow;
}
.icon.tasks-ready:before {
  content: "\e9e9";
}
.icon.tiagach-b:before {
  content: "\e9ea";
}
.icon.tiagach-l:before {
  content: "\e9eb";
}
.icon.time:before {
  content: "\e9ec";
}
.icon.tractor-semi-trailer-bortovoj-b:before {
  content: "\e9ed";
}
.icon.tractor-semi-trailer-izoterm-b:before {
  content: "\e9ee";
}
.icon.tractor-semi-trailer-refrizhirator-b:before {
  content: "\e9ef";
}
.icon.tractor-semi-trailer-refrizhirator-tent-b:before {
  content: "\e9f0";
}
.icon.tractor-semi-trailer-shassi-1-b:before {
  content: "\e9f1";
}
.icon.train-sm:before {
  content: "\e9f2";
}
.icon.train:before {
  content: "\e9f3";
}
.icon.tral-and-bulldozer:before {
  content: "\e9f4";
}
.icon.trash-sm:before {
  content: "\e9f5";
}
.icon.trash:before {
  content: "\e9f6";
}
.icon.truck-crane:before {
  content: "\e9f7";
}
.icon.truck-icon:before {
  content: "\e9f8";
}
.icon.truck-sm:before {
  content: "\e9f9";
}
.icon.truck:before {
  content: "\e9fa";
}
.icon.tune:before {
  content: "\e9fb";
}
.icon.unpinned:before {
  content: "\e9fc";
}
.icon.visitcard:before {
  content: "\e9fd";
}
.icon.wagon-awning-b-g:before {
  content: "\e9fe";
}
.icon.wagon-awning-m-g:before {
  content: "\e9ff";
}
.icon.wagon-awning-s-g:before {
  content: "\ea00";
}
.icon.warehouse-area:before {
  content: "\ea01";
}
.icon.warehouse-cold:before {
  content: "\ea02";
}
.icon.warehouse-dry:before {
  content: "\ea03";
}
.icon.warehouse-freezer:before {
  content: "\ea04";
}
.icon.warehouse-refrigerator:before {
  content: "\ea05";
}
.icon.world-not:before {
  content: "\ea06";
}
.icon.world:before {
  content: "\ea07";
}

.icon.zagr {
  position: relative;

  &:before {
    content: "\ea08";
    color: $background-white;
  }
  &:after {
    content: "\ea09";
    color: $cssObozFont_razgr_before;
    @include pos_path();
  }
  .path1:before {
    content: "\ea0a";
    color: $diamond-orange-yellow;
    @include pos_path();
  }
}

.icon.razgr {
  position: relative;

  &:before {
    content: "\e9b2";
    color: $background-white;
  }
  &:after {
    content: "\e9b3";
    color: $cssObozFont_razgr_before;
    @include pos_path();
  }
  .path1:before {
    content: "\e9b4";
    color: $color-green-light;
    @include pos_path();
  }
}