<template>
  <div
    :id="id"
    v-click-outside="onOutsideClick"
    class="ob-selector"
    :class="{
      disabled: disabled || ( localItems.length === 1 && !isStandart && !useGroups),
      invalid: isInvalid,
      readonly: readonly
    }"
    :data-selected-value="computedDataValue"
    :data-qa="dataQa"
    @click="onClickHandle"
    @keydown.down="onSelectorListKeydown"
  >
    <div
      v-if="isDropdown && !isOnlyDropdown"
      ref="reference"
      :class="[ 'ob-selector__dropdown', { 'compact': isCompactDropdown } ]"
      :tabindex="disabled ? -1 : 0"
      :data-qa="dataQa"
      @keydown="onKeyDownHandler"
      @click="toggle"
    >
      <div
        v-if="isCompactDropdown"
        :class="[ 'ob-selector__dropdown-compact-info', { 'open': isOpen } ]"
      >
        Выбрано: {{ selectedValue.length }}

        <i
          v-if="!disabled && !readonly && chipsList.length"
          class="icon close ob-selector__remove-all-button"
          @click.stop="removeAllChips"
        />
      </div>
      <template v-else>
        <i
          class="icon plus ob-selector__dropdown-control-open"
          :data-qa="dataQa"
        />
        <span
          v-if="label"
          class="ob-selector__dropdown-label"
        >
          {{ label }}
          <template
            v-if="labelInfo"
          >
            <ob-tooltip
              class="ob-selector__label-info"
              :content="labelInfo"
              position="top-start"
              :open-delay="500"
              :popper-class="popperClass"
            >
              <i class="icon question" />
            </ob-tooltip>
          </template>
          <span
            v-if="required"
            class="ob-selector__required"
          >
            *
          </span>
        </span>
        <div
          v-if="!selectedValue.length"
          class="ob-selector__dropdown-placeholder"
        >
          <span> {{ placeholder }}</span>
        </div>
        <div
          v-if="isDropdown && chipsList.length"
          class="ob-selector__multi-select"
        >
          <span
            v-for="(item, index) in chipsList"
            :key="index"
            :style="{ display: index < showItemsCount || showAllItems ? 'flex' : 'none' }"
            class="ob-selector__multi-select-item"
          >
            <span
              v-if="index < showItemsCount || showAllItems"
            > {{ item[displayExp] || item.title }}
            </span>
            <i
              v-if="!disabled && !readonly"
              class="icon close ob-selector__multi-select-item-remove"
              :data-qa="dataQa"
              @click.stop="removeChip(item)"
            />
          </span>
          <span
            v-if="!showAllItems && chipsList.length > showItemsCount"
            class="ob-selector__multi-select-more"
            :data-qa="dataQa"
            @click.stop="showMoreToggle"
          >еще {{ chipsList.length - showItemsCount }}
          </span>
          <span
            v-if="showAllItems && chipsList.length > showItemsCount"
            class="ob-selector__multi-select-more"
            :data-qa="dataQa"
            @click.stop="showMoreToggle"
          >Скрыть
          </span>
        </div>
      </template>
    </div>
    <div
      v-if="!isDropdown && !isOnlyDropdown"
      ref="reference"
      class="ob-selector__select"
      :class="{'ob-selector__select_open': isOpen}"
      :tabindex="disabled ? -1 : 0"
      :data-qa="dataQa"
      @keydown="onKeyDownHandler"
      @click="toggle"
    >
      <div
        class="ob-selector__title"
        :class="{'ob-selector__title_only-label': !isValue && !placeholder}"
      >
        <span
          v-if="label"
          class="ob-selector__label"
        >
          <ob-tooltip
            :content="label"
            position="top-start"
            :open-delay="500"
            :popper-class="popperClass"
          >
            <span> {{ label }}</span>
          </ob-tooltip>
          <template
            v-if="labelInfo"
          >
            <ob-tooltip
              class="ob-selector__label-info"
              :content="labelInfo"
              position="top-start"
              :open-delay="500"
              :popper-class="popperClass"
            >
              <i class="icon question" />
            </ob-tooltip>
          </template>
          <span
            v-if="required"
            class="ob-selector__required"
          >
            *
          </span>
        </span>
        <input
          v-if="isInput && !isAddresAutoComplete"
          v-model="inputQuery"
          class="ob-selector__input"
          :placeholder="placeholder"
          :disabled="disabled || readonly"
          :data-qa="dataQa"
          @click.stop=""
          @blur="onBlurInput"
          @keyup="addChips"
        >
        <input
          v-if="isInput && isAddresAutoComplete"
          ref="manualInput"
          v-model="inputQuery"
          v-debounce:500ms.lock="handlerAddresSearch"
          class="ob-selector__input"
          :placeholder="placeholder"
          :disabled="disabled || readonly"
          :data-qa="dataQa"
          @click.stop=""
        >
        <span
          v-if="!isDropdown && !isAddresAutoComplete"
          class="ob-selector__value"
          :class="!isValue && !searchQuery && 'is-placeholder'"
        >
          <div
            v-if="selectedValue.icon"
            class="icon ob-selector__value-icon"
            :class="selectedValue.icon"
          />
          <div
            v-if="selectedValue.html"
            class="icon ob-selector__value-html"
            v-html="selectedValue.html"
          />
          <span
            v-if="isSearch"
            ref="searchField"
            v-debounce:500ms.lock="isRemote && handlerSearch"
            contenteditable="true"
            class="search-field"
            @input="onSearchInput"
            @focus="onSearchFocus"
            @blur="onSearchBlur"
            @keydown.stop="onSearchKeydown"
            v-text="selectedValue ? valueTitle : isInput ? '' : placeholder"
          />
          <template v-else>
            {{ selectedValue ? valueTitle : isInput ? '' : placeholder }}
          </template>
          <div
            v-if="selectedValue.tooltip"
            class="tooltip"
          >
            <ob-tooltip :popper-class="popperClass">
              <div slot="content">
                <div class="tooltip">
                  {{ selectedValue.tooltip }}
                </div>
              </div>
              <svg
                viewBox="0 0 24 24"
                width="14"
                height="14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm12-10c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12z"
                  fill="#004BC8"
                />
                <path
                  d="M11 10h2v8h-2v-8zM11 6h2v2h-2V6z"
                  fill="#004BC8"
                />
              </svg>
            </ob-tooltip>
          </div>
        </span>
      </div>
      <div
        class="ob-selector__controls"
      >
        <i
          v-if="!isAddresAutoComplete"
          class="icon chevron-down"
          :class="isOpen ? 'chevron-up' : 'chevron-down'"
        />
        <slot />
      </div>
    </div>
    <select-dropdown
      ref="popper"
      v-model="isOpen"
      data-attr="ob-selector"
      :position="position"
      :popper-class="popperClass"
      :width-inherit="widthInherit"
      :is-inline="isOnlyDropdown"
      :data-qa="dataQa"
    >
      <div
        class="ob-selector__list"
        :style="{maxHeight: isOpen ? '316px': 0}"
        :class="{'with-filter': withFilter}"
      >
        <div
          v-if="withFilter"
          class="ob-selector__list-filter"
        >
          <input
            :ref="`dropdownSearch-${dataQa}`"
            v-model="query"
            v-debounce:500ms.lock="handlerSearch"
            class="ob-selector__list-filter-input"
            placeholder="Поиск по списку"
            :data-qa="dataQa"
            @keydown.down="onSelectorListKeydown"
          >
          <i class="icon search ob-selector__list-filter-icon" />
        </div>
        <div />
        <div
          ref="list-container"
          v-scroll="handlerScroll"
          class="ob-selector__list-container"
        >
          <div
            v-if="isLoading"
            class="ob-selector__loader"
          >
            <ob-loader class="ob-selector__loader-rounded" />
          </div>
          <div
            v-if="!isLoading && !filteredItems.length"
            key="no-data"
            class="no-data-block"
          >
            Нет данных
          </div>
          <div
            :class="listClass"
            @keydown="onSelectorListKeydown"
            @keydown.escape="toggle"
          >
            <slot :items="filteredItems">
              <div
                v-for="item in filteredItems"
                :key="item[valueExp]"
              >
                <select-item
                  ref="selectItem"
                  :key="item[valueExp]"
                  :item="item"
                  :value-exp="valueExp"
                  :selected-value="selectedValue"
                  :display-exp="displayExp"
                  :sub-title-exp="subTitleExp"
                  :is-search="!!searchQuery"
                  :data-qa="dataQa"
                  :two-rows="twoRows"
                  :use-groups="useGroups"
                  :show-group-count="showGroupCount"
                  :is-dropdown="isDropdown"
                  @toggleGroup="toggleGroup(item)"
                  @click="setItem(item)"
                  @select-group="selectGroup(item, $event)"
                />
                <ObExpandTransition @on-end-transition="onAfterTransitionToggleGroup">
                  <div
                    v-if="useGroups && (item.isOpenedGroup || ((searchQuery || query) && item.children && item.children.length))"
                    :key="`group-${item.children && item.children[0] ? item.children[0][valueExp] : item[displayExp]}`"
                    class="ob-selector__list-items-children"
                  >
                    <select-item
                      v-for="child in item.children"
                      ref="selectItem"
                      :key="child[valueExp]"
                      :item="child"
                      :value-exp="valueExp"
                      :selected-value="selectedValue"
                      :display-exp="displayExp"
                      :sub-title-exp="subTitleExp"
                      :is-search="!!searchQuery"
                      :data-qa="dataQa"
                      :two-rows="twoRows"
                      :use-groups="useGroups"
                      :is-dropdown="isDropdown"
                      @click="setItem(child)"
                    />
                  </div>
                </ObExpandTransition>
              </div>
            </slot>
          </div>
        </div>
        <div
          v-if="itemBottom"
          class="ob-selector__list-item --bottom"
          :data-qa="dataQa"
          @click="handleBottomClick"
        >
          <div class="ob-selector__list-item-title-wrapper">
            <div
              v-if="itemBottom.icon"
              class="icon ob-selector__list-item-icon --bottom"
              :class="itemBottom.icon"
            />
            <div class="ob-selector__list-item-text">
              {{ itemBottom.title }}
            </div>
          </div>
        </div>
      </div>
    </select-dropdown>
  </div>
</template>
<script>
import ClickOutside from 'vue-click-outside'
import vueDebounce from 'vue-debounce'
import Vue from 'vue'
import cloneDeep from 'clone-deep'
import FormItemMixin from '../obForm/FormItemMixin'
import UniqueIdMixin from '../../mixins/unique-id'
import SelectItem from './select-item'
import SelectDropdown from './select-dropdown'
import ObTooltip from '../obTooltip'
import ObLoader from '../obLoader'
import ObExpandTransition from '../obExpandTransition'

Vue.use(vueDebounce)

export default {
  name: 'ObSelect',
  components: {
    SelectItem,
    SelectDropdown,
    ObTooltip,
    ObLoader,
    ObExpandTransition
  },
  directives: {
    ClickOutside,
    scroll: {
      inserted: function (el, binding) {
        let f = function (evt) {
          if (binding.value(evt, el)) {
            el.removeEventListener('scroll', f)
          }
        }
        el.addEventListener('scroll', f)
      }
    }
  },
  provide () {
    return {
      select: this
    }
  },
  mixins: [
    FormItemMixin,
    UniqueIdMixin
  ],
  props: {
    items: {
      type: Array,
      default: () => []
    },
    itemBottom: {
      type: Object,
      default: null
    },
    value: {
      type: [Array, String, Number, Boolean],
      default: ''
    },
    initialValue: {
      type: Array,
      default: () => []
    },
    displayExp: {
      type: String,
      default: 'title'
    },
    displayFunc: {
      type: Function,
      default: null
    },
    valueExp: {
      type: String,
      default: 'uuid'
    },
    subTitleExp: {
      type: String,
      default: 'subtitle'
    },
    label: {
      type: String
    },
    placeholder: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    },
    isAutoComplete: {
      type: Boolean,
      default: undefined
    },
    isAddresAutoComplete: {
      type: Boolean,
      default: false
    },
    isTagbox: {
      type: Boolean,
      default: false
    },
    isDropdown: {
      type: Boolean,
      default: false
    },
    showItemsCount: {
      type: Number,
      default: 5
    },
    withCheckbox: {
      type: Boolean,
      default: false
    },
    pageLimit: {
      type: Number,
      default: 20
    },
    invalid: {
      type: Boolean,
      default: false
    },
    property: {
      type: [String, Array],
      default: null
    },
    isStandart: {
      type: Boolean,
      default: true
    },
    isInput: {
      type: Boolean,
      default: false
    },
    isSearch: {
      type: Boolean,
      default: false
    },
    remoteOpt: {
      type: [Function, Object],
      default: null
    },
    detailsRemote: {
      type: Object,
      default: null
    },
    remoteTrigger: {
      type: [String, Number, Object, Boolean],
      default: true
    },
    required: {
      type: Boolean,
      default: false
    },
    position: {
      type: String,
      default: 'bottom-start'
    },
    controlSlots: {
      type: Array,
      default: () => []
    },
    labelInfo: {
      type: String,
      default: null
    },
    popperClass: {
      type: String,
      default: null
    },
    widthInherit: {
      type: Boolean,
      default: true
    },
    twoRows: {
      type: Boolean,
      default: false
    },
    isClearable: {
      type: Boolean,
      default: false
    },
    isCompactDropdown: {
      type: Boolean,
      default: false
    },
    clearItem: {
      type: Object,
      default: () => {
        return {
          title: 'Не выбран',
          uuid: null
        }
      }
    },
    dataQa: {
      type: String
    },
    displayGroupTitleOnSelectGroup: {
      type: Boolean,
      default: false
    },
    showGroupCount: {
      type: Boolean,
      default: false
    },
    isGroupsExpanded: {
      type: Boolean,
      default: false
    },
    isOnlyDropdown: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      cellar: [],
      isOpen: this.isOnlyDropdown,
      query: '',
      searchQuery: '',
      showAllItems: false,
      isLoading: true,
      page: 0,
      count: 0,
      interval: undefined,
      inputQuery: '',
      localItems: [],
      localItemsValues: [],
      localValue: null,
      prevTrigger: undefined,
      firstLoad: true
    }
  },
  computed: {
    selectedValue () {
      let source = this.query.length ? (this.cellar.length ? this.cellar : this.localItems) : this.localItems
      source = this.getInitialValue().concat(source)
      if (this.isDropdown) {
        let result = []
        this.computedValue && Array.isArray(this.computedValue) && this.computedValue.forEach(v => {
          let item = this.findInList(source, v)
          if (item) {
            result.push(item)
          }
        })
        return result
      } else {
        let res = this.findInList(source, this.computedValue)
        return res || ''
      }
    },
    chipsList () {
      if (!this.isDropdown) return []

      if (!this.useGroups) {
        return this.selectedValue
      }

      const values = cloneDeep(this.selectedValue)
      const valuesUuids = values.map(item => item[this.valueExp])
      let chips = []

      this.localItems.forEach(group => {
        const { title, children = [] } = group
        const childrenUuids = children.map(item => item[this.valueExp])
        const childrenSelected = values.filter(item => childrenUuids.includes(item[this.valueExp]))
        const isSelectedAllElements = childrenUuids.every(uuid => valuesUuids.includes(uuid))

        if (isSelectedAllElements) {
          chips.push({
            title,
            uuids: childrenSelected.map(item => item[this.valueExp]),
            isGroup: true
          })
        } else {
          chips = chips.concat(childrenSelected)
        }
      })

      return chips
    },
    filteredItems () {
      let source = cloneDeep(this.getInitialValue().concat(this.localItems))

      if (!this.isRemote && this.withFilter && this.query) {
        const query = this.query.toLowerCase()
        if (this.useGroups) {
          return source.filter(i => {
            let inGroup = i[this.displayExp].toLowerCase().includes(query)
            const filteredChildren = i.children && i.children.filter(ch => {
              return ch[this.displayExp].toLowerCase().includes(query)
            })
            if (filteredChildren && filteredChildren.length > 0) {
              i.children = filteredChildren
              inGroup = true
            }
            return inGroup
          })
        } else {
          return source.filter(i => i[this.displayExp].toLowerCase().includes(query))
        }
      } else if (this.isSearch) {
        if (!this.searchQuery) {
          return source
        }

        const escapedSearchQuery = this.searchQuery.replace(/[.*+?^${}()|[\]\\]/g, '\\$&') // $& means the whole matched string
        const re = new RegExp(escapedSearchQuery, 'gi')

        return source.filter((item) => {
          return this.isRemote ? true : item[this.displayExp].toLowerCase().includes(this.searchQuery)
        }).map((i) => {
          if (i[this.displayExp]) {
            this.$set(i, 'searchResult', i[this.displayExp].replace(re, (item) => {
              return `<span class="search-result">${item}</span>`
            }))
          }

          return i
        })
      } else {
        return source
      }
    },
    isInvalid () {
      return this.invalid || this.mainError
    },
    isValue () {
      if (this.computedValue === undefined || this.computedValue === null || this.computedValue === '') return false
      if (typeof this.computedValue === 'boolean') return true
      return Array.isArray(this.computedValue) ? Boolean(this.computedValue.length) : true
    },
    computedValue () {
      let value = this.value || this.localValue
      return this.isDropdown ? value || [] : value
    },
    computedDataValue: ({ computedValue }) => Array.isArray(computedValue) ? computedValue.join(', ') : computedValue,
    isRemote () {
      return this.isRemoteFunction || this.isRemoteObject
    },
    isRemoteFunction () {
      return this.remoteOpt && typeof this.remoteOpt === 'function'
    },
    isRemoteObject () {
      return this.remoteOpt && typeof this.remoteOpt === 'object' && this.remoteOpt.method
    },
    isLoadOpen () {
      return this.isRemoteObject && this.remoteOpt.loadEvent === 'open'
    },
    isChangeTrigger () {
      return this.remoteTrigger !== this.prevTrigger && this.remoteTrigger !== undefined && this.prevTrigger !== undefined
    },
    withFilter () {
      return this.isAutoComplete || (this.itemsCount > 10 && this.isAutoComplete === undefined)
    },
    valueTitle () {
      if (!this.selectedValue) return ''

      if (this.displayFunc) {
        return this.displayFunc(this.selectedValue)
      } else {
        return this.selectedValue[this.displayExp]
      }
    },
    isShowClearItem () {
      return this.isClearable && !this.isDropdown
    },
    useGroups () {
      return !!this.items.find(item => item.children)
    },
    listClass () {
      return {
        'ob-selector__list-items': true,
        'ob-selector__list-items-with-filter': this.withFilter,
        'ob-selector__list-items-with-groups': this.useGroups
      }
    },
    itemsCount () {
      return this.items.reduce((acc, item) => {
        let count = acc + 1
        if (item.children) {
          count += item.children.length
        }
        return count
      }, 0)
    }
  },
  watch: {
    initialValue: {
      handler (newVal) {
        if (newVal) {
          this.cellar = newVal
        }
      },
      immediate: true
    },
    items (to, from) {
      if (this.useGroups) {
        const isOpenedGroupTitles = this.localItems.filter(item => Boolean(item.isOpenedGroup)).map(item => item.title)
        const toList = to.map(item => {
          return {
            ...item,
            isOpenedGroup: isOpenedGroupTitles.includes(item.title)
          }
        })
        this.localItems = toList || []
        this.localItemsValues = toList || []
      } else {
        this.localItems = to || []
        this.localItemsValues = to || []
      }
      this.checkItems()
    },
    remoteTrigger (val) {
      if (val) {
        if (!this.isLoadOpen) {
          this.initSelector()
        }
      }
    },
    value: {
      handler (val) {
        this.localValue = val
        if (this.isAddresAutoComplete) {
          this.inputQuery = val
        }
      },
      immediate: true
    },
    isOpen (val) {
      if (!val) {
        if (this.isInput || this.isAutoComplete) {
          this.$refs.manualInput && this.$refs.manualInput.blur()
        }

        this.$emit('close')
      } else {
        this.$emit('open')
      }

      this.$eventGlobal.$emit('prevent-modal-close', val)
    }
  },
  async mounted () {
    if (this.isAddresAutoComplete) {
      this.inputQuery = this.value
    }
    if (!this.isLoadOpen) {
      this.initSelector()
    }
    if (this.detailsRemote) {
      const detailsPromise = this.detailsRemote?.method
      this.cellar = await detailsPromise(({ ...this.getDetailsParams() }))
    }
  },
  methods: {
    onClickHandle () {
      if (this.isInput && this.$el.querySelector('.ob-selector__input')) {
        this.$el.querySelector('.ob-selector__input').focus()
      }
    },
    onKeyDownHandler (e) {
      const escCode = 27
      const spaceCode = 32
      const enterCode = 13

      if (this.isOpen) {
        if (e.keyCode === escCode) {
          this.toggle()
        }
      } else {
        if ([spaceCode, enterCode].includes(e.keyCode) && !this.isInput && !this.isAutoComplete) {
          e.preventDefault()
          e.stopPropagation()
          this.toggle()
        }
      }
    },
    onOutsideClick ($event) {
      let target = $event.target
      let popper = this.$refs.popper.$el
      if (target === popper || popper.contains(target)) {
        return false
      } else {
        this.close()
        if (this.query.length) {
          if (this.isRemote) {
            this.localItems = this.localItemsValues
            this.page = 0
          }
          this.query = ''
        }
      }
    },
    async initSelector () {
      await this.loadData({ init: true })
    },
    checkItems () {
      if (this.localItems.length === 1 && !this.isStandart) {
        if (!this.useGroups) {
          this.setItem(this.localItems[0])
        }
      }
    },
    close () {
      if (this.isOpen && !this.isOnlyDropdown) {
        this.isOpen = false
        this.touchField()
      }
    },
    toggle () {
      if (this.disabled || this.readonly || (this.localItems.length === 1 && !this.isStandart && !this.useGroups)) return

      this.isOpen = !this.isOpen
      if (!this.isOpen) {
        this.$refs.reference.focus()
      }

      if ((this.isOpen && this.isLoadOpen && (this.isChangeTrigger || this.firstLoad))) {
        this.isLoading = true
        this.loadData({ init: true })
      }

      if (this.isOpen) {
        setTimeout(() => {
          const dropdownSearch = this.$refs[`dropdownSearch-${this.dataQa}`]
          dropdownSearch && dropdownSearch.focus()
        }, 100)
      }
    },
    toggleGroup (item) {
      this.$set(this.localItems.find(i => i[this.displayExp] === item[this.displayExp]), 'isOpenedGroup', !item.isOpenedGroup)
    },
    onAfterTransitionToggleGroup () {
      this.$refs.popper.updatePopper()
    },
    selectGroup (group, isSelect = true) {
      if (this.isDropdown) {
        this.setItems(group.children, isSelect)
      } else {
        this.setItem(group.children.find(child => [group.defaultGroupElementUuid, group.groupUuid].includes(child[this.valueExp])))
      }
    },
    setItem (item) {
      this.setLocalItemsValues(item)

      let value = item[this.valueExp]
      if (this.isDropdown) {
        let isSelected = this.computedValue && this.computedValue.find(i => i === item[this.valueExp])
        value = isSelected ? [...this.computedValue.filter(i => i !== item[this.valueExp])] : [...this.computedValue, ...[item[this.valueExp]]]
      } else {
        this.isOpen = false
      }
      if (this.isAddresAutoComplete) {
        this.inputQuery = item[this.displayExp]
      }
      this.localValue = value
      if (this.isRemote) {
        this.cellar.push(item)
        if (this.localItems.length < this.localItemsValues.length) {
          this.localItems = this.localItemsValues
          this.page = 0
        }
      }
      if (!this.isDropdown) {
        this.query = ''
        this.searchQuery = ''
      }
      this.$emit('input', value)
      this.$emit('selected', item)

      // Set search field text, because if user has been
      // deleted some text and trying to choosing
      // the same option, $emit will not be fired,
      // and visually option will not be applied
      if (this.isSearch) {
        this.$refs.searchField.textContent = this.selectedValue[this.displayExp]
      }
    },
    setItems (items, isSelect = true) {
      this.setLocalItemsValues(items)

      let value

      if (isSelect) {
        value = Array.from(new Set(this.computedValue.concat(items.map(item => item[this.valueExp]))))
      } else {
        value = this.computedValue.filter(value => {
          return !items.find(item => value === item[this.valueExp])
        })
      }

      this.localValue = value

      this.$emit('input', value)
      this.$emit('selected', items)
    },
    setLocalItemsValues (data) {
      if (Array.isArray(data)) {
        data.forEach(item => {
          let exist = this.localItemsValues && this.findInList(this.localItemsValues, item[this.valueExp])
          if (!exist) {
            this.localItemsValues.push(item)
          }
        })
      } else {
        let exist = this.localItemsValues && this.findInList(this.localItemsValues, data[this.valueExp])
        if (!exist) {
          this.localItemsValues.push(data)
        }
      }
    },
    removeChip (chip) {
      if (!this.disabled && !this.readonly) {
        const removedList = chip.isGroup ? [ ...chip.uuids ] : [ chip[this.valueExp] ]
        this.cellar = this.cellar.filter(item => !removedList.includes(item[this.valueExp]))
        let value = [ ...this.computedValue.filter(i => !removedList.includes(i)) ]
        this.localValue = value
        this.$emit('input', value)
      }
    },
    handlerSearch () {
      this.isLoading = true

      this.page = 0
      this.count = 0

      this.loadData()
    },
    async handlerAddresSearch () {
      this.isOpen = true
      this.isLoading = true
      this.$emit('input', this.inputQuery)
      if (this.remoteOpt && this.remoteOpt.method) {
        await this.remoteOpt.method(this.inputQuery)
      }
      this.isLoading = false
      this.$refs.selectItem[0].$el.focus()
    },
    handlerScroll (evt) {
      if ((evt.target.clientHeight + evt.target.scrollTop + 10) > evt.target.scrollHeight && this.isOpen && !this.isLoading && this.isRemote && this.count > (this.pageLimit * this.page)) {
        this.isLoading = true
        this.page += 1

        this.loadData({ concat: true })
      }
    },
    async loadData ({ concat = false, init = false } = {}) {
      if (this.isLoadReady()) {
        if (init) {
          this.page = 0
          this.count = 0
          if (this.$refs['list-container']) {
            this.$refs['list-container'].scrollTop = 0
          }
        }

        let promise = this.isRemoteFunction ? this.remoteOpt : this.remoteOpt.method
        let res = await promise(({ ...this.getRequestParams() }))

        if (res && typeof res === 'object' && res.data) {
          res = res.data
        }

        let result = res
        if (result && !Array.isArray(result)) {
          result = result.content || result.values || []
        } else if (!result) {
          result = []
        }

        this.count = res && (res.total_elements || res.totalElements || null)
        const items = concat ? this.localItems.concat(result) : result

        if (this.isShowClearItem) {
          items.unshift(this.clearItem)
        }

        this.localItems = items
        this.prevTrigger = this.remoteTrigger
        this.firstLoad = false
        this.$emit('on-load-list', this.localItems)
      } else if (!this.isRemote) {
        const items = this.items ? (this.isShowClearItem ? [this.clearItem].concat(this.items) : this.items) : []

        this.localItems = items
        this.localItemsValues = items
        this.localValue = this.value
      }

      this.isLoading = false

      if (init) {
        this.localItemsValues = this.localItems
        this.checkItems()
      }
    },
    showMoreToggle () {
      this.showAllItems = !this.showAllItems
    },
    onSearchInput (e) {
      if (!this.isOpen) {
        this.toggle()
      }

      this.searchQuery = e.target.outerText.toLowerCase().trim()

      if (!this.searchQuery) {
        return
      }

      const item = this.localItems.find(i => i[this.displayExp].toLowerCase() === this.searchQuery)

      if (item) {
        this.setItem(item)
      }
    },
    onSearchFocus () {
      // Remove placeholder
      if (!this.isValue && !this.searchQuery) {
        this.$refs.searchField.textContent = ''
      }
    },
    onSearchBlur () {
      if (this.selectedValue) {
        if (this.searchQuery) {
          setTimeout(() => {
            this.$refs.searchField.textContent = this.selectedValue[this.displayExp]
          }, 500)
        } else {
          this.$refs.searchField.textContent = this.selectedValue[this.displayExp]
        }
      }
    },
    onSearchKeydown (e) {
      // Enter ⏎
      if (e.keyCode === 13) {
        // Prevent multiple lines
        e.preventDefault()
      }

      // Arrows ↑ ↓
      if (e.keyCode === 38 || e.keyCode === 40) {
        e.preventDefault()

        this.$refs.selectItem[0].$el.focus()
      }
    },
    onSelectorListKeydown (e) {
      this.$refs.selectItem[0].$el.focus()
      let availableItems = this.$refs.selectItem.filter(item => !item.item.disabled && item.$el.parentNode.style.display !== 'none')
      const currentItemIndex = availableItems.findIndex(item => item.$el === e.target)

      // Arrows ↑ ↓
      if (e.keyCode === 38 || e.keyCode === 40) {
        e.preventDefault()

        let nextIndex = 0

        if (~currentItemIndex) {
          nextIndex = e.keyCode === 38 ? currentItemIndex - 1 : currentItemIndex + 1
        }

        // Обработка крайних значений
        if (nextIndex < 0) {
          nextIndex = availableItems.length - 1
        } else if (nextIndex > availableItems.length - 1) {
          nextIndex = 0
        }

        availableItems[nextIndex].$el.focus()
      } else if (e.keyCode === 13 && ~currentItemIndex) { // "Enter" key
        const currentComp = availableItems[currentItemIndex]
        if (currentComp.item?.children?.length) {
          currentComp.toggleGroup(currentComp.item)
          this.$refs.selectItem.filter(item => !item.item.disabled && item.$el.parentNode.style.display !== 'none')
          return
        }
        this.setItem(availableItems[currentItemIndex].item)

        this.$refs.reference.focus()
      }
    },
    addChips (e) {
      if (e.keyCode === 13 && this.inputQuery && !this.isAddresAutoComplete) {
        let item = this.localItems.find(i => i[this.valueExp].toLowerCase() === this.inputQuery.toLowerCase() || i[this.displayExp].toLowerCase() === this.inputQuery.toLowerCase())

        if (!item) {
          item = {}
          item[this.valueExp] = this.inputQuery
          item[this.displayExp] = this.inputQuery
          this.localItems.push(item)
        }

        this.setItem(item)
        this.inputQuery = ''
      }
    },
    onBlurInput (event) {
      this.$emit('focus-out', event, this.inputQuery)
      this.inputQuery = ''
    },
    remoteTriggerStatus () {
      if (this.$options.propsData.hasOwnProperty('remoteTrigger')) {
        return Boolean(this.$options.propsData.remoteTrigger)
      }
      return Boolean(this.remoteTrigger)
    },
    isLoadReady () {
      return this.remoteTriggerStatus() && this.isRemote
    },
    getRequestParams () {
      let params = {
        query: this.query || this.searchQuery,
        page: this.page,
        size: this.pageLimit,
        total: this.count
      }
      let userArguments = {}

      if (this.isRemoteObject && this.remoteOpt.arguments) {
        userArguments = this.remoteOpt.arguments
      }
      return {
        ...params,
        ...userArguments
      }
    },
    getDetailsParams () {
      return {
        ...this.detailsRemote?.arguments
      }
    },
    handleBottomClick () {
      this.close()
      this.$emit('bottom')
    },
    getInitialValue () {
      let result = []

      this.cellar.forEach((initialValueItem) => {
        const existInLocalItems = this.localItems.find((localItem) => localItem[this.valueExp] === initialValueItem[this.valueExp])
        const searchCondition = (initialValueItem[this.displayExp] || '').includes(this.searchQuery || this.query)
        const existInValue = this.value === initialValueItem[this.valueExp] || (this.isDropdown && this.value?.includes(initialValueItem[this.valueExp]))

        if (!existInLocalItems && existInValue && searchCondition) {
          result.push(initialValueItem)
        }
      })

      return result
    },
    removeAllChips () {
      this.localValue = []

      this.$emit('input', this.localValue)
    },
    findInList (list, searchableValue) {
      let result
      if (this.useGroups) {
        list.forEach(i => {
          if (this.displayGroupTitleOnSelectGroup && i[this.valueExp] === searchableValue) {
            result = i
          } else if (i.children) {
            i.children.forEach(child => {
              if (child[this.valueExp] === searchableValue) {
                result = child
              }
            })
          }
        })
      } else {
        result = list.find(i => i[this.valueExp] === searchableValue)
      }
      return result
    }
  }
}
</script>
<style lang="scss">
@import "../../static/css/mixins";
@import "../../static/css/variables";

.ob-selector {
  --ob-selector-padding: 12px;
  position: relative;
  &__select {
    display: flex;
    justify-content: space-between;
    background: $background-white;
    border: 1px solid $color-grey-border;
    box-sizing: border-box;
    border-radius: 3px;
    min-height: 52px;
    width: 100%;
    cursor: pointer;
    outline: none;
    &:hover, &:focus {
      border: 1px $cornflower-craiola solid;
    }
    &_open {
      border: 1px solid $blue-700 !important;
    }
    .disabled &, .readonly &, .form-disabled & {
      cursor: default;
      background: $color-white-lilac;
      border-color: $color-white-lilac !important;
    }
    .not-disabled & {
      background: $background-white;
    }
    .invalid & {
      border: 1px solid $color-error !important;
    }
  }
  .ctrl-group & {
    min-width: 204px;
    &__select {
      border: none;
      border-left: 1px solid $color-grey-border;
    }
    &__select :first-child {
      border: none;
    }
  }
  &__title {
    padding-top: 6px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    &_only-label {
      justify-content: center;
    }
  }
  &__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 12px;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-1px);
      width: 22px;
      height: 12px;
      font-size: 22px;
      color: $color-blue-navy-blue;
    }
    .disabled &, .readonly &, .form-disabled & {
      .icon::before {
        color: $color-grey-border;
      }
    }
    .not-disabled & {
      .icon::before {
        color: $color-blue-navy-blue;
      }
    }
    .invalid & {
      .icon::before {
        color: $color-error;
      }
    }
  }
  &__label {
    @include font-mixin(12px, inherit, 400, $gray-slate, 0.4px);
    margin-top: 0px;
    margin-left: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    .disabled &, .form-disabled & {
      color: $color-grey-span;
    }
    .not-disabled & {
      color: $gray-slate;
    }
  }
  &__label-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-left: 3px;
    color: $color-blue-navy-blue;
    cursor: default;
  }
  &__value {
    @include font-mixin(16px, 20px, 400, $color-text-base);
    display: flex;
    align-items: center;
    margin-left: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    .disabled &, .form-disabled & {
      color: $color-grey-span;
    }
    .not-disabled & {
      color: $color-text-base;
    }
    &.is-placeholder {
      color: $gray-window;
    }
    &-icon {
      position: relative;
      left: -1px;
      width: 14px;
      height: 14px;
      margin-right: 7px;
      font-size: 14px;
      color: $blue-700;
      &[class*='risk'] {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
    }
    &-html {
      margin-right: 8px;
    }
  }
  &__toggle {
    cursor: pointer;
    background: $color-blue-navy-blue;
    width: 20px;
    height: 20px;
  }
  &__list {
    background: $background-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    width: 100%;
    transition: opacity .5s ease-out;
    border-radius: 3px;
    overflow: auto;
    &-container {
      padding-top: 8px;
      overflow: auto;
      min-height: 50px;
    }
    &.with-filter {
      top: auto;
    }
    .no-data-block {
      width: 100%;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 16px;
      color: $color-grey-span;
    }
    &-item {
      width: 100%;
      cursor: pointer;
      &:hover,
      &:focus {
        outline: none;
      }
      &_active {
        background: $blue-blue-hoarfrost;
      }
      &-text {
        @include font-mixin(16px, 20px, 400, $color-text-base);
      }
      &.--bottom {
        padding-top: 15px;
        padding-bottom: 14px;
        padding-left: 12px;
        padding-right: 12px;
        border-top: 1px solid $color-grey-border;
      }
    }
  }
  &__multi-select {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 12px;
    &-item {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 10px;
      margin-right: 6px;
      background: $lavender;
      border-radius: 19px;
      padding: 4px 10px 6px 8px;
      letter-spacing: 0.09px;
      line-height: 18px;
      font-size: 14px;
      &-remove {
        display: flex;
        justify-content: center;
        margin-left: 7px;
        font-size: 14px;
        color: $gray-slate;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &-more {
      @include font-mixin(14px, inherit, 400, $color-blue-navy-blue);
      margin-top: 8px;
      margin-right: 10px;
      padding: 8px 30px 8px 12px;
      height: 30px;
    }
  }
  &__list-filter {
    position: relative;
    margin: var(--ob-selector-padding) var(--ob-selector-padding) 2px;
    &-input {
      background: $background-white;
      border: 1px solid $color-grey-border;
      box-sizing: border-box;
      border-radius: 3px;
      width: 100%;
      height: 100%;
      padding: 16px 0 16px 12px;
      outline: none;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      &::placeholder {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $gray-window;
      }
      &:focus {
        border: 1px solid $color-blue-navy-blue;
      }
    }
    &-icon {
      padding-top: 1px;
      position: absolute;
      top: 14px;
      right: 11px;
      font-size: 22px;
    }
    &-html {
      margin-right: 8px;
    }
  }
  &__list-items-children {
    margin-bottom: 8px;
    .select-item {
      padding-left: 62px;
    }
  }
  &__list-item {
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
    text-align: left; // Override <button> user agent stylesheet
    &-title-wrapper {
      display: flex;
    }
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-icon {
      width: 16px;
      height: 16px;
      margin-top: 2px;
      margin-right: 12px;
      font-size: 16px;
      color: $color-blue-navy-blue;
      &.--bottom {
        width: 24px;
        height: 24px;
        font-size: 24px;
        margin-right: 18px;
      }
    }
    &-html {
      margin-right: 8px;
    }
    &-subtitle {
      margin-left: 15px;
      color: $obSelect-list_item_subtitle_color;
    }
  }
  &__list-item_two-rows {
    display: block;
    .ob-selector__list-item-subtitle {
      margin: 1px 0 0 0;
    }
    .ob-selector__list-item-subtitle-icon-shift {
      margin: 1px 0 0 24px;
    }
  }
  &__dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8px var(--ob-selector-padding);
    padding-right: 48px;
    justify-content: space-between;
    background: $background-white;
    border: 1px solid $color-grey-border;
    box-sizing: border-box;
    border-radius: 3px;
    min-height: 52px;
    width: 100%;
    cursor: pointer;
    .disabled &, .form-disabled & {
      cursor: default;
      background: $color-white-lilac;
      border-color: $color-white-lilac;
    }
    .not-disabled & {
      background: $background-white;
    }
    .invalid & {
      border: 1px solid $color-error;
    }
    &.compact {
      padding: 3px 5px;
      min-height: auto;
    }
    &-placeholder {
      @include font-mixin(16px, 20px, 400, $gray-window, 0.17px);
    }
    &-label {
      @include font-mixin(12px, 12px, 400, $gray-slate, 0.44px);
      mix-blend-mode: normal;
      display: flex;
      align-items: center;
      .disabled &, .form-disabled & {
        color: $color-grey-span;
      }
      .not-disabled & {
        color: $gray-slate;
      }
    }
    &-control-open {
      position: absolute;
      top: 14px;
      right: 12px;
      width: 24px;
      height: 24px;
      color: $blue-700;
      font-size: 24px;
      .disabled &, .form-disabled & {
        color: $color-grey-border;
      }
      .not-disabled & {
        color: $blue-700;
      }
    }
    .disabled &, .form-disabled & {
      .icon::before {
        color: $color-grey-border;
      }
    }
    .not-disabled & {
      .icon::before {
        color: $blue-700;
      }
    }
    .invalid & {
      .icon::before {
        color: $color-error;
      }
    }
  }
  &__dropdown-compact-info {
    @include font-mixin(12px, 18px, 400, $color-text-base);

    background-color: $blue-250;
    border-radius: 10px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    flex: 1;
    white-space: nowrap;

    &.open {
      background-color: $color-blue-heavenly;
    }

    .disabled & {
      background-color: $color-grey-border;
    }
  }
  &__remove-all-button {
    font-size: 12px;
    color: $color-grey-label;
    margin-left: 4px;
  }
  &__loader {
    position: absolute;
    background: $background-white;
    opacity: 0.8;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .with-filter & {
      height: calc(100% - 76px);
    }
    &-rounded {
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      width: 40px;
      height: 40px;
    }
  }
  &__input {
    @include font-mixin(16px, 20px, 400, inherit, 0.4px);
    border: none;
    height: 18px;
    outline: none;
    margin-top: 2px;
    margin-left: 12px;
    &::placeholder {
      @include font-mixin(16px, 20px, 400, $gray-window);
    }
  }
  &__required {
    color: $color-error;
    padding-left: 4px;
  }
  .tooltip {
    display: flex;
    align-items: center;
    margin-left: 0.2em;
  }
  .search-field {
    width: 100%;

    &:focus {
      outline: none;
    }
  }
  &__list-item-header-text {
    font-weight: bold;
  }
  &__list-item-header-count {
    align-self: center;
    color: #737682;
    font-size: 16px;
    margin-left: 5px;
  }
}
@keyframes spin {
  50% {
    transform: rotate(3600deg);
  }
}
.search-result {
  color: $color-blue-navy-blue;
  font-weight: bold;
}
</style>
