<template>
  <transition
    name="dialog-fade"
    @after-enter="afterEnter"
    @after-leave="afterLeave"
  >
    <div
      v-show="visible"
      class="el-dialog__wrapper"
      :data-qa="dataQa"
      @mousedown="setClickTarget"
      @click.self="handleBeforeClose"
    >
      <div
        ref="dialog"
        :key="key"
        role="dialog"
        aria-modal="true"
        :aria-label="title || 'dialog'"
        :class="['el-dialog', { 'is-fullscreen': fullscreen, 'el-dialog--center': center }, customClass]"
        :style="style"
      >
        <div class="el-dialog__header">
          <slot name="title">
            <span class="el-dialog__title">{{ title }}</span>
          </slot>
          <button
            v-if="showClose"
            type="button"
            class="el-dialog__headerbtn"
            aria-label="Close"
            :data-qa="dataQa"
            @click="handleClose"
          >
            <i class="el-dialog__close el-icon el-icon-close" />
          </button>
        </div>
        <div
          v-if="rendered"
          class="el-dialog__body"
        >
          <slot />
        </div>
        <div
          v-if="$slots.footer"
          class="el-dialog__footer"
        >
          <slot name="footer" />
        </div>
      </div>
      <confirm-popup
        v-if="!isConfirm"
        ref="confirm"
        :data-qa="dataQa"
        :str-title="strConfirmModalTitle"
        :str-text="strConfirmModalText"
        :str-ok-button="strConfirmModalOkButton"
        :str-cancel-button="strConfirmModalCancelButton"
        @close="handleClose"
      />
    </div>
  </transition>
</template>
<script>
import Popup from './popup'
import Migrating from './migrating'
import emitter from './emitter'

export default {
  name: 'ElDialog',
  components: {
    confirmPopup: () => import('./confirm')
  },
  mixins: [
    Popup,
    emitter,
    Migrating
  ],

  props: {
    isConfirm: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },

    modal: {
      type: Boolean,
      default: true
    },

    modalAppendToBody: {
      type: Boolean,
      default: true
    },

    appendToBody: {
      type: Boolean,
      default: false
    },

    lockScroll: {
      type: Boolean,
      default: true
    },

    closeOnClickModal: {
      type: Boolean,
      default: true
    },

    closeOnPressEscape: {
      type: Boolean,
      default: true
    },

    showClose: {
      type: Boolean,
      default: true
    },

    width: String,

    fullscreen: Boolean,

    customClass: {
      type: String,
      default: ''
    },

    top: {
      type: String,
      default: '15vh'
    },
    beforeClose: Function,
    center: {
      type: Boolean,
      default: false
    },

    destroyOnClose: Boolean,
    dataQa: {
      type: String
    },
    strConfirmModalTitle: {
      type: String,
      default: null
    },
    strConfirmModalText: {
      type: String,
      default: null
    },
    strConfirmModalOkButton: {
      type: String,
      default: null
    },
    strConfirmModalCancelButton: {
      type: String,
      default: null
    },
    hasActiveChild: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      closed: false,
      key: 0,
      clickTarget: null
    }
  },

  computed: {
    style () {
      let style = {}
      if (!this.fullscreen) {
        style.marginTop = this.top
        if (this.width) {
          style.width = this.width
        }
      }
      return style
    }
  },

  watch: {
    visible (val) {
      if (val) {
        this.closed = false
        this.$emit('open')
        this.$el.addEventListener('scroll', this.updatePopper)
        this.$nextTick(() => {
          this.$refs.dialog.scrollTop = 0
        })
        if (this.appendToBody) {
          document.body.appendChild(this.$el)
        }
      } else {
        this.$el.removeEventListener('scroll', this.updatePopper)
        if (!this.closed) this.$emit('close')
        if (this.destroyOnClose) {
          this.$nextTick(() => {
            this.key++
          })
        }
      }
    }
  },

  mounted () {
    if (this.visible) {
      this.rendered = true
      this.open()
      if (this.appendToBody) {
        document.body.appendChild(this.$el)
      }
    }
  },
  destroyed () {
    // if appendToBody is true, remove DOM node after destroy
    if (this.appendToBody && this.$el && this.$el.parentNode) {
      this.$el.parentNode.removeChild(this.$el)
    }
  },
  methods: {
    getMigratingConfig () {
      return {
        props: {
          'size': 'size is removed.'
        }
      }
    },
    hasChanged (parent) {
      return parent.$children.some((child) => {
        if (child.$options.name === 'ObForm') {
          return child.formIsChanged && !child.isReadOnly
        }
        return this.hasChanged(child)
      })
    },
    handleBeforeClose (e) {
      if (e && e.target !== this.clickTarget) return
      if (this.hasActiveChild) return
      if (!this.closeOnClickModal) return
      if (this.hasChanged(this) && !this.isConfirm) {
        this.$refs.confirm.open()
        return
      }
      this.handleClose()
    },
    handleClose () {
      if (typeof this.beforeClose === 'function') {
        this.beforeClose(this.hide)
      } else {
        this.hide()
      }
    },
    hide (cancel) {
      if (cancel !== false) {
        this.$emit('update:visible', false)
        this.$emit('close')
        this.closed = true
      }
    },
    updatePopper () {
      this.broadcast('ElSelectDropdown', 'updatePopper')
      this.broadcast('ElDropdownMenu', 'updatePopper')
    },
    afterEnter () {
      this.$emit('opened')
    },
    afterLeave () {
      this.$emit('closed')
    },
    setClickTarget ({ target }) {
      // Preserve click target, because @click.self is triggered when
      // the mousedown has started from another element. But we cannot
      // use @mousedown.self, because @mousedown ignores scrollbar and
      // user cannot scrolling the page with opened modal window
      this.clickTarget = target
    }
  }
}
</script>

<style lang="scss">
  .v-modal-enter {
    -webkit-animation: v-modal-in .2s ease;
    animation: v-modal-in .2s ease
  }

  .v-modal-leave {
    -webkit-animation: v-modal-out .2s ease forwards;
    animation: v-modal-out .2s ease forwards
  }

  @-webkit-keyframes v-modal-in {
    0% {
      opacity: 0
    }
  }

  @keyframes v-modal-in {
    0% {
      opacity: 0
    }
  }

  @-webkit-keyframes v-modal-out {
    100% {
      opacity: 0
    }
  }

  @keyframes v-modal-out {
    100% {
      opacity: 0
    }
  }

  .v-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: $background-black
  }

  .el-popup-parent--hidden {
    overflow: hidden
  }

  .el-dialog {
    position: relative;
    margin: 0 auto 50px;
    background: $background-white;
    box-shadow: 0 1px 3px $obModal-dialog_box_shadow;
    box-sizing: border-box;
  }

  .el-dialog.is-fullscreen {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    overflow: auto
  }

  .el-dialog__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0
  }

  .el-dialog__header {
    padding: 20px 20px 10px
  }

  .el-dialog__headerbtn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 16px
  }

  .el-dialog__headerbtn .el-dialog__close {
    color: $obModal-dialog_headerbtn_color
  }

  .el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
    color: $obModal-dialog_headerbtn_color_focus
  }

  .el-dialog__title {
    line-height: 24px;
    font-size: 18px;
    color: $obModal-dialog_title_color
  }

  .el-dialog__body {
    padding: 30px 20px;
    color: $obModal-dialog_body_color;
    font-size: 14px;
    p {
      word-break: break-all
    }
  }

  .el-dialog__footer {
    padding: 10px 20px 20px;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  .el-dialog--center {
    text-align: center
  }

  .el-dialog--center .el-dialog__body {
    text-align: initial;
    padding: 25px 25px 30px
  }

  .el-dialog--center .el-dialog__footer {
    text-align: inherit
  }

  .dialog-fade-enter-active {
    -webkit-animation: dialog-fade-in .3s;
    animation: dialog-fade-in .3s
  }

  .dialog-fade-leave-active {
    -webkit-animation: dialog-fade-out .3s;
    animation: dialog-fade-out .3s
  }

  @-webkit-keyframes dialog-fade-in {
    0% {
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
      opacity: 0
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1
    }
  }

  @keyframes dialog-fade-in {
    0% {
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
      opacity: 0
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1
    }
  }

  @-webkit-keyframes dialog-fade-out {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1
    }
    100% {
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
      opacity: 0
    }
  }

  @keyframes dialog-fade-out {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1
    }
    100% {
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
      opacity: 0
    }
  }
</style>
