<template>
  <div
    :class="['ob-draggable', {'is-dragging': isDragging}]"
    :data-qa="dataQa"
    draggable
    @mousedown="onMouseDown"
    @dragstart.self="onDrag"
    @dragend.self="onDragEnd"
    @dragover.prevent
    @dragenter.prevent
  >
    <div class="drag-wrap">
      <i :class="['icon', icon]" />
    </div>
    <div class="drag-content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ObDrag',

  props: {
    transferData: {
      type: Object,
      default: () => {
        return {
          currentIndex: 0
        }
      }
    },

    icon: {
      type: String,
      default: 'move'
    },

    dataQa: {
      type: String
    }
  },

  data () {
    return {
      isDragging: false,
      stopDragging: false
    }
  },

  methods: {
    onMouseDown (e) {
      const target = Array.from(e.target.classList)
      if (!target.includes('move')) {
        this.stopDragging = true
      } else {
        this.stopDragging = false
      }
    },

    onDrag (e) {
      if (!this.stopDragging) {
        this.isDragging = true
        e.dataTransfer.effectAllowed = 'move'
        e.dataTransfer.dropEffect = 'move'
        e.dataTransfer.setData('payload', JSON.stringify(this.transferData))
        setTimeout(() => {
          e.target.style.opacity = '0.5'
        }, 0)
      } else {
        e.preventDefault()
      }
    },

    onDragEnd (e) {
      this.isDragging = false
      e.target.style.opacity = '1'
    }
  }
}
</script>

<style lang="scss" scoped>
.ob-draggable {
  display: flex;
  align-items: center;
}

.drag-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: $color-grey-border;
  cursor: grab;
}

.drag-content {
  flex-grow: 1;
}

.icon.move:before {
  color: $color-grey-border;
}

.is-dragging {
  background-color: transparent;
  margin: 0;

  .drag-content {
    box-shadow: 0px 4px 16px rgba($color-blue-navy-blue, 0.2);
    background-color: transparent;
  }
}
</style>
