<template>
  <transition name="fade">
    <div
      v-if="isShow"
      class="preloader"
    >
      <div
        class="loader"
        :class="borderClass"
        :style="sizeStyle"
      />
    </div>
  </transition>
</template>

<script>
export default {
  name: 'ObLoader',
  props: {
    size: {
      type: Number,
      default: 40
    },
    delay: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      isShow: false
    }
  },
  computed: {
    borderClass () {
      return this.size < 65 ? 'loader-border' : ''
    },
    sizeStyle () {
      return {
        'width': this.minSize() + 'px',
        'height': this.minSize() + 'px'
        // 'margin-top': -(this.minSize() / 2) + 'px',
        // 'margin-left': -(this.minSize() / 2) + 'px'
      }
    }
  },
  mounted () {
    if (this.delay) {
      setTimeout(() => {
        this.isShow = true
      }, this.delay)
    } else {
      this.isShow = true
    }
  },
  methods: {
    minSize () {
      return this.size < 30 ? 30 : this.size
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "./../../static/css/variables";

  .preloader {
    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;*/
  }

  .loader {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    /*left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;*/
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: $deep-blue;
    animation: spin 2s linear infinite;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 3px solid transparent;
      border-radius: 50%;
      border-top-color: $green-800;
      animation: spin 3s linear infinite;
    }

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border: 3px solid transparent;
      border-radius: 50%;
      border-top-color: $Green-600;
      animation: spin 1.5s linear infinite;
    }
  }

  .loader-border {
    border-left-color: $deep-blue;

    &::before {
      top: 3px;
      left: 3px;
      right: 3px;
      bottom: 3px;
      border-left-color: $green-800;
    }

    &::after {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      border-left-color: $Green-600;
    }
  }

  @-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
