<template>
  <div class="ob-card-path">
    <div class="ob-card-path-container">
      <div class="ob-card-path-top-header">
        <span class="ob-card-path-top-header-tag"><i class="icon map" /><span>Самый быстрый</span></span>
      </div>
      <div class="ob-card-path-main-header">
        <div class="ob-card-path-header-price">
          {{ dots.price }} ₽
        </div>
        <div class="ob-card-path-header-info">
          <span class="ob-card-path-header-info-data">{{ startDate }} — {{ endDate }}</span>
          <span class="ob-card-path-header-info-length"> <i class="icon map" /> {{ routeLength }}, ≈ {{ routeDuration }}</span>
          <span class="ob-card-path-header-info-carrier"><i class="icon role-client" /> {{ dots.contractor }}</span>
        </div>
      </div>
      <div class="ob-card-path-content">
        <span class="ob-card-path-line" />
        <div class="ob-card-path-content-block">
          <div
            v-for="(dot, key) in dots.dots"
            :key="key"
            class="ob-card-path-dot"
          >
            <div :class="[dot.type]">
              <span
                v-if="dot.dots"
                class="ob-card-path-from-to"
              >
                <i
                  v-for="(i, index) in dot.dots"
                  :key="index"
                  :class="['icon', i == 'from'?'logchain-zagr':'logchain-razgr']"
                />
              </span>
              <span class="ob-card-path-icon"><i :class="['icon', dot.icon]" /></span>
              <span
                v-if="dot.type=='dotLocation'"
                class="dot-item"
              />
              <span
                v-if="dot.type=='dotLocation'"
                class="ob-card-path-title"
              >{{ dot.title }}</span>
              <span
                v-else
                class="ob-card-path-title"
              >
                <span class="ob-card-path-title-info">{{ dot.title }}</span>
                <span class="ob-card-path-title-count">{{ dot.count }}x</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="ob-card-path-footer">
        <span class="ob-card-path-footer-data-start">{{ dots.dots[0].date }}</span>
        <span class="ob-card-path-footer-data-end">{{ dots.dots[dots.dots.length - 1].date }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ObCardPath',
  props: {
    dots: {
      type: Object,
      default: () => {
      }
    }
  },
  data () {
    return {}
  },
  computed: {
    startDate () {
      return this.dots.startDate || '0'
    },
    endDate () {
      return this.dots.endDate || '0'
    },
    routeLength () {
      return this.dots.routeLength || '0'
    },
    routeDuration () {
      return this.dots.routeDuration || '0'
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../static/css/main.scss';
  @import "../../static/css/mixins.scss";

    .ob-card-path {
        border-radius: 4px;
        position: relative;
        width: 100%;
        display: inline-block;
        background: $background-white;
      .ob-card-path-container {
            position: relative;
            float: left;
            width: 100%;
            display: inline-block;
            .ob-card-path-top-header {
                display: inline-block;
                width: 100%;
                height: 18px;
                position: relative;
                .ob-card-path-top-header-tag {
                    position: absolute;
                    right: 1px;
                    top: 1px;
                    bottom: 1px;
                    display: inline-block;
                    background: $cornflower;
                    padding: 0 10px;
                    border-radius: 4px;
                    @include font-mixin(12px, 14px, 400, $obCardPath-label_header_font_color);
                    span {
                        margin: 5px 0 5px 5px;
                        float: left;
                    }

                    i {
                        float: left;
                        display: inline-block;
                        margin: 2px 0 0;
                        @include font-mixin(16px, 18px, 400, $obCardPath-label_header_font_color);
                    }
                }
            }
        }
        .ob-card-path-main-header {
            padding: 0 30px 0 25px;
            .ob-card-path-header-price {
              width: 180px;
              @include font-mixin(30px, 36px, 700, $shale-gray, 0);
              float:left;
            }

            .ob-card-path-header-info {
              float:left;
              margin: 7px 0;
              width: calc(100% - 180px);
                .ob-card-path-header-info-data {
                    @include font-mixin(12px, 16px, 700, $shale-gray);
                    margin: 0 15px;
                }
                .ob-card-path-header-info-length {
                    margin: 0 15px;
                    @include font-mixin(12px, 16px, 400, $color-grey-span);

                    i {
                        color: $color-blue-navy-blue;
                    }

                    span {
                    }
                }

                .ob-card-path-header-info-carrier {
                  float:right;
                    @include font-mixin(12px, 16px, 400, rgba(#151743, 0.6));

                    i {
                        color: $color-blue-navy-blue;
                    }

                    span {
                    }
                }
            }
        }
        .ob-card-path-footer {
          display: inline-block;
          width: 100%;
          position: relative;
          float: left;
          padding: 0 30px 0 25px;
          .ob-card-path-footer-data-start {
            float: left;
            @include font-mixin(12px, 16px, 400, $shale-gray);
          }
          .ob-card-path-footer-data-end {
            float: right;
            @include font-mixin(12px, 16px, 400, $shale-gray);
          }
        }
      .ob-card-path-content{
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 0 25px;
        .ob-card-path-content-block{
          position: relative;
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 10px;
          .ob-card-path-dot {
            display: inline-block;
            position: relative;
            .ob-card-path-from-to{
              position: absolute;
              top: -22px;
              display: inline-block;
              width:100%;
              font-size: 26px;
              text-align: center;
              z-index: 2;
              i{
                display: inline-block;
                width: 5px;
                height: 18px;
                z-index: 10;
                letter-spacing: 0;
                position: relative;
                &:before{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
            &:last-child{
              .dotLocation{
                .ob-card-path-from-to{
                  text-align: right;
                  margin-right: 10px;
                }
                .dot-item,
                .ob-card-path-icon,
                .ob-card-path-title {
                  text-align: right;
                }
                .dot-item{
                  right:0;
                  left: auto;
                }
              }
            }
            &:first-child{
              .dotLocation {
                .ob-card-path-from-to{
                  text-align: left;
                }
                .ob-card-path-icon,
                .ob-card-path-title {
                  text-align: left;
                }
                .dot-item{
                  left:0;
                }
              }
            }
            .ob-card-path-icon {
             display: inline-block;
              width: 100%;
              text-align: center;
            }
            .dotLocation,
            .dotAuto{
              position: relative;
            }
            .dotAuto {
              display: inline-block;
              .ob-card-path-icon {
                i {
                  color:$color-grey-span;
                  font-size: 19px;
                }
              }
              .ob-card-path-title{
                text-align: center;
                display: inline-block;
                @include font-mixin(10px, 10px, 400, $color-text-base, 1px);
                .ob-card-path-title-count{
                  display: inline-block;
                  border: 1px solid $color-grey-border;
                  background: $background-white;
                  border-radius: 9px;
                  z-index: 2;
                  padding: 2px 4px 3px;
                  float:left;
                }
                .ob-card-path-title-info{
                  display: inline-block;
                  background: $background-white;
                  border: 1px solid $color-grey-border;
                  border-radius: 5px;
                  margin-left:-10px;
                  padding: 2px 5px 3px 15px;
                  z-index: 1;
                  float:right;
                }
              }
            }

            .dotLocation {
              display: inline-block;
              margin: 35px 0 0;
              .dot-item{
                position: absolute;
                width:6px;
                height: 6px;
                border-radius: 100%;
                background: #B0C6E7;
                top: -9px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
              }
              .ob-card-path-icon {
                i {
                  color:$color-grey-span;
                  font-size:20px;
                }
              }
              .ob-card-path-title {
                width: 100%;
                display: inline-block;
                text-align: center;
                text-transform: uppercase;
                @include font-mixin(10px, 12px, 700, $shale-gray, 1px);
              }
            }
          }
        }
        .ob-card-path-line{
          margin: 28px 0 0;
          position: absolute;
          top:0;
          left:25px;
          right: 25px;
          display: block;
          height: 2px;
          border-bottom: 2px dotted $cornflower-craiola;
        }
      }
    }
</style>
