<template>
  <div
    v-if="modifiedColumns.length"
    ref="container"
    class="ob-table-inner"
    :class="{
      'tb_showMore': isShowMore,
      'tb_footer': functionalPanel,
      'th_header':!footerDisabled && sortedItems.length,
      '--with-data': Boolean(currentItems.length),
      '--with-pagination': showPagination,
      '--only-body': isLoadingWithNoneContentSlot
    }"
  >
    <ob-func-panel
      v-if="functionalPanel"
      :columns="modifiedColumns"
      :show-add-button="showAddButton"
      :show-edit="showEdit"
      :show-refresh="showRefresh"
      :filter-buttons="filterButtons"
      :add-buttons="addButtons"
      @on-change-filter-button="onChangeFilterButton"
      @search="onSearch"
      @add="onAdd"
      @onEdit="onEdit"
      @onRefresh="onRefresh"
      @toggle-column-visibility="onToggleColumnVisibility"
    />
    <div
      ref="tableItemObj"
      v-scroll="handleTableScroll"
      class="table-panel-inner"
      :class="{'table-panel-inner_isLoading' : isLoading}"
      :style="tablePanelInnerStyle"
    >
      <transition
        v-if="isLoading"
        name="fade"
      >
        <div class="ob-table-inner__loader-row">
          <div class="ob-table-inner__loader-column">
            <ob-loader
              :size="80"
              :delay="1000"
            />
          </div>
        </div>
      </transition>
      <table
        v-update="handleHeaderUpdate"
        :class="['table-header',{'fixed': isFixedHeader}]"
        :style="[{'table-layout': tableLayoutFixed ? 'fixed' : 'auto'},tableHeaderStyle]"
      >
        <ob-header-table
          :filtered-columns="filteredColumns"
          :table-header-width="tableHeaderWidth"
          :uuid-table="uuidTable"
          @onSort="onSorting"
        />
      </table>
      <div
        v-if="!sortedItems.length && !isLoading"
        class="table-empty"
      >
        <template v-if="search">
          По запросу
          <span style="color: #333;">"{{ search }}"</span>
          ничего не найдено
        </template>
        <template v-else>
          Нет данных для отображения
        </template>
      </div>
      <table
        v-else
        ref="tableDataObj"
        v-update="handleBodyUpdate"
        class="table-data"
      >
        <template v-if="!groupsList || !groupsList.length">
          <ob-table-row
            v-for="(data, index) in currentItems"
            :key="index"
            :data="data"
            :options-save-item="optionsSaveRow"
            :filtered-columns="filteredColumns"
            class="data-row"
            :class="{'row-selected': data._isSelected}"
            @onSelect="onSelect(data)"
          >
            <div
              v-for="(slot, indexSlot) in filteredColumnsItems"
              :slot="slot.slotName"
              :key="indexSlot"
              :slot-scope="data"
            >
              <slot
                :name="slot.slotName"
                :data="data"
              />
            </div>
          </ob-table-row>
        </template>
        <template v-else>
          <tbody
            v-for="(group, i) in groupCurrentList"
            :key="i"
            :class="groups[i] && !groups[i].opened && '--closed'"
          >
            <tr @click="toggleGroup(i)">
              <td :colspan="columns.length">
                <div class="groups-header">
                  <i
                    class="icon"
                    :class="groups[i] && groups[i].opened ? 'chevron-down' : 'chevron-up'"
                  />
                  <div>
                    <template v-if="groupTitleHtml">
                      <span v-html="groupTitleHtml(group.value)" />
                    </template>
                    <template v-else>
                      {{ group.value }}
                    </template>
                  </div>
                </div>
              </td>
            </tr>
            <ob-table-row
              v-for="(data, index) in groupCurrentList[i].items"
              :key="index"
              :filtered-columns="filteredColumns"
              :data="data"
              :options-save-item="optionsSaveRow"
              class="data-row groups-row"
              :class="{'row-selected': data._isSelected}"
              @onSelect="onSelect(data)"
            >
              <div
                v-for="(slot, indexSlot) in filteredColumnsItems"
                :slot="slot.slotName"
                :key="indexSlot"
                :slot-scope="data"
              >
                <slot
                  :name="slot.slotName"
                  :data="data"
                />
              </div>
            </ob-table-row>
          </tbody>
        </template>
      </table>
    </div>
    <div
      v-if="!footerDisabled && sortedItems.length"
      class="table-footer"
    >
      <div class="total-count">
        Всего: {{ totalCount }}
      </div>
      <ObPagination
        :page="page"
        :count="totalCount"
        :page-limit="pageLimit"
        :is-page-input="true"
        @on-change="onChangePage"
      />
    </div>
    <transition name="fade">
      <div
        v-if="isShowNoneDataSlot"
        class="none-data-slot"
      >
        <slot name="noneContent" />
      </div>
    </transition>
  </div>
</template>
<script>
import ObPagination from '../obPagination'
import ObFuncPanel from '../../obComponents/obFuncPanel'
import { uuid } from 'vue-uuid'
import ObLoader from '../obLoader'
import ObHeaderTable from './componentsTable/tableHeader'
import ObTableRow from './componentsTable/tableRow'

export default {
  name: 'ObTable',
  directives: {
    scroll: {
      inserted: function (el, binding) {
        let f = function (evt) {
          binding.value(evt, el)
        }
        el.addEventListener('scroll', f)
      }
    },
    update: {
      update: function (el, binding) {
        binding.value(el)
      }
    }
  },
  components: {
    ObFuncPanel,
    ObPagination,
    ObLoader,
    ObHeaderTable,
    ObTableRow
  },
  props: {
    isFixedHeader: {
      type: Boolean,
      default: () => false
    },
    tableHeight: {
      type: Number,
      default: null
    },
    items: {
      type: Array,
      default: () => []
    },
    columns: {
      type: Array,
      required: true
    },
    functionalPanel: {
      type: Boolean,
      default: () => false
    },
    showAddButton: {
      type: Boolean,
      default: () => false
    },
    addButtonText: {
      type: String,
      default: () => 'Добавить'
    },
    footerDisabled: {
      type: Boolean,
      default: false
    },
    isCssSelectable: {
      type: Boolean,
      default: false
    },
    tableLayoutFixed: {
      type: Boolean,
      default: true
    },
    remoteOpt: {
      type: [Function, Object],
      default: null
    },
    remoteTrigger: {
      type: [String, Number, Object, Boolean],
      default: undefined
    },
    pageLimit: {
      type: [Number, String],
      default: 20
    },
    showEdit: {
      type: Boolean,
      default: false
    },
    showRefresh: {
      type: Boolean,
      default: false
    },
    // for standalone func-panel
    searchQuery: {
      type: String,
      default: ''
    },
    groupBy: {
      type: String,
      default: null
    },
    groupTitleHtml: {
      type: Function,
      default: null
    },
    sortInit: {
      type: String,
      default: null
    },
    filterButtons: {
      type: Array,
      default: () => []
    },
    loading: {
      type: Boolean,
      default: false
    },
    addButtons: {
      type: Array
    },
    optionsSaveRow: {
      type: Object,
      default: () => {
      }
    }
  },
  data () {
    return {
      tableHeaderWidth: [],
      tableHeaderHeight: 0,
      tableHeaderTop: 0,
      activeItems: {
        prev: {},
        active: this.activeItem,
        next: {}
      },
      activeItem: {},
      search: this.searchQuery,
      sort: {
        key: null,
        type: null,
        direction: false
      },
      modifiedColumns: [],
      localItems: [],
      selectableItems: [],
      prevTrigger: undefined,
      firstLoad: true,
      isLocalLoading: true,
      page: 0,
      count: 0,
      isShowMore: false,
      groups: {},
      uuidTable: uuid.v4()
    }
  },
  computed: {
    filteredColumnsItems () {
      return this.filteredColumns.filter((i) => {
        return i.slotName
      })
    },
    tablePanelInnerStyle () {
      let res = {}
      if (this.isFixedHeader) {
        res.paddingTop = `${this.tableHeaderHeight - 1}px`
      }
      if (this.tableHeight) {
        res.height = `${this.tableHeight}px`
      }
      return res
    },
    tableHeaderStyle () {
      let res = {}
      if (this.isFixedHeader) {
        res.top = `${this.tableHeaderTop}px`
      }
      return res
    },
    isLoading () {
      return this.isLocalLoading || this.loading
    },
    currentList () {
      return this.localItems && this.localItems.length ? this.localItems : this.items
    },
    groupsList () {
      if (!this.groupBy) return null
      return Array.from(new Set(this.currentItems.map(item => item.item[this.groupBy]))).map(item => item)
    },
    groupCurrentList () {
      if (!this.groupBy) return null
      let result = []
      this.groupsList.forEach((item) => {
        let obj = {
          value: item,
          items: this.currentItems.filter(data => data.item[this.groupBy] === item)
        }
        result.push(obj)
      })
      return result
    },
    isRemote () {
      return this.isRemoteFunction || this.isRemoteObject
    },
    isRemoteFunction () {
      return this.remoteOpt && typeof this.remoteOpt === 'function'
    },
    isRemoteObject () {
      return this.remoteOpt && typeof this.remoteOpt === 'object' && this.remoteOpt.method
    },
    remoteTriggerStatus () {
      return this.remoteTrigger === undefined || this.remoteTrigger
    },
    isLoadReady () {
      return this.remoteTriggerStatus && this.isRemote
    },
    isChangeTrigger () {
      return this.remoteTrigger !== this.prevTrigger && this.remoteTrigger !== undefined && this.prevTrigger !== undefined
    },

    keys: ({ modifiedColumns }) => modifiedColumns
      .filter(column => column._isEnabled && !column.hasOwnProperty('html'))
      .map(column => column.key),

    itemsHaveAllProperties: ({ currentList, keys }) => currentList.every(item => keys.every(key => item.hasOwnProperty(key))),

    filteredColumns: ({ modifiedColumns }) => modifiedColumns.filter((column) => {
      column.isChange = false
      column.isFocus = false
      return column._isEnabled
    }),

    currentItems: ({ sortedItems, page, pageLimit, selectableItems, isRemote }) => {
      if (isRemote) return selectableItems
      let start = page * pageLimit
      let end = (page + 1) * pageLimit
      return sortedItems.slice(start, end)
    },
    filteredItems: ({ selectableItems, search, filteredColumns, isRemote }) => {
      return search && !isRemote ? selectableItems.filter(data => {
        let filteredArr = []
        filteredColumns.forEach(column => {
          if (!column.hasOwnProperty('slotName')) {
            filteredArr.push(column.hasOwnProperty('html') ? column.html(data.item).replace(/<[^>]*>?/gm, '').replace(/\s\s+/g, ' ').trim() : data.item[column.key])
          }
        })
        return filteredArr.some(value => {
          return typeof value !== 'object' && typeof value !== 'undefined' ? value.toString().toLowerCase().includes(search.toLowerCase()) : false
        })
      }) : selectableItems
    },
    sortedItems: ({ sort, filteredItems, isRemote }) => {
      return sort.key && !isRemote ? filteredItems.sort((a, b) => {
        const first = sort.direction ? a : b
        const second = sort.direction ? b : a

        switch (sort.type) {
          case 'datetime':
            return new Date(first.item[sort.key]) - new Date(second.item[sort.key])
          default:
            return (second.item[sort.key] > first.item[sort.key]) - (second.item[sort.key] < first.item[sort.key])
        }
      }) : filteredItems
    },
    totalCount () {
      return this.isRemote ? this.count : this.sortedItems.length
    },
    showPagination () {
      return Math.ceil(this.totalCount / +this.pageLimit) > 1
    },
    isShowNoneDataSlot () {
      return Boolean(this.$slots.noneContent) && !this.search && !this.localItems.length
    },
    isLoadingWithNoneContentSlot () {
      return this.isLoading && Boolean(this.$slots.noneContent) && !this.search && !this.localItems.length
    }
  },
  watch: {
    remoteTrigger (val) {
      if (val && this.isChangeTrigger) {
        this.loadData({ init: true })
      }
    },
    items (val) {
      this.selectableItems = this.items.map(item => {
        return { item, _isSelected: false }
      })
    },
    localItems () {
      this.selectableItems = this.localItems.map(item => {
        return { item, _isSelected: false }
      })
    },

    columns: {
      immediate: true,
      deep: true,

      handler (columns) {
        this.modifiedColumns = this.columns.map(column => {
          return {
            ...column,
            uuid: column.hasOwnProperty('uuid') ? column.uuid : uuid.v4(),
            _isEnabled: column.hasOwnProperty('_isEnabled') ? column._isEnabled : true
          }
        })
      }
    },

    searchQuery (query) {
      this.handleSearch(query)
    },
    groupsList (val) {
      this.initGroups(val)
    }
  },
  created () {
    this.$eventGlobal.$on('tableNextRow', this.tableNextRows)
    this.$eventGlobal.$on('tablePrevRow', this.tablePrevRows)
    this.modifiedColumns = this.columns.map(column => {
      return {
        ...column,
        uuid: column.hasOwnProperty('uuid') ? column.uuid : uuid.v4(),
        _isEnabled: column.hasOwnProperty('_isEnabled') ? column._isEnabled : true
      }
    })

    if (this.items.length) {
      this.selectableItems = this.items.map(item => {
        return { item, _isSelected: false }
      })
    }

    if (!this.itemsHaveAllProperties) {
      console.warn(`ob-table: Object properties don't match columns fields (missing prop)`)
    }
  },
  mounted () {
    this.$nextTick(function () {
      this.resize()
    })
    window.addEventListener('resize', this.resize)
    this.checkInitParams()
    this.$nextTick(async () => {
      await this.loadData({ init: true })
      this.initGroups(this.groupsList)
    })
    this.isShowMore = this.$refs.tableItemObj.clientWidth < 1100
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.resize)
  },
  methods: {
    onChangeFilterButton (e) {
      if (!this.filterButtons.length) return
      this.$emit('on-change-filter-button', e)
    },
    resize () {
      this.handleBodyUpdate(this.$refs.tableDataObj)
    },
    handleHeaderUpdate: function (el) {
      this.tableHeaderHeight = el.offsetHeight
    },
    compareArray (a1, a2) {
      return a1.length === a2.length && a1.every((v, i) => v === a2[i])
    },
    handleBodyUpdate: function (el) {
      let row = el.getElementsByClassName('data-row')[0]
      if (row) {
        let tw = []
        for (let i = 0; i < row.cells.length; i++) {
          tw.push(row.cells[i].offsetWidth)
        }
        if (!this.compareArray(tw, this.tableHeaderWidth)) {
          this.tableHeaderWidth = tw
        }
      }
    },
    handleTableScroll: function (evt, el) {
      this.tableHeaderTop = el.scrollTop
    },
    getUpdateActives () {
      for (let i in this.currentItems) {
        let itemActive = this.currentItems[i].item
        let num = Number(i)
        if (itemActive.uuid === this.activeItem.uuid) {
          this.activeItems.next = this.currentItems[num + 1] ? this.currentItems[num + 1].item : null
          this.activeItems.prev = this.currentItems[num - 1] ? this.currentItems[num - 1].item : null
        }
      }
      if (!this.activeItems.next) {
        this.$eventGlobal.$emit('hideArrowNext')
      } else {
        this.$eventGlobal.$emit('showArrowNext')
      }
      if (!this.activeItems.prev) {
        this.$eventGlobal.$emit('hideArrowPrev')
      } else {
        this.$eventGlobal.$emit('showArrowPrev')
      }
    },
    tableNextRows () {
      this.obNextEl = this.activeItems.next
      if (this.obNextEl) {
        this.activeItem = this.obNextEl
        this.getUpdateActives()
        this.$emit('select', this.activeItem)
      }
    },
    tablePrevRows () {
      this.obPrevEl = this.activeItems.prev
      if (this.obPrevEl) {
        this.activeItem = this.obPrevEl
        this.getUpdateActives()
        this.$emit('select', this.activeItem)
      }
    },
    checkInitParams () {
      if (this.sortInit) {
        let sortParams = this.sortInit.split(':')
        this.sort = {
          key: sortParams[0],
          direction: sortParams[1] || false,
          type: sortParams[2] || null
        }
      }
    },
    initGroups (val) {
      this.groups = []
      if (val && val.length) {
        val.forEach((item, index) => {
          this.$set(this.groups, [index], {
            opened: true,
            value: item
          })
        })
      }
    },
    toggleGroup (index) {
      this.groups[index].opened = !this.groups[index].opened
    },
    onSearch (query) {
      this.handleSearch(query)
    },
    handleSearch (query) {
      if (query === this.search) return
      if (this.isRemote) {
        this.loadData({ init: true, search: query })
      } else {
        this.search = query
        this.page = 0
      }
    },
    onAdd (item) {
      this.$emit('add', item)
    },
    onEdit () {
      this.$emit('onEdit')
    },
    onRefresh () {
      this.$emit('onRefresh')
    },
    onChangePage (page) {
      if (page !== this.page) {
        this.page = page
        this.loadData()
      }
    },
    onToggleColumnVisibility (column) {
      this.modifiedColumns.find(col => col.uuid === column.uuid)._isEnabled = column._isEnabled
    },
    async loadData ({ concat = false, init = false, page, sort, search } = {}) {
      this.isLocalLoading = true
      if (this.isLoadReady) {
        let promise = this.isRemoteFunction ? this.remoteOpt : this.remoteOpt.method
        let res = await promise(({ ...this.getRequestParams({ search, init, page, sort }) }))
        if (!res || res.error) {
          res = this.localItems
        }
        if (res && typeof res === 'object' && Object.keys(res).length === 1 && res.data) {
          res = res.data
        }

        let result = res
        let customKeyContent = this.isRemoteObject ? this.remoteOpt.contentKey : null
        if (result && !Array.isArray(result)) {
          result = (customKeyContent && result[customKeyContent]) || result.content || result.values || []
        } else if (!result) {
          result = []
        }

        if (init) {
          this.page = 0
        }
        this.count = res && (res.total_elements || res.totalElements || null)
        this.localItems = concat ? this.localItems.concat(result) : result
        this.prevTrigger = this.remoteTrigger
        this.firstLoad = false
        this.search = search !== undefined ? search : this.search
        this.$emit('on-load-list', this.localItems)
      } else {
        if (!this.isRemote) {
          this.localItems = this.items || []
        }
      }

      this.isLocalLoading = false
    },
    getRequestParams ({ search, init, page, sort } = {}) {
      if (init) {
        page = 0
      } else {
        page = page !== undefined ? page : this.page
      }
      if (sort === undefined) {
        sort = this.sort
      }
      let params = {
        query: search !== undefined ? search : this.search,
        page: page,
        size: this.pageLimit,
        total: this.count
      }
      if (sort && sort.key) {
        params.sort = `${sort.key},${sort.direction ? 'desc' : 'asc'}`
      }
      let userArguments = {}

      if (this.isRemoteObject && this.remoteOpt.arguments) {
        userArguments = this.remoteOpt.arguments
      }
      return {
        ...params,
        ...userArguments
      }
    },
    onSelect (data) {
      this.$emit('select', data.item)
      this.activeItem = data.item
      this.getUpdateActives()
      if (this.isCssSelectable) {
        this.deselect()
        data._isSelected = true
      }
    },
    deselect () {
      this.selectableItems.forEach(item => {
        item._isSelected = false
      })
    },
    onSorting (objSort) {
      this.sort = objSort
      if (this.isRemote) {
        this.loadData({ sort: this.sort })
      }
    },
    getTableCellHtml (item, column) {
      return column.html
        ? this.markWithSearchQuery(column.html(item))
        : item.hasOwnProperty(column.key)
          ? this.markWithSearchQuery(item[column.key])
          : '<div class="missing-property">missing property</div>'
    },
    markWithSearchQuery (cellHtml) {
      // Not an empty string, false, null etc
      if (typeof cellHtml !== 'object' && typeof cellHtml !== 'undefined') {
        cellHtml = cellHtml.toString()

        const cleanString = cellHtml.replace(/<[^>]*>?/gm, '').replace(/\s\s+/g, ' ').trim()

        let reg = `(${this.search})`
        let regex = new RegExp(reg, 'i')

        if (!cleanString.match(regex)) {
          return cellHtml
        }

        let matchStartPosition = cleanString.match(regex).index
        let matchEndPosition = matchStartPosition + cleanString.match(regex)[0].toString().length
        let originalTextFoundByRegex = cleanString.substring(matchStartPosition, matchEndPosition)
        cellHtml = cellHtml.replace(regex, `<mark>${originalTextFoundByRegex}</mark>`)
      }

      return cellHtml
    },

    onTableCellClick (e, item, column) {
      if (column.action) {
        e.stopPropagation()
        column.action(item)
      }
    },

    getColumnStyle (column) {
      return {
        width: `${column.width}px` || 'auto'
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  @import "../../static/css/table-style";
</style>
