<template>
  <div v-if="periodModal">
    <div class="ob-datetime__container">
      <div v-if="hasTypeOfShipment">
        <div
          v-for="(type, index) in typesOfShipment"
          :key="index"
        >
          <ObRadio
            v-model="form.typeOfShipment"
            :label="type.label"
            :value-input="type.value"
            :class="{
              __active: form.typeOfShipment === type.value
            }"
          />
          <hr>
        </div>
      </div>
      <p class="ob-datetime__container--title">
        Дата и время
      </p>
      <div class="ob-datetime__content">
        <div @click="openModal('periodModal', 'dateModal')">
          <obInput
            v-model="form.dateValue"
            class="input__date"
            placeholder="дд.мм.гггг"
            label="Дата"
          />
        </div>
        <div @click="openModal('periodModal', 'timeModal')">
          <obInput
            v-model="form.timeValue"
            class="input__time"
            placeholder="чч.мм"
            label="Время"
            icon="chevron-down"
          />
        </div>
      </div>
    </div>
    <div class="ob-datetime__footer">
      <hr class="ob-datetime__footer--line">
      <obButton
        class="ob-datetime__footer--button"
        :label="buttonText"
        :disabled="!arePeriodCompleted"
        @click="$emit('select-period', form)"
      />
    </div>
  </div>
  <div v-else-if="dateModal">
    <div>
      <Datepicker
        :format="format"
        :inline="true"
        :language="langsOfCalendar[`${language}`]"
        :full-month-name="true"
        :monday-first="true"
        :disabled-dates="disabledDates"
        @selected="selectDate"
      />
    </div>
  </div>
  <div v-else-if="timeModal">
    <div>
      <div
        v-for="timeItem in timeItems"
        :key="timeItem.uuid"
        class="ob-datetime__timelist"
        @click="selectTime(timeItem)"
      >
        <span>{{ timeItem.title }}</span>
        <hr>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import Datepicker from 'vuejs-datepicker'
import { en, ru } from 'vuejs-datepicker/dist/locale'
import obInput from '../obInput'
import obButton from '../obButton'
import ObRadio from '../obRadio/index.vue'

export default {
  name: 'DateTimePicker',
  components: {
    obInput,
    obButton,
    ObRadio,
    Datepicker
  },
  props: {
    hasTypeOfShipment: {
      type: Boolean,
      default: true
    },
    typesOfShipment: {
      type: Array,
      default: () => {
        return [
          {
            label: 'Погрузка',
            value: 'loading'
          },
          {
            label: 'Отгрузка',
            value: 'shipping'
          }
        ]
      }
    },
    selectedTypeOfShipment: {
      type: String,
      default: 'loading'
    },
    format: {
      type: String,
      default: 'dd.MM.yyyy'
    },
    language: {
      type: String,
      default: 'ru'
    },
    langsOfCalendar: {
      type: Object,
      default: () => {
        return { en, ru }
      }
    },
    disabledDates: {
      type: Object,
      default: () => {
        return { to: new Date() }
      }
    },
    buttonText: {
      type: String,
      default: 'Выбрать'
    }
  },
  data () {
    return {
      periodModal: true,
      dateModal: false,
      timeModal: false,
      timeItems: [],
      form: {
        dateValue: '',
        timeValue: '',
        typeOfShipment: this.selectedTypeOfShipment
      }
    }
  },
  computed: {
    arePeriodCompleted () {
      return Boolean(this.form.dateValue && this.form.timeValue)
    }
  },
  async created () {
    let startPoint = 0
    for (let i = startPoint; i < 48; i++) {
      this.timeItems.push(this.getTimeItem(i))
    }
  },
  methods: {
    openModal (page, nextPage) {
      this[`${page}`] = false
      this[`${nextPage}`] = true
    },
    closeModal (page, prevPage) {
      this[`${page}`] = false
      this[`${prevPage}`] = true
    },
    selectDate ($event) {
      this.form.dateValue = moment($event).format(this.format.toUpperCase())
      this.closeModal('dateModal', 'periodModal')
    },
    selectTime (time) {
      this.form.timeValue = time.title
      this.closeModal('timeModal', 'periodModal')
    },
    getTimeItem (ind) {
      if (ind % 2 === 0) {
        return {
          uuid: ind < 20 ? `0${ind / 2}:00` : `${ind / 2}:00`,
          title: ind < 20 ? `0${ind / 2}:00` : `${ind / 2}:00`
        }
      } else {
        return {
          uuid: ind < 20 ? `0${(ind / 2).toFixed(0) - 1}:30` : `${(ind / 2).toFixed(0) - 1}:30`,
          title: ind < 20 ? `0${(ind / 2).toFixed(0) - 1}:30` : `${(ind / 2).toFixed(0) - 1}:30`
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
.ob-datetime {
  &__header {
    position: relative;
    height: 64px;
    background-color: $white;
    color: $white;
    letter-spacing: 0.4px;
    text-align: center;
    box-shadow: 0 4px 16px rgba($dark-navy, 0.4);
    &--title {
      line-height: 12px;
      font-size: 16px;
      letter-spacing: 0.4px;
      padding-top: 25px;
      color: $color-text-base;
      font-weight: bold;
    }

    .link-back {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 26px;
      cursor: pointer;
      left: 20px;
      color: $color-blue-navy-blue;
    }

    .plus {
      font-size: 24px;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(0, -50%);
      color: $color-blue-navy-blue;
    }
  }

  &__container {
    padding: 0px 15px 0px;
    display: inline-block;
    &--name {
      margin-top: 20px;
    }
    &--title {
      line-height: 12px;
      font-size: 18px;
      letter-spacing: 0.4px;
      padding-top: 35px;
      color: $color-text-base;
      font-weight: bold;
    }
    .disabled {
      pointer-events: none;
    }
  }

  &__timelist {
    background: $white;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0.2px;
    span {
      padding: 20px 0px 0px 20px;
    }
    hr {
      margin-top: 5px;
    }
  }

  &__footer {
    padding: 0px 20px 20px;
    &--line {
      right: 10px;
      left: 10px;
      bottom: 80px;
      position: absolute;
    }
    &--button {
      position:absolute;
      bottom: 20px;
      width: 90% !important;
    }
  }

  &__content {
    display: inline-flex;
    .input__time {
      margin-left: 20px;
    }
    .input__date, .input__time {
      width: 135px;
    }
  }
}

hr {
  height: 1px;
  border: none;
  background-color: $gray-200;
}

::v-deep {
  .input-block {
    color: $color-text-base;
  }

  .ob-selector {
    margin-top: 20px;
  }

  .ob-input-wrap {
    margin-top: 20px;
  }

  .ob-button-container {
    width: 100%;
    border-radius: 10px;
    background-color: $color-blue-navy-blue;
    color: $style-white;
    &.disabled {
      background-color: $gray-200;
    }
  }

  .ob-radio-container {
    label {
      margin: 20px 0;
    }
    span {
      font-size: 16px;
      letter-spacing: 0.2px;
      color: $Grey-300;
      margin-left: 15px;
    }
    &.__active {
      span {
        color: $color-text-base;
      }
    }
  }

  .vdp-datepicker {
    margin-top: 40px;
  }

  .vdp-datepicker__calendar {
    width: auto;
    border: none;

    .day__month {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.4px;
    }

    .day-header {
      font-size: 14px !important;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      color: $Grey-300;
    }

    .day {
      font-size: 16px !important;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      padding: 8px;
      &.disabled {
        color: $gray-window;
        background: $color-white-lilac ;
        border-radius: 3px;
      }
    }

    .day__month_btn {
      font-size: 16px;
    }
  }
}
</style>
