<template>
  <div class="ob-order-template">
    <div class="ob-order-template-header">
      <div class="ob-order-template-header-left">
        <div class="ob-order-template-header-left-number ">
          <span class="ob-order-template-header-left-number-title">Номер заказа</span>
          <span class="ob-order-template-header-left-number-content">{{ orderId }}</span>
        </div>
        <div class="ob-order-template-header-left-tab">
          <ob-breadcrumbs
            :data="breadcrumbs"
            :data-qa="dataQa"
            @click="changeTab"
          />
        </div>
      </div>
      <div class="ob-order-template-header-right">
        <div class="ob-order-template-header-right-date">
          <span
            v-if="dateAndType"
            class="ob-order-template-header-right-date-title"
          >
            {{ type[dateAndType.type] }}
          </span>
          <span
            v-if="dateAndType"
            class="ob-order-template-header-right-date-content"
          >
            {{ new Date(dateAndType.date).toLocaleDateString() }}
          </span>
        </div>
        <div
          v-if="total"
          class="ob-order-template-header-right-total"
        >
          {{ total }}
          <span>₽</span>
        </div>
      </div>
    </div>
    <div class="ob-order-template-content">
      <div class="ob-order-template-content-left">
        <slot name="left" />
      </div>
      <div class="ob-order-template-content-right">
        <slot name="right" />
      </div>
    </div>
  </div>
</template>

<script>
import ObBreadcrumbs from '../../../obComponents/obBreadcrumbs'
export default {
  name: 'ObOrderTemplate',
  components: {
    ObBreadcrumbs
  },
  props: {
    breadcrumbs: {
      type: Array,
      default: () => []
    },
    orderId: {
      type: String,
      default: '0'
    },
    orderDate: {
      type: String
    },
    dateAndType: {
      type: Object
    },
    total: {
      type: [String, Number]
    },
    dataQa: {
      type: String
    }
  },
  data () {
    return {
      type: ['Дата погрузки', 'Дата выгрузки']
    }
  },
  methods: {
    changeTab (data) {
      this.$emit('changeTab', data)
    }
  }
}
</script>

<style scoped lang="scss">
  @import "../../../static/css/main";
  @import "../../../static/css/mixins";
  @import "../../../static/css/variables";
  $margin-container-top: 12px;
  $margin-container-bottom: 20px;
  $container-height-top: 40px;
  .ob-order-template {
    margin: $margin-container-top 20px $margin-container-bottom;
    background: $background-white;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    width: calc(100% - 40px);

    .ob-order-template-header {
      min-height: 40px;
      display: inline-block;
      width: 100%;
      position: relative;
      float: left;
      background: $background-white;
      box-shadow: 0 0 10px -4px rgba($color-blue-navy-blue,0.6);
      .ob-order-template-header-left {
        position: relative;
        width: calc(100% - 316px);
        float: left;
        .ob-order-template-header-left-number {
          display: inline-block;
          width: 130px;
          float:left;
          & > span {
            width: 100%;
            display: inline-block;
            float: left;
          }
          .ob-order-template-header-left-number-title {
            @include font-mixin(10px, 12px, 400, $color-grey-label, .4px);
          }
          .ob-order-template-header-left-number-content {
            @include font-mixin(14px, 16px, 400, $color-grey-label, .2px,  'uppercase');
          }
        }
        .ob-order-template-header-left-tab {
          display: inline-block;
          float:right;
          width: calc(100% - 130px);
          padding: 10px;
        }
      }
      .ob-order-template-header-left-number,
      .ob-order-template-header-right-date {
        min-height: $container-height-top;
        display: inline-block;
        width: 100%;
        position: relative;
        padding: 5px 12px;
      }
      .ob-order-template-header-right {
        background: $color-blue-navy-blue;
        float: right;
        width: 316px;
        display: flex;
        .ob-order-template-header-right-date {
          float: left;
          position: relative;
          width: auto;
          & > span {
            display: inline-block;
            width: 100%;
            float: left;
          }
          .ob-order-template-header-right-date-title {
            @include font-mixin(10px, 12px, 400, $color-grey-border,.4px,);
          }
          .ob-order-template-header-right-date-content {
            @include font-mixin(14px, 18px, 400, $color-white-lilac);
          }
        }
        .ob-order-template-header-right-total {
          height: 40px;
          display: flex;
          align-items: center;
          float: right;
          padding: 5px 12px;
          font-size: 24px;
          color: $lavender;
          font-weight: 700;

          span {
            margin-left: 8px;
            font-weight: 400;
          }
        }
      }
    }

    .ob-order-template-content {
      position: relative;
      float: left;
      width: 100%;
      display: inline-block;
      .ob-order-template-content-left {
        float: left;
        width: calc(100% - 316px);
        display: inline-block;
        padding-top: 15px;
      }
      .ob-order-template-content-right {
        box-shadow: 0 0 10px -4px rgba($color-blue-navy-blue,0.6);
        background: $background-white;
        display: inline-block;
        width: 316px;
        float: right;
        min-height: calc(100vh - (#{$height-top-menu} + #{$height-footer} + #{$margin-container-bottom} + #{$margin-container-top} + #{$container-height-top} + 4px));
      }
    }
  }
</style>
