<template>
  <div
    v-click-outside="close"
    class="ob-inline-select"
    :data-qa="dataQa"
    @click="showOptions = !showOptions"
  >
    <div
      class="ob-inline-select__value"
      v-html="getUnitHtml(value)"
    />
    <div class="ob-inline-select__icon">
      <i class="icon chevron-down" />
    </div>
    <transition name="fade-top">
      <div
        v-if="showOptions"
        class="ob-inline-select__options"
      >
        <span
          v-for="option in options"
          :key="option.uuid"
          :data-qa="dataQa"
          @click="setOption(option)"
          v-html="getUnitHtml(option)"
        />
      </div>
    </transition>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
  name: 'ObInlineSelect',
  directives: {
    ClickOutside
  },
  props: {
    options: {
      type: [Array, String],
      required: true
    },

    value: {
      type: [String, Object]
    },
    dataQa: {
      type: String
    }
  },
  data () {
    return {
      showOptions: false
    }
  },
  methods: {
    getUnitHtml (option) {
      return typeof option === 'object' ? option.label : option
    },
    setOption (option) {
      this.showOptions = false
      setTimeout(() => {
        this.$emit('input', option)
        this.$emit('select', option)
      }, 300)
    },
    close () {
      this.showOptions = false
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../assets/style/ob-style";

.ob-inline-select {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-bottom: 1px dashed $cobalt-blue;

  i {
    display: flex;
    margin-left: 5px;
    color: $cobalt-blue
  }
}

.ob-inline-select__value {
  display: flex;
  align-items: center;
  position: relative;
}

.ob-inline-select__options {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 100%;
  z-index: 9999;
  text-align: right;
  background-color: $background-white;
  box-shadow: 0 2px 12px 0 $obRangeSelect-options_box_shadow;
  border-radius: 4px;

  span {
    display: block;
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      background-color: $obRangeSelect-options_background_color_hover;
    }
  }
}

.fade-top-enter-active {
  transition: all .3s ease;
}
.fade-top-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-top-enter, .fade-top-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

</style>
