<template>
  <div class="ob-range">
    <div class="ob-range__header">
      <div class="ob-range__label">
        <i
          v-if="icon"
          :class="['icon', icon.name]"
        />
        {{ label }}
        <div class="ob-range__label-value">
          {{ rangeItem }}
          <span
            v-if="typeof units === 'string'"
            v-html="units"
          />
          <ob-inline-select
            v-else
            v-model="rangeUnit"
            :options="units"
            :data-qa="dataQa"
            @select="changeVal(rangeItem)"
          />
        </div>
      </div>
    </div>
    <div class="ob-range__content">
      <div class="ob-range__inputs">
        <div
          :class="['ob-range-gap', { 'is-disabled': isDisabled }]"
          :style="getGapStyle(rangeItem)"
        />
        <input
          type="range"
          :value="rangeItem"
          :min="startVal"
          :max="endVal"
          :step="step || 1"
          :disabled="isDisabled || false"
          :data-qa="dataQa"
          @input="changeVal($event.target.value)"
        >
      </div>
    </div>
  </div>
</template>

<script>
import obInlineSelect from './obInlineSelect'

const colorsMap = {
  blue: '#004BC8',
  lavender: '#E5EDF9',
  green: '#0DA577',
  red: '#C6343F',
  yellow: '#E7A031',
  purple: '#8968AE'
}

export default {
  name: 'ObRangeSelect',

  components: {
    obInlineSelect
  },

  props: {
    value: {
      type: [Number, Object],
      required: true
    },

    startVal: {
      type: Number,
      required: false,
      default: 0
    },

    onlyVal: {
      type: Boolean,
      default: false
    },

    endVal: {
      type: Number,
      required: false,
      default: 100
    },

    units: {
      type: [Array, String],
      required: false
    },

    icon: {
      type: Object,
      required: false
    },

    label: {
      type: String,
      required: false
    },

    isDisabled: {
      type: Boolean,
      required: false,
      default: () => false
    },

    step: {
      type: Number,
      required: false,
      default: 1
    },

    color: {
      type: String,
      required: false,
      default: 'blue'
    },
    dataQa: {
      type: String
    }
  },

  data () {
    return {
      localItem: typeof this.value === 'number' ? this.value : this.value.value,
      rangeUnit: {
        label: 'кг',
        uuid: 2
      }
    }
  },

  computed: {
    rangeItem () {
      return this.itemToRange(this.localItem)
    }
  },

  created () {
    if (typeof this.units !== 'string') {
      this.rangeUnit = this.units[0]
    }
  },

  mounted () {
    document.documentElement.style.setProperty('--icon-color', colorsMap[this.icon.color] || '#004BC8')
  },

  methods: {
    itemToRange (value) {
      return Math.max(this.startVal, Math.min(value, this.endVal))
    },

    getGapStyle (item) {
      let result = ((this.endVal - this.itemToRange(item)) / (this.endVal - this.startVal)) * 100
      return {
        left: 0,
        right: `${result}%`,
        backgroundColor: colorsMap[this.color]
      }
    },

    changeVal (item) {
      this.localItem = this.itemToRange(item)
      const unit = typeof this.units !== 'string' ? this.rangeUnit.label : this.units
      if (!this.onlyVal) {
        this.$emit('input', { value: item, unit: unit })
      } else {
        this.$emit('input', item)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../../assets/style/ob-style";

  @mixin slider-thumbs() {
    pointer-events: all;
    position: relative;
    outline: 0;
    width: 1em;
    height: 1em;
    z-index: 10;
    background: transparent;
    cursor: move;
    border: 0;
  }

  @mixin slider-tracks() {
    pointer-events: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 1em;
    background: $lavender;
    border: 0;
  }

  :root {
    --icon-color: $color-blue-navy-blue;
  }

  .ob-range {
    width: 100%;
    height: 52px;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: $color-grey-label;
    background-color: $background-white;
    border: 1px solid $very-pale-blue;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .ob-range__header {
    display: flex;
    background: white;
    position: relative;
  }

  .ob-range__labels {
    flex: 1 0 0;
    display: flex;
  }

  .ob-range__label {
    padding: 6px 12px 9px;
    flex: 1 0 0;

    .icon {
      display: flex;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      font-size: 2em;
      color: var(--icon-color);
    }
  }

  .ob-range__label-value {
    font-size: 16px;
    color: $cobalt-black;

    span {
      color: $gray-window;
    }
  }

  .ob-range__content {
    position: relative;
    height: 10px;
    top: -8px;
    pointer-events: none;
  }

  input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1em;
    z-index: 1;
    @include slider-tracks();

    &:active,
    &:focus {
      outline: 0;
      z-index: 2;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    &::-webkit-slider-runnable-track {
      margin: 0 -0.5em;
    }

    &::-moz-range-track {
      @include slider-tracks();
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include slider-thumbs();
    }

    &::-moz-range-thumb {
      -moz-appearance: none;
      @include slider-thumbs();
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  .ob-range-gap {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;

    &:after {
      content: "";
      width: 4px;
      height: 16px;
      background-color: $light-denim;
      position: absolute;
      right: 0;
      top: -6px;
    }

    span {
      position: absolute;
      left: 50%;
      bottom: calc(100% + 14px);
      transform: translateX(-50%);
    }
  }

  .ob-range__inputs {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
  }

  .is-disabled,
  .ob-range-gap.is-disabled:before,
  .ob-range-gap.is-disabled:after {
    background-color: gray !important;
  }

  .is-disabled input[type="range"] {
    &::-webkit-slider-thumb {
      cursor: text !important;
    }
  }

  .is-disabled input[type="range"] {
    &::-moz-range-thumb {
      cursor: not-allowed;
    }
  }
</style>
