<template>
  <div class="table-radio">
    <template v-if="column.items || data.item.items">
      <template v-for="(item, index) in column.items || data.item.items">
        <ObRadio
            :key="index"
            :valueInput="item.value"
            :label="item.title"
            v-model="value"
            :data-qa="dataQa"
            :disabled="isDisabled"
            :class="[
              'obRadioField',
              highlightClass
            ]"
            @change="onChange($event)"
        />
      </template>
    </template>
  </div>
</template>

<script>
import ObRadio from '../../../obRadio'
import tableRowMixin from './tableRowMixin'

export default {
  name: 'TableRowRadio',
  components: {
    ObRadio
  },
  mixins: [
    tableRowMixin
  ],
  mounted () {
    this.value = this.column.isEditHtml ? this.getTableCellHtml(this.data.item, this.column) === 'true' : this.data.item[this.column.key]
  },
  methods: {
    async onChange (value) {
      await this.onFieldChanged(value)

      this.onFieldBlur()
    }
  }
}
</script>
