<template>
  <ObSelect
    :value="value"
    :items="column.items || data.item.items"
    :initial-value="column.initialValue || data.item.initialValue"
    :data-qa="dataQa"
    :disabled="isDisabled"
    :width-inherit="false"
    :remote-opt="column.remoteOpts || data.item.remoteOpts"
    :display-exp="column.displayExp || data.item.displayExp || 'title'"
    :is-dropdown="valueType === 'CHECKLIST_LIST'"
    :class="[
      'obSelectField',
      highlightClass
    ]"
    :is-clearable="!column.highlight && column.isClearable"
    :is-compact-dropdown="isCompactChecklist"
    placeholder="Выберите"
    @open="onFieldFocus"
    @close="onFieldBlur(false)"
    @input="onInput($event)"
  />
</template>

<script>
import ObSelect from '../../../obSelect'
import tableRowMixin from './tableRowMixin'

export default {
  name: 'TableRowSelect',
  components: {
    ObSelect
  },
  mixins: [
    tableRowMixin
  ],
  data () {
    return {
      localValue: null // Using to checking for external table updates
    }
  },
  computed: {
    itemValue () {
      // Set value to 'null' if there is no match, because
      // 'isClearable' property using 'uuid = null' for <ObSelect>
      return this.data.item.value || this.data.item[this.column.key] || null
    },
    isCompactChecklist () {
      return (
        (this.column.isCompactChecklist || this.data.item.isCompactChecklist) &&
        (this.valueType === 'CHECKLIST_LIST')
      )
    }
  },
  mounted () {
    this.updateValue()
  },
  updated () {
    // 'updated()' can be called even if there is no changes in table data,
    // so we can loose new selected value if will not check for updates
    if (this.localValue !== this.itemValue) {
      // When table was updated externally need to fetch new value
      this.updateValue()
    }
  },
  methods: {
    updateValue () {
      this.localValue = this.itemValue
      this.value = this.itemValue
    },
    async onInput (value) {
      await this.onFieldChanged(value)

      this.onFieldBlur()
    }
  }
}
</script>
