<template>
  <div
    :data-qa="dataQa"
    :class="['ob-card-path', showLabel ? 'ob-card-path--label' : '']"
  >
    <div
      v-if="showLabel"
      class="ob-card-path__label"
      :style="labelStyle"
    >
      <i :class="['icon', labelIcon]" />
      {{ labelText }}
    </div>
    <div class="ob-card-path__header">
      <div class="ob-card-path__header-info">
        <div class="ob-card-path__price">
          {{ dots.price }} ₽
        </div>
        <div class="ob-card-path__dates">
          {{ dots.startDate }} – {{ dots.endDate }}
        </div>
        <div class="ob-card-path__route-info">
          <i class="icon map" />
          {{ dots.routeLength }} ≈ {{ dots.routeDuration }}
        </div>
      </div>
      <div class="ob-card-path__header-details">
        <p v-if="dots.vatInPercents && dots.vatInPercents > 0">
          Включая НДС {{ dots.vatInPercents }}%
        </p>
        <p v-else>
          НДС не облагается
        </p>
        <p v-if="!tariffByHand">
          Договор
          <router-link :to="`/contract/${dots.contractUuid}`">
            {{ dots.contractNumber }}
          </router-link>
        </p>
      </div>
    </div>
    <div class="ob-card-path__content">
      <div class="ob-card-path__route">
        <div class="ob-card-path__location">
          <div class="location-icons">
            <i
              v-for="(i, index) in dots.dots[0].dots"
              :key="index"
              :class="['icon', i == 'from'?'zagr':'razgr']"
            />
          </div>
          <i class="icon city" />
          <div>
            <p>
              {{ dots.dots[0].title }}
            </p>
            {{ dots.startDate }}
          </div>
        </div>
        <div class="ob-card-path__transport">
          <i :class="['icon', dots.dots[1].icon]" />
          <div class="ob-card-path__transport-info">
            <div class="ob-card-path__transport-title">
              {{ dots.dots[1].title }}
            </div>
            <div class="ob-card-path__transport-qty">
              {{ dots.dots[1].count }}x
            </div>
          </div>
        </div>
        <div class="ob-card-path__location">
          <div class="location-icons">
            <i
              v-for="(i, index) in dots.dots[2].dots"
              :key="index"
              :class="['icon', i == 'from'?'zagr':'razgr']"
            />
          </div>
          <i class="icon city" />
          <div>
            <p>
              {{ dots.dots[2].title }}
            </p>
            {{ dots.endDate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ObCardPath',
  props: {
    dots: {
      type: Object,
      default: () => {}
    },
    showLabel: {
      type: Boolean,
      default: false
    },

    labelText: {
      type: String
    },

    labelIcon: {
      type: String
    },

    labelColor: {
      type: String
    },

    tariffByHand: {
      type: Boolean,
      default: false
    },
    dataQa: {
      type: String
    }
  },
  data () {
    return {}
  },
  computed: {
    labelStyle () {
      return `background-color: ${this.labelColor};`
    },
    startDate () {
      return this.dots.startDate || '0'
    },
    endDate () {
      return this.dots.endDate || '0'
    },
    routeLength () {
      return this.dots.routeLength || '0'
    },
    routeDuration () {
      return this.dots.routeDuration || '0'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../static/css/main.scss';
@import "../../static/css/mixins.scss";

.ob-card-path {
  width: 100%;
  position: relative;
  padding: 21px 28px 30px;
  background-color: $background-white;
  border-radius: 4px;
}

.ob-card-path__header-info {
  display: flex;
}

.ob-card-path__price {
  margin-right: 61px;
  @include font-mixin(30px, 36px, 700, $shale-gray, 0.4px);
}

.ob-card-path__dates {
  margin-top: 9px;
  margin-right: 50px;
  @include font-mixin(12px, 16px, 700, $shale-gray, 0.4px);
}

.ob-card-path__route-info {
  display: flex;
  align-items: center;
  @include font-mixin(12px, 16px, 400, $color-grey-span, 0.4px);

  .icon {
    margin-right: 6px;
    font-size: 15px;
    color: $cobalt;
  }
}

.ob-card-path__header-details {
  display: flex;
  margin-top: -6px;
  @include font-mixin(10px, 20px, 400, $color-grey-span, 0.4px);

  p:first-child {
    margin-right: 21px;
  }

  a {
    color: $cobalt;
    text-decoration: none;
  }
}

.ob-card-path__route {
  position: relative;
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  border-top: 2px dotted $cornflower-craiola;
}

.ob-card-path__location {
  margin-top: -19px;
  display: flex;
  flex-direction: column;

  div {
    @include font-mixin(12px, 16px, 400, $shale-gray, 0.4px);
  }

  p {
    @include font-mixin(10px, 12px, 700, $color-grey-span, 1px, uppercase);
  }

  &:last-of-type {
    text-align: right;
  }

  .icon {
    margin-bottom: 4px;
    font-size: 24px;
    color: $very-pale-blue;
  }
}

.ob-card-path__transport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-45%);
  top: -28px;

  .icon {
    font-size: 18px;
    color: $color-grey-span;
  }
}

.ob-card-path__transport-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.ob-card-path__transport-qty {
  padding: 0 3px;
  height: 18px;
  margin-right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-mixin(11px, 11px, 400, $shale-gray, 0.4px);
  border: 1px solid $color-grey-border;
  border-radius: 9px;
  background-color: $background-white;
}

.ob-card-path__transport-title {
  padding: 0 3px 0 17px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-mixin(10px, 10px, 400, $cobalt-black, 0.4px);
  border: 1px solid $color-grey-border;
  border-radius: 5px;
  background-color: $background-white;
}

.ob-card-path__label {
  padding: 0 10px;
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  align-items: center;
  height: 24px;
  @include font-mixin(12px, 14px, 400, $obCardPath-label_header_font_color, 0.4px);
  border-radius: 4px;

  .icon {
    margin-right: 7px;
    font-size: 16px;
    color: $obCardPath-label_header_font_color;
  }
}
</style>
