<template>
  <div
    :id="id"
    ref="datepicker"
    class="ob-date-picker-container date-wrap"
    :class="{'is-inline': isInline}"
  >
    <label
      v-if="!isInline"
      value="label"
      class="date-label"
    >{{ label }}</label>
    <div
      v-if="isInline"
      class="date-wrap__inline-label"
    >
      <div
        class="date-wrap__inline-label-title -cobalt"
        @click="toggle"
      >
        {{ displayDate }}
        <i
          v-if="isOpen"
          class="icon chevron-up"
        />
        <i
          v-if="!isOpen"
          class="icon chevron-down"
        />
      </div>
    </div>
    <Datepicker
      ref="date"
      v-model="selectedDate"
      data-attr="ob-date-picker-container"
      :value="value"
      :language="language"
      :monday-first="true"
      :disabled-dates="disabledDates"
      :calendar-button="true"
      :placeholder="placeholder"
      :format="format"
      :full-month-name="true"
      input-class="customize-input"
      calendar-button-icon="icon calendar"
      :data-qa="dataQa"
      @click.native="addAllCustoms"
      @selected="selectedHandler"
      @closed="closed"
    />
  </div>
</template>

<script>
import Vue from 'vue'
import Datepicker from 'vuejs-datepicker'
import { ru, en, zh } from 'vuejs-datepicker/dist/locale'
import { setTimeout } from 'timers'
import ObRadio from '../obRadio/index.vue'
import ObInput from '../obInput/index.vue'
import ObSelect from '../obSelect/index'
import UniqueIdMixin from '../../mixins/unique-id'

export default {
  name: 'ObDatePicker',
  components: {
    Datepicker
  },
  mixins: [
    UniqueIdMixin
  ],
  props: {
    value: {
      type: [String, Date],
      default: () => null
    },
    format: {
      type: String,
      default: 'dd.MM.yyyy'
    },
    placeholder: {
      type: String,
      default: 'дд.мм.гггг'
    },
    label: {
      type: String,
      default: 'label'
    },
    lang: {
      type: String,
      default: 'ru'
    },
    sinceTo: {
      type: Array,
      default: () => []
    },
    blockAll: {
      type: Boolean,
      default: () => false
    },
    allowHolidays: {
      type: Boolean,
      default: () => false
    },
    allowWeekends: {
      type: Boolean,
      default: () => false
    },
    allowAll: {
      type: Boolean,
      default: () => false
    },
    isOrder: {
      type: Boolean,
      default: () => false
    },
    isInline: {
      type: Boolean,
      default: () => false
    },
    dataQa: {
      type: String
    }
  },

  data () {
    return {
      langOfCalendar: { ru, en, zh },
      arrowIcon: '',
      btnsCreated: false,
      selectedDate: '',
      isOpen: false
    }
  },

  computed: {
    language () {
      return this.langOfCalendar[this.lang]
    },

    disabledDates () {
      const holidaysRange = this.allowHolidays ? [] : [
        {
          from: new Date(2020, 0, 1),
          to: new Date(2020, 0, 14)
        },
        {
          from: new Date(2020, 4, 1),
          to: new Date(2020, 4, 10)
        }
      ]
      let weekendRange = this.allowWeekends ? [] : [6, 0]
      const datesRange = []
      const rangesOptions = {
        default: {
          days: weekendRange,
          ranges: holidaysRange,
          dates: datesRange
        },
        allowHolidays: {
          days: weekendRange,
          ranges: holidaysRange,
          dates: datesRange
        },
        allowWeekends: {
          days: weekendRange,
          ranges: holidaysRange,
          dates: datesRange
        },
        allowAll: {}
      }
      if (this.sinceTo) {
        this.sinceTo.forEach(it => {
          holidaysRange.push({ from: new Date(it.from), to: new Date(it.to) })
        })
      }

      if (this.blockAll) {
        holidaysRange.push({ from: new Date(), to: new Date(2050, 0, 0) })
        rangesOptions.allowAll.ranges = holidaysRange
      }

      if (this.allowWeekends && this.allowHolidays) {
        weekendRange.length = 0
      }

      return this.allowHolidays ? rangesOptions.allowHolidays : this.allowWeekends ? rangesOptions.allowWeekends : this.allowAll ? rangesOptions.allowAll : rangesOptions.default
    },
    displayDate () {
      let date = new Date(this.selectedDate)
      return date.getDate() + '.' + (date.getMonth() + 1) + '.' + date.getFullYear()
    }
  },
  watch: {
    value (to) {
      this.selectedDate = new Date(to)
    }
  },
  created () {
    this.selectedDate = this.value
    this.addAllCustoms()
  },

  methods: {
    addAllCustoms () {
      this.addCustomButtons()
      this.blockAllFromToday()
    },

    addCustomButtons () {
      let calendar = document.querySelector('.vdp-datepicker__calendar')
      if (calendar && !this.btnsCreated) {
        this.btnsCreated = true
        calendar.appendChild(this.createElement('div', { className: 'btn-wrap' }, ''))
        if (!this.isOrder) {
          setTimeout(this.createCustomButtonsVNode, 0)
        } else {
          calendar.appendChild(this.createElement('div', { className: 'input-wrap' }, ''))
          calendar.insertBefore(this.createElement('div', { className: 'header-wrap' }, ''), calendar.firstChild)
          setTimeout(this.createOrderControls, 0)
        }
      }
    },

    createOrderControls () {
      let vm = this
      let type = '0'
      let timeVal = '12:00'
      let items = [
        {
          uuid: '12:00',
          title: '12:00'
        },
        {
          uuid: '12:30',
          title: '12:30'
        }
      ]
      new Vue({
        render (h) {
          const btns = h('div', { class: 'btn-wrap' }, [
            h('span', { class: 'btn btn-ok', on: { click: vm.closeCalendar } }, 'Выбрать')
          ])
          return btns
        }
      }).$mount('.btn-wrap')
      new Vue({
        components: { ObRadio },
        render (h) {
          const radio = h('div', { class: 'header-wrap' }, [
            h('ob-radio', { attrs: { label: 'Погрузка', valueInput: '0', value: type },
              domProps: { value: type },
              on: { input: function (event) { self.$emit('input', event.target.value) } }
            }),
            h('ob-radio', { attrs: { label: 'Выгрузка', valueInput: '1', value: type },
              domProps: { value: type },
              on: { input: function (event) { self.$emit('input', event.target.value) } }
            })
          ])
          return radio
        }
      }).$mount('.header-wrap')

      new Vue({
        components: { ObInput, ObSelect },
        render (h) {
          const inputBlock = h('div', { class: 'input-wrap' }, [
            h('span', { class: 'date-time-title' }, 'Дата и время'),
            h('ob-input', { attrs: { label: 'Дата', value: vm.selectedDate }, domProps: { value: vm.selectedDate } }),
            h('ob-select', { attrs: { label: 'Время', items: items, value: timeVal }, domProps: { value: timeVal } })
          ])

          return inputBlock
        }
      }).$mount('.input-wrap')
    },
    createCustomButtonsVNode () {
      let vm = this
      new Vue({
        render (h) {
          const btns = h('div', { class: 'btn-wrap' }, [
            h('span', { class: 'btn btn-now', on: { click: vm.dateNow } }, 'Сейчас'),
            h('span', { class: 'btn btn-ok', on: { click: vm.closeCalendar } }, 'OK')
          ])
          return btns
        }
      }).$mount('.btn-wrap')
    },

    dateNow () {
      this.selectedDate = new Date().toISOString().slice(0, 10)
      this.$emit('input', this.selectedDate)
    },

    closeCalendar () {
      this.$refs.date.close()
    },

    selectedHandler ($event) {
      this.selectedDate = $event.toISOString().slice(0, 10)
      this.$emit('input', this.selectedDate)
      this.$refs.datepicker.dataset.value = this.selectedDate
      this.isOpen = false
      this.$emit('change')
    },

    blockAllFromToday () {
      if (this.blockAll) {
        this.disabledDates.ranges.push({ from: new Date(), to: new Date(2050, 0, 0) })
      }
    },

    createElement (tagName, params, inner) {
      let el = document.createElement(tagName)
      Object.keys(params).forEach(it => {
        el[it] = params[it]
      })
      return el
    },
    toggle () {
      this.$el.querySelector('.customize-input').click()
      if (!this.isOpen) {
        this.isOpen = true
      }
    },
    closed () {
      setTimeout(() => {
        this.isOpen = false
        this.$emit('change')
      })
    }
  }
}
</script>

<style lang="scss">
  // .date-wrap {
  //   /*width: 100%;*/
  //   height: 52px;
  //   position: relative;

  //   &__inline-label {
  //     display: inline-flex;
  //     align-self: center;
  //     cursor: pointer;

  //     &-title {
  //       display: inline-flex;

  //       & i {
  //         margin-left: 4px;
  //       }
  //     }
  //   }
  //   &.is-inline {
  //     display: inline-flex;
  //     height: 20px;
  //   }
  // }

  // .vdp-datepicker {
  //   display: flex;
  //   justify-content: center;

  //   &__calendar {
  //     width: 317px;
  //     max-width: 317px;
  //     min-width: 317px;
  //     position: absolute;
  //     top: 52px;
  //     box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.3) !important;
  //     padding: 15px;
  //     z-index: 9999 !important;

  //     .is-inline & {
  //       margin-top: -30px;
  //     }
  //   }
  // }

  // .date-label {
  //   position: absolute;
  //   color: #757884;
  //   top: 10px;
  //   font-size: 12px;
  //   left: 14px;
  //   z-index: 10;
  // }

  // .day__month_btn:hover {
  //   background: transparent !important;
  // }

  // .day-header {
  //   margin-bottom: 10px;
  //   color: #737682;
  //   position: relative;
  //   text-transform: uppercase;

  //   &::after {
  //     content: "";
  //     display: block;
  //     width: 105%;
  //     height: 1px;
  //     position: absolute;
  //     top: 105%;
  //     left: 0;
  //     background: #D1D2D6 !important;
  //   }
  // }

  // .cell:not(.month) {
  //   width: 40.5px !important;
  //   height: 40.5px !important;
  // }

  // .cell:hover:not(.disabled) {
  //   border: 1px solid transparent !important;
  // }

  // .month {
  //   margin: 5px !important;
  //   width: auto !important;
  // }

  // .selected:not(.day) {
  //   background: #004BC8 !important;
  //   color: #ffffff;
  //   border-radius: 0px !important;
  // }

  // .selected:not(.month) {
  //   background: #004BC8 !important;
  //   color: #ffffff;
  //   border-radius: 50%;
  // }

  // .disabled {
  //   background: none;
  //   color: #A3A5AD !important;
  // }

  // .next, .prev {
  //   background: url('../../assets/img/arrow.svg') !important;
  //   background-size: 40% !important;
  //   background-position: center center !important;
  //   background-repeat: no-repeat !important;
  // }

  // .prev {
  //   transform: rotate(180deg);
  // }

  // .next::after,
  // .prev::after {
  //   content: "" !important;
  //   display: none;
  // }

  // .customize-input {
  //   width: 100% !important;
  //   border: 1px solid #D1D2D6;
  //   padding: 25px 12px 8px;
  //   border-radius: 3px;
  //   font-size: 16px;
  //   outline: none;
  //   color: #191E32 !important;

  //   .is-inline & {
  //     display: none;
  //   }
  // }

  // .vdp-datepicker div {
  //   width: 100% !important;
  // }

  // .vdp-datepicker__calendar-button {
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   right: 10px;

  //   .is-inline & {
  //     display: none;
  //   }
  // }

  // .btn-wrap {
  //   display: flex;
  //   justify-content: space-around;
  //   padding: 10px;
  // }

  // .btn {
  //   color: #004BC8;
  //   padding: 10px 25px;
  //   cursor: pointer;
  //   display: block;
  // }

  // .btn-ok {
  //   border: 2px solid #004BC8;
  //   border-radius: 25px;
  // }
</style>
