<template>
  <div
    class="ob-show-more-container"
    :class="containerClasses"
  >
    <div
      ref="content"
      class="toggle-content"
      :style="contentStyles"
    >
      <slot />
    </div>
    <button
      v-if="isShowMore"
      class="toggle-button"
      :data-qa="dataQa"
      @click="toggle"
    >
      <span>{{ buttonTitle }}</span>
      <i
        v-if="!hideArrow && !isCompact"
        class="icon"
        :class="arrowClass"
      />
    </button>
  </div>
</template>
<script>
const TRANSITION_TIME = 200

export default {
  name: 'ObShowMore',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    height: {
      type: Number,
      default: 200
    },
    hideArrow: {
      type: Boolean,
      default: false
    },
    showText: {
      type: String,
      default: 'Показать все'
    },
    hideText: {
      type: String,
      default: 'Скрыть'
    },
    dataQa: {
      type: String
    },
    isCompact: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      opened: false,
      isShowMore: false,
      contentHeight: 0,
      showButton: true
    }
  },
  computed: {
    containerClasses () {
      return {
        '--is-show-more': !this.opened && this.isShowMore,
        '--opened': this.opened,
        '--is-compact': this.isCompact
      }
    },
    buttonTitle () {
      return this.opened ? this.hideText : this.computedShowText
    },
    computedShowText () {
      return this.isCompact ? 'еще...' : this.showText
    },
    contentStyles () {
      return {
        maxHeight: this.opened ? this.contentHeight + 'px' : this.height + 'px'
      }
    },
    arrowClass () {
      return this.opened ? 'chevron-up' : 'chevron-down'
    }
  },
  watch: {
    value (val) {
      if (this.opened !== val) {
        this.opened = val
      }
    }
  },
  mounted () {
    this.calcHeight()
    this.opened = this.value
  },
  updated () {
    this.calcHeight()
  },
  methods: {
    calcHeight () {
      let contentHeight = this.$refs.content && this.$refs.content.scrollHeight
      this.contentHeight = contentHeight
      this.isShowMore = contentHeight > this.height
    },
    toggle () {
      if (!this.opened) {
        this.calcHeight()
      } else {
        this.checkScroll()
      }
      this.$nextTick(() => {
        this.opened = !this.opened
        this.$emit('input', this.opened)
      })
    },
    checkScroll () {
      let contentTop = this.$refs.content.getBoundingClientRect().top

      if ((contentTop + this.height) < 0) {
        setTimeout(() => {
          this.$refs.content.scrollIntoView({
            behavior: 'smooth',
            block: 'start'
          })
        }, TRANSITION_TIME)
      }
    }
  }
}
</script>
<style
  lang="scss"
  scoped
>
  .ob-show-more-container {
    position: relative;
    .toggle-content {
      position: relative;
      transition: max-height .2s linear;
      overflow: hidden;
      &:after {
        content: '';
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background: linear-gradient(to top, $obShowMore_toggle_content_gradient_color_1_after 0%, $obShowMore_toggle_content_gradient_color_2_after 100%);
      }
    }
    .toggle-button {
      margin-top: 5px;
      margin-bottom: 10px;
      padding: 0;
      border: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      color: $color-blue-navy-blue;
      font-size: 12px;
      i {
        padding-left: 3px;
      }
    }
    &.--is-show-more {
      .toggle-content {
        &::after {
          display: block;
        }
      }
    }
    &.--opened {
      .toggle-content {
        &::after {
          display: none;
        }
      }
    }
    &.--is-compact {
      .toggle-content {
        &::after {
          display: none;
        }
      }
      &:not(.--opened) {
        .toggle-button {
          position: absolute;
          bottom: 1px;
          right: 0;
          margin: 0;
          padding: 0 8px;
          background-color: #fff;
          border-radius: 3px;
        }
      }
    }
  }
</style>
