<template>
  <div
    :data-qa="dataQa"
    class="ob-info-block"
  >
    <div class="ob-info-block__top-section">
      <div class="ob-info-block__top-inner">
        <div class="ob-info-block__name">
          <span class="ob-info-block__name-text">{{ info.panelName }}</span>
          <i :class="['ob-info-block__name-icon icon', info.panelIcon]" />
        </div>
        <div class="ob-info-block__row">
          <div
            v-if="info.panelTopRows.client && info.panelTopRows.client.visible"
            class="ob-info-block__row-section"
          >
            <span class="ob-info-block__label">{{ info.panelTopRows.client.label }}</span>
          </div>
          <div
            v-if="info.panelTopRows.client && info.panelTopRows.client.visible"
            class="ob-info-block__row-section"
          >
            <i :class="['ob-info-block__icon icon', info.panelTopRows.client.icon]" />
            <span class="ob-info-block__value">{{ info.panelTopRows.client.value }}</span>
          </div>
        </div>
        <div class="ob-info-block__row">
          <div
            v-if="info.panelTopRows.contractor && info.panelTopRows.contractor.visible"
            class="ob-info-block__row-section"
          >
            <span class="ob-info-block__label">{{ info.panelTopRows.contractor.label }}</span>
          </div>
          <div
            v-if="info.panelTopRows.contractor && info.panelTopRows.contractor.visible"
            class="ob-info-block__row-section"
          >
            <i :class="['ob-info-block__icon icon', info.panelTopRows.contractor.icon]" />
            <span class="ob-info-block__value">{{ info.panelTopRows.contractor.value }}</span>
          </div>
        </div>
        <div class="ob-info-block__row">
          <div
            v-if="info.panelTopRows.logist && info.panelTopRows.logist.visible"
            class="ob-info-block__row-section"
          >
            <span class="ob-info-block__label">{{ info.panelTopRows.logist.label }}</span>
          </div>
          <div
            v-if="info.panelTopRows.logist && info.panelTopRows.logist.visible"
            class="ob-info-block__row-section"
          >
            <ob-tooltip>
              <div slot="content">
                <div class="tooltip">
                  {{ info.panelTopRows.logist.phone }}
                  <a :href="`mailto:${info.panelTopRows.logist.email}`">{{ info.panelTopRows.logist.email }}</a>
                </div>
              </div>
              <i :class="['ob-info-block__icon icon', info.panelTopRows.logist.icon]" />
            </ob-tooltip>
            <span class="ob-info-block__value">{{ info.panelTopRows.logist.value }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="ob-info-block__bottom-section">
      <slot name="status" />
      <slot name="bottom" />
    </div>
  </div>
</template>

<script>
import ObTooltip from '../obTooltip'
export default {
  components: {
    ObTooltip
  },
  props: {
    info: {
      type: Object,
      default: () => {}
    },
    dataQa: {
      type: String
    }
  },
  data () {
    return {
    }
  }
}
</script>

<style lang="scss">
  @import "../../static/css/mixins";
  @import "../../static/css/variables";
  .ob-info-block {
    background: $background-white;
    max-width: 350px;

    &__top-section {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 15px 30px;
      &:after{
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        background: $color-grey-border;
        opacity: .5;
      }
    }

    &__top-inner{
      width: 100%;
      position: relative;
      align-items: flex-start;
      /*border: 1px solid red;*/
    }

    &__name{
      position: absolute;
      right: 0;
      top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50px;

      &-text{
        margin: 0 5px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        text-align: right;
        letter-spacing: 0.4px;
        color: $gray-slate;
        mix-blend-mode: normal;
      }

      &-icon{
        color: $color-blue-navy-blue;
        font-size: 12px;
      }
    }

    &__row {
      /*border: 1px solid red;*/
      width: 100%;
      padding: 5px 0;
      &-section {
        display: flex;
        align-items: center;
      }
    }

    &__label {
      margin: 2px 0;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.4px;
      color: $gray-slate;
      mix-blend-mode: normal;
    }

    &__icon {
      color: $color-blue-navy-blue
    }

    &__value {
      margin: 0 5px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $gray-slate;
    }

    &__bottom-section{
      width: 100%;
      display: inline-block;
      padding: 15px 30px;
      .ob-order-button{
        text-align: center;
      }
      .ob-order-info-status{
        position: relative;
        margin: 10px 0;
        float: left;
        width: 100%;
        &-item {
          position: relative;
          float: left;
          width: 100%;
          margin-bottom: 15px;
          @include font-mixin(14px, 20px, 400, $color-text-base, 0);
          i{
            float:left;
            color: $color-grey-border;
            font-size: 16px;
            top:0;
            left: 0;
            position: absolute;
          }
          span{
            margin-left: 26px;
            display: inline-block;
          }
          &.active {
            @include font-mixin(14px, 20px, 400, $color-green-light, 0);
            i{
              color: $color-green-light;
            }
          }
        }
      }
    }
  }
</style>
