<template>
  <div
    class="ob-ctrlgroup"
    :class="containerClass"
  >
    <div class="ob-ctrlgroup__content">
      <button
        v-for="(item, index) in items"
        :key="item.value"
        type="button"
        class="ob-ctrlgroup__item"
        :class="getItemClass(item)"
        :data-qa="dataQa + '_' + index"
        @click.prevent="!item.disabled && onItemClicked(item.value)"
      >
        <i
          v-if="item.icon"
          :class="['icon', item.icon]"
        />
        {{ item.label }}
        <div
          v-if="item.tooltip"
          class="button-tooltip"
        >
          <ob-tooltip :content="item.tooltip">
            <i :class="['icon', item.tooltipIcon ? item.tooltipIcon : tooltipIcon]" />
          </ob-tooltip>
        </div>
      </button>
      <div class="ob-ctrlgroup__item ob-ctrlgroup__item--extra">
        <slot name="extra" />
      </div>
    </div>
  </div>
</template>
<script>
import obTooltip from '../obTooltip'

export default {
  name: 'ObControlGroup',

  components: {
    obTooltip
  },

  props: {
    value: {
      type: [String, Array]
    },

    items: {
      type: Array,
      required: true
    },

    activeClass: {
      type: String,
      default: 'active'
    },

    multiselect: {
      type: Boolean,
      default: false
    },

    tooltip: {
      type: String
    },

    tooltipIcon: {
      type: String,
      default: 'info'
    },

    disabled: {
      type: Boolean,
      default: false
    },

    theme: {
      type: String,
      default: 'default'
    },

    height: {
      type: String,
      defult: 'default'
    },

    dataQa: {
      type: String
    }
  },

  data () {
    return {
      activeValue: ''
    }
  },

  computed: {
    containerClass () {
      return ['--theme-' + this.theme, this.multiselect ? 'ob-ctrlgroup--multiple' : 'ob-ctrlgroup--single', this.height === 'slim' ? 'ob-ctrlgroup--slim' : 'ob-ctrlgroup--default']
    }
  },

  watch: {
    value (val) {
      if (val !== this.activeValue) {
        this.activeValue = val
      }
    }
  },

  created () {
    this.activeValue = this.value
  },

  methods: {
    getItemClass (item) {
      return {
        [this.activeClass]: item.value === this.activeValue || (this.multiselect && this.activeValue.includes(item.value)),
        '--disabled': item.disabled || this.disabled
      }
    },
    onItemClicked (value) {
      if (this.disabled) return
      if (this.multiselect) {
        if (!Array.isArray(this.activeValue)) {
          this.activeValue = [this.activeValue]
        }
        if (this.activeValue.includes(value)) {
          this.activeValue = this.activeValue.filter(item => item !== value)
        } else {
          this.activeValue.push(value)
        }
        this.$emit('input', this.activeValue)
      } else {
        if (this.activeValue !== value) {
          this.activeValue = value
          this.$emit('input', this.activeValue)
        }
      }
    }
  }
}
</script>
<style
  lang="scss"
  scoped
>
  .ob-ctrlgroup {
    position: relative;
    display: inline-flex;
    border-radius: 3px;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 1px 1px $color-grey-border;
      border-radius: 3px;
      pointer-events: none;
    }
    &__content {
      display: flex;
    }
    &__item {
      position: relative;
      min-width: 110px;
      padding: 0 27px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.4px;
      transition: background-color 0.3s ease-out, color 0.3s ease-out;
      outline: none;
      appearance: none;
      border: 1px solid transparent;
      border-radius: 0;
      cursor: pointer;
      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &.active {
        .ob-ctrlgroup--single & {
          cursor: default;
        }
        z-index: 10;
      }
      &.--disabled {
        cursor: not-allowed;
      }
      .icon {
        margin-right: 10px;
        color: $color-blue-navy-blue;
        font-size: 24px;
      }
      .button-tooltip {
        margin-left: 10px;
        font-size: 12px;

        &:only-child {
          margin-left: 0;
          font-size: 14px;
        }
      }
      &--extra {
        padding: 0;
        min-width: 300px;
        display: block;
        overflow: hidden;
        border-left: 1px solid $color-grey-border;
        &:empty {
          display: none;
        }
      }
      &:not(:last-of-type) {
        border-right: 1px solid $color-grey-border;
      }
    }
    &.--theme-default {
      .ob-ctrlgroup__item {
        &:hover {
          z-index: 10;
          background-color: $color-blue-navy-blue;
          color: white;
          .icon:before {
            color: white;
          }
        }
        &--extra {
          &:hover {
            z-index: auto;
          }
        }
        &.--disabled {
          background-color: white !important;
          color: $color-text-base !important;
          .icon:before {
            color: $color-blue-navy-blue !important;
          }
          &.active {
            z-index: 10 !important;
            background-color: $color-grey-border !important;
            color: white !important;
            .icon:before {
              color: white !important;
            }
          }
          &:hover {
            z-index: auto;
          }
        }
        &.active {
          background-color: $color-blue-navy-blue;
          color: white;
          box-shadow: inset 0px 2px 3px $obControlGroup-default_item_active_box_shadow;
          .icon:before {
            color: white;
          }
        }
      }
    }
    &.--theme-light {
      .ob-ctrlgroup__item {
        color: $color-blue-navy-blue;
        &.active {
          background-color: $blue-blue-hoarfrost;
          box-shadow: inset 0px 2px 3px rgba($color-blue-navy-blue, 0.4);
        }
        &:hover {
          background-color: $light-lavender;
        }
        &:focus {
          z-index: 10;
          border-color: $color-blue-navy-blue;
          &:not(:last-of-type) {
            border-right: 1px solid $color-blue-navy-blue;
          }
        }
        &.--disabled {
          cursor: default !important;
          color: $color-grey-label !important;
          .icon {
            color: $color-grey-label !important;
          }
          &.active {
            background-color: $color-grey-border !important;
            box-shadow: inset 0px 2px 3px $obControlGroup-light_item_active_box_shadow !important;
            color: $color-text-base !important;
          }
        }
      }
    }
    &--default {
      height: 50px;
    }
    &--slim {
      height: 40px;
    }
  }
  ::v-deep {
    .ob-selector__select {
      border: none;
      border-radius: 0;
    }

    .button-tooltip .icon {
      font-size: 12px;
    }
  }
</style>
